
<pre class="protocolContent" style="width:100%;
                                background-color: #fff;border:none;border-radius:0;
                                white-space:pre-wrap;padding: 10px 0px;
                                margin: 0;word-wrap: break-word;line-height: 20px;">
<b>特别提醒：深圳市中兴金控商业保理有限公司（“中兴保理”）通过其合法运营的网址：【】（“网站”），已经开发及将来不时开发的实现部分或全部网站功能的移动终端软件（“APP”，包括但不限于手机客户端以及不时开发的移动客户端软件或工具，APP名称为【】），以及已经开发或将来不时开发的实现部分或全部网站功能的微信公众账号（“微信公众号”）（网站、APP与微信公众号统称“晨蜂金融平台”或“平台”）提供服务。本协议是用户与中兴保理之间就晨蜂金融平台服务等相关事宜所订立的契约，在双方之间具有合同上的法律效力，协议签署地为广东省深圳市南山区。中兴保理在此特别提醒用户认真阅读、充分理解本协议各条款，特别是其中所涉及的免除及限制中兴保理责任的条款、限制用户权利的条款等，并选择接受或不接受本协议。</b>

用户：<span id="usernamep"></span>
法定代表人：<span id="legalp"></span>
地址：<span id="addrp"></span>
联系人： <span id="contactorp"></span>                           电子邮箱：<span id="emailp"></span>
联系电话：<span id="phonenump"></span>

深圳市中兴金控商业保理有限公司
法定代表人：韦在胜
地址：深圳市前海深港合作区前湾一路1号A栋201室（入驻深圳市前海商务秘书有限公司）
联系人： 贺远                   电子邮箱：he.yuan50@zte.com.cn
联系电话：0755-26770620

1.<i>服务确认和接纳</i>
1.1晨蜂金融平台只接受依法成立并合法存续，能够独立承担法律责任的企事业单位注册并认证成为用户。若用户不符合资格，中兴保理有权随时中止或终止注册、认证程序。
1.2用户按照平台规定开始注册、认证程序并勾选同意《晨蜂金融平台用户注册与服务协议》，即表示用户已充分阅读、理解并同意接受本协议的条款和条件，并签署了本协议。
1.3本协议内容包括本协议全部条款及平台已经发布的或将来可能发布的各类业务规则和指引。所有业务规则和指引为本协议不可分割的一部分，与本协议正文具有同等法律效力。
1.4本协议的效力范围及于晨蜂金融平台的所有产品和服务，用户在享受平台任何单项服务时，应当接受本协议的约束。

2.<i>定义</i>
如无特别说明，下列用语在本协议中的含义为：
2.1中兴通讯/开券人：指中兴通讯股份有限公司，作为基础合同项下的买方和应收账款债务人开具宝券。仅有中兴通讯可成为开券人。
2.2中兴康讯/原始持券人：指深圳市中兴康讯电子有限公司，为平台用户，作为基础合同项下的卖方和应收账款债权人签收中兴通讯开具的宝券，并根据平台业务规则和指引向供应商转让宝券。仅有中兴康讯可成为原始持券人。
2.3中兴保理：指深圳市中兴金控商业保理有限公司，其根据相关法律法规合法成立、有效存续并可以开展保理业务。中兴保理为平台运营方，同时也为宝券融资业务中的保理商。
2.4宝券：指中兴通讯成功开具的、显示基础合同项下中兴通讯与中兴康讯之间债权债务关系的应收账款凭证。成功开具的宝券，可作为晨蜂金融平台服务的交易基础。
2.5业务规则和指引：指晨蜂金融平台发布的届时有效的各项业务规则、操作流程、通知通告、使用说明和指引等文件，以及其不时被更新、替换、补充、修订的版本。
2.6本协议：指《晨蜂金融平台用户注册与服务协议》以及其任何有效的修订或补充。
2.7用户：指同意并接受本协议，根据晨蜂金融平台的业务规则和指引注册并申请认证审核的依法成立并合法存续的企事业单位。不论认证审核是否通过，用户均受本协议的约束。仅有通过中兴保理或其委托机构认证审核的用户方可使用平台提供的服务。
2.8操作员：指用户指定的管理员、业务经办人员、业务复核人员等，经用户明确授权，代表用户行使其意志，在平台上进行相关操作。
2.9供应商：指直接或间接向中兴康讯提供商品、服务等的企事业单位。
2.10应收账款：指《物权法》和《应收账款质押登记办法》所规定的应收账款。
2.11基础合同：指因中兴通讯与中兴康讯之间为提供一定的商品、服务而相应依法签署的有效合同。
2.12贸易合同：指因中兴康讯与供应商或供应商之间为提供一定的商品、服务而相应依法签署的有效合同。
2.13《宝券开具协议》：指中兴通讯与中兴康讯为宝券开具签署的《晨蜂金融平台宝券开具协议》。
2.14《宝券转让协议》：指转让人与受让人为宝券转让签署的《晨蜂金融平台宝券应收账款债权转让协议》。
2.15《宝券融资协议》：指融资人与中兴保理为宝券融资签署的《晨蜂金融平台宝券商业保理融资协议》。
2.16《债权转让通知》：指宝券转让或融资成功后，转让人或融资人通过平台向中兴通讯发送的宝券债权转让通知。晨蜂金融平台不接受任何非平台用户发送的、或非因宝券转让或融资产生的应收账款债权转让通知。
2.17平台协议：指用户依据晨蜂金融平台业务规则和指引在平台进行业务操作所形成的各种合同文本，包括且不限于本协议、《宝券开具协议》、《宝券转让协议》、《宝券融资协议》以及其任何有效的修改或补充等。
2.18持券人：指根据晨蜂金融平台的业务规则和指引通过认证审核并持有宝券的用户。持券人包括中兴康讯以及其他通过认证审核并成功受让宝券的用户。
2.19转让人：指根据晨蜂金融平台的业务规则和指引通过认证审核并申请转让宝券的用户。
2.20受让人：指根据晨蜂金融平台的业务规则和指引通过认证审核并签收宝券的用户。
2.21融资人：指以其持有的宝券向中兴保理申请融资的持券人。
2.22加保申请人：指在晨蜂金融平台提起加保申请的持券人。
2.23加保机构：就宝券加保申请而言，指加保申请人在平台提起加保申请时，平台界面中显示的提供宝券加保服务的机构；就加保宝券而言，指为该加保宝券提供加保的机构。
2.24《宝券加保合作协议》：指由中兴保理与加保机构签署的合法有效的协议，具体为持券人在平台提起加保申请时，平台界面中显示的加保协议。
2.25加保宝券：指根据平台业务规则和指引成功加保的宝券，具体为平台的“我的宝券”模块下查询到的生成了“该宝券已被XX加保”（XX为加保机构名称）标识或记录的宝券。
2.26加保到期日：指加保机构承担宝券加保责任的到期日，即加保申请人申请加保时的宝券到期日后15个工作日，具体以宝券记载信息为准。
2.27加保宝券持有人：指通过认证审核并持有加保宝券的用户。
2.28宝券到期日：指根据宝券记载信息，中兴通讯履行宝券偿付义务，持券人获取宝券偿付款项的日期。如果持券人根据业务规则和指引延长宝券项下应收账款付款日并生效的，则该宝券到期日按延长的应收账款最晚付款日计算。
2.29签收有效期：指平台设定的关于受让人确认或拒绝转让人宝券转让申请的生效期限，具体以平台业务规则和指引为准。如果受让人未在该期限内确认宝券转让申请，则宝券转让不成功。
2.30用户结算账户：指用户在晨蜂金融平台成功绑定的同名银行结算账户。
2.31电子认证服务机构：指具有认证资格，接受中兴保理的委托，协助中兴保理办理用户认证并为认证通过的用户签发电子签名认证证书的服务机构。
2.32电子签名：指《中华人民共和国电子签名法》所规定的电子签名，是指数据电文中以电子形式所含、所附用于识别签名人身份并标明签名人认可其中内容的数据。
2.33电子签名认证证书、CA证书：指《中华人民共和国电子签名法》、《电子认证服务办法》以及其他法律法规规定的电子签名认证证书。
2.34工作日：指除国家法定节假日和休息日以外的中国大陆地区商业银行正常营业日。
2.35日：指自然日。

3.<i>用户认证</i>
3.1用户认证申请
(1)用户申请认证，应根据晨蜂金融平台的业务规则和指引，填写用户认证申请资料，上传用户认证申请文件。认证申请资料与文件包括但不限于用户基本信息、管理员身份信息与授权、用户在平台绑定的同名银行结算账户等，具体以用户申请认证时平台界面要求为准。
(2)用户在平台上成功提交认证申请信息后，应根据平台届时公示的认证要求，在指定的时间内，将有关纸质资料邮寄送达中兴保理。用户提交纸质材料后，中兴保理仍有权根据独立判断要求用户补充资料。
(3)用户承诺，其向平台提交的认证申请资料与文件均合法、真实、准确、完整和有效，因认证申请资料与文件不合法、不真实、不准确、不完整、无效或因用户的其它原因而产生的差错及损失，由用户承担责任。
3.2用户认证审核
(1)中兴保理依据用户在晨蜂金融平台上提交的申请资料对用户的认证申请进行线上审核。用户可通过平台查询用户认证申请的线上审核结果。
(2)中兴保理对用户提供的纸质资料进行线下审核。不论线下审核是否通过，中兴保理均无义务退还用户提交的纸质材料。
(3)用户通过线上审核但未通过线下审核的，中兴保理有权冻结其账户，限制其账户操作，由此产生的责任由用户自行承担。
(4)用户认证审核不通过的，用户有权再次申请认证。
3.3电子签名认证证书
(1)中兴保理委托电子认证服务机构为认证通过的用户办理电子签名认证证书。用户需按照电子认证服务机构和/或平台的要求获取电子签名认证证书，并按照正确的方法使用电子签名认证证书。
(2)用户了解并同意，其有责任保证电子签名认证证书的安全，不对其他任何人出借、泄露电子签名认证证书的相关信息。
(3)用户保证其操作员利用电子签名认证证书进行一切行为前均已获得用户的授权，为用户的真实意思表示，用户将对其及其操作员利用该电子签名认证证书所进行的一切行为负完全的责任。
(4)中兴保理通过用户的电子签名认证证书识别用户的指令。用户确认，用户使用电子签名认证证书操作所产生的电子信息记录均为用户行为的有效凭据，并由用户承担由此产生的全部责任。
(5)用户知悉并同意，由于用户每一次签署平台协议均需通过短信密码的验证方式使用电子签名认证证书，手机号码是用户进行平台交易的重要信息，是平台识别用户身份的依据，用户及其操作员应妥善保管和使用其手机设备、手机号码及其上接收的平台信息，确保其安全且不被他人使用。发生手机设备或手机号码丢失的，用户应立即以有效方式通知中兴保理，要求中兴保理暂停相关服务，否则由此产生的一切责任由用户自身承担。同时，用户理解中兴保理对用户的请求采取行动需要合理期限，在此之前，中兴保理对第三人使用该服务所导致的损失不承担任何责任。

4.<i>用户结算账户绑定</i>
4.1用户在使用平台部分服务或功能前，需先成功绑定其用户结算账户。
4.2晨蜂金融平台通过第三方机构向用户提供的同名银行结算账户随机打入一笔款项，用户在平台输入该笔款项具体金额进行验证。验证通过，用户结算账户绑定成功；验证失败，用户结算账户绑定失败。

5.<i>平台服务</i>
只有通过中兴保理或其委托机构认证审核的用户方可在晨蜂金融平台中使用以下全部或部分服务。同时，用户理解并同意，晨蜂金融平台或中兴保理无义务保证用户在提出宝券交易申请后，能够实际达成交易。
5.1宝券开具
中兴通讯为开券人及应收账款债务人，中兴康讯为原始持券人及应收账款债权人，双方根据集团内部系统以及平台的业务规则和指引规定的流程开具宝券，并签署《宝券开具协议》。成功开具的宝券，可作为晨蜂金融平台服务的交易基础。
5.2宝券转让
转让人作为宝券项下债权的所有权人，可将其有效持有的宝券项下全部或部分债权转让给其已通过平台认证的债权人，即受让人。转让人在提起宝券转让申请时，有权选择是否以延长宝券到期日的方式转让宝券。
(1)转让人根据平台的业务规则和指引，填写申请资料，上传申请文件（如需），并勾选《宝券转让协议》与《债权转让通知》，确认申请宝券转让。
(2)受让人根据平台的业务规则和指引，审核宝券转让信息，并勾选《宝券转让协议》，确认签收转让宝券。
(3)提请转让人与受让人注意，勾选《宝券转让协议》，视为转让人与受让人同意《宝券转让协议》的全部内容，并自愿签署《宝券转让协议》。
(4)转让人将其享有的所持宝券项下债权全部或部分转让给受让人，受让人应支付转让对价，该转让对价与转让人对受让人基于真实贸易合同项下的原有债务相互抵销。在抵销行为有效的前提下，受让人无需实际支付任何款项以获取被转让的宝券。
(5)受让人勾选《宝券转让协议》，确认签收宝券后，宝券转让成功并生成转让凭证。宝券转让成功，受让人为持券人，即应收账款的债权人。
(6)宝券转让成功后，平台将通过站内信方式，向开券人即中兴通讯发送《债权转让通知》，视为转让人就宝券债权转让履行了通知债务人的义务，转让人无需另行向中兴通讯进行通知，受让人亦予以确认。
(7)转让人在受让人签收转让宝券前可随时撤回宝券转让申请。转让人撤回宝券转让申请的，或受让人未在签收有效期内签收宝券的，或受让人拒绝签收宝券的，宝券转让失败。
(8)在与转让宝券相关的所有交易结果均确定前，转让宝券为冻结状态，转让人不得再次对该宝券提起转让申请、融资申请、到期付款申请或享受其他平台服务。
(9)转让人与受让人之间须存在真实的贸易合同，存在真实的货物、服务买卖关系及因该等贸易背景产生的真实的债权债务关系，从而转让人因转让宝券产生的债权抵销其对受让人相应的债务。平台禁止无真实贸易合同或虚构贸易合同的宝券转让行为。若经中兴保理查实存在该等情形，中兴保理有权采取约定或法律规定的措施。转让人与受让人之间因宝券转让产生的纠纷由双方自行解决。
5.3宝券融资
融资人作为持券人有权将其合法持有的未到期宝券，全部或部分转让给中兴保理，以达到融通资金的目的。中兴保理作为保理商有权决定接受或拒绝任何宝券融资申请。
(1)融资人根据平台的业务规则和指引，填写申请资料，上传申请文件（如需），并勾选《宝券融资协议》与《债权转让通知》，确认申请宝券融资。
(2)提请融资人注意，勾选《宝券融资协议》，视为融资人同意《宝券融资协议》的全部内容，并自愿签署《宝券融资协议》。
(3)中兴保理作为宝券融资的资金提供方，有权向融资人收取一定的利息和费用。宝券融资规则、融资款项实际发放日（以款项自中兴保理银行账户划出之日为准）、宝券融资的本金、利息及费用等计算方式以平台的业务规则和指引和/或《宝券融资协议》以及融资凭证的约定或记载为准。
(4)中兴保理审核通过宝券融资申请，勾选签署《宝券融资协议》，即宝券融资成功，持券人变更为中兴保理，融资人不再享有宝券项下的债权，中兴保理为宝券项下的债权人。中兴保理审核驳回宝券融资申请的，宝券融资失败。
(5)在与融资宝券相关的所有交易结果均确定前，融资宝券为冻结状态，融资人不得再次对该宝券提起转让申请、融资申请、到期付款申请或享受其他平台服务。
(6)宝券融资成功后，中兴保理或其委托的机构在约定的时间内将实付金额支付至融资人的用户结算账户。
(7)宝券融资成功后，平台将通过站内信方式，向开券人即中兴通讯发送《债权转让通知》，视为融资人就宝券债权转让履行了通知债务人的义务，融资人无需另行向中兴通讯进行通知，中兴保理亦予以确认。
5.4宝券加保
宝券加保，是指持券人作为加保申请人，有权将其合法持有的未到期宝券进行加保，以获得加保机构对中兴通讯履行宝券项下应收账款的付款责任提供的连带保证。只有在加保申请人通过平台提起加保申请时的界面中显示的加保机构方有资格提供宝券加保服务。
(1)加保申请人根据平台业务规则和指引，审慎阅读《宝券加保合作协议》项下关于加保宝券持有人的权利和义务的约定，填写和/或勾选完毕加保申请资料，上传完毕全部加保申请文件（如有），并勾选《宝券加保申请人须知》。
(2)提请加保申请人注意，勾选《宝券加保申请人须知》，视为加保申请人同意《宝券加保申请人须知》全部内容，并自愿签署《宝券加保申请人须知》。持券人根据业务规则和指引提交宝券加保申请的，视为知悉、同意并认可《宝券加保合作协议》的全部内容。
(3)加保机构为加保申请人提供宝券偿付的连带保证责任，有权向加保申请人收取一定的加保费用。具体费用金额以及费用收取方式以届时平台的业务规则和指引为准。中兴通讯集团财务有限公司作为加保机构时，加保费用为零。
(4)宝券生成“该宝券已被XX加保”（XX为加保机构名称）的标识或记录后，宝券加保成功。加保后的宝券可以根据平台业务规则和指引再进行转让或者融资，该等转让或融资行为不影响加保机构对加保宝券的担保责任。
(5)提请受让加保宝券的用户注意，通过平台受让加保宝券前应根据平台业务规则与指引查找并审慎阅读《宝券加保合作协议》项下关于加保宝券持有人的权利和义务的约定，一旦受让加保宝券，即视为接受并不可撤销的同意履行《宝券加保合作协议》的所有条款。
(6)提请加保宝券持有人注意，宝券加保成功后，如果加保宝券持有人在加保宝券到期日（含该日）前发起到期付款申请，但未能于加保宝券到期日起5个工作日内实现加保宝券项下应收账款债权的，或者加保宝券持有人在加保宝券到期日后发起到期付款申请，但未能于发起到期付款申请之日起5个工作日内实现加保宝券项下应收账款债权的，则加保宝券持有人有权在加保到期日前根据《宝券加保合作协议》的约定向加保机构提出索赔，并提交索赔申请文件。但若加保到期日后，加保宝券才到期或加保宝券持有人才发起到期付款申请的，加保宝券持有人不得再向加保机构提出索赔申请。
5.5宝券延期
宝券延期是指延长宝券到期日，即延长中兴通讯在宝券项下履行应收账款付款责任的日期。
(1)中兴通讯同意由其开具的宝券可延长宝券到期日并委托中兴保理在平台开放宝券延期功能。对转让人与受让人调整宝券到期日的相关操作，中兴通讯均予以认可和接受。
(2)转让人在提起宝券转让申请时根据申请界面显示以及平台业务规则和指引，选择以延长宝券到期日的方式转让宝券，受让人审核确认该延期宝券转让申请。
(3)中兴通讯确认，受让人审核确认该延期宝券转让申请后，延期宝券的转让生效，无需以其他任何方式另行取得中兴通讯的同意，中兴通讯在延期后的宝券到期日履行宝券项下的应收账款付款责任。
(4)宝券延期推迟了中兴通讯履行宝券项下应收账款付款责任的时间，作为对价，中兴通讯向提起宝券延期的转让人支付迟延履行支付义务的延期付款利息。延期付款利息的支付金额、支付时间与支付方式以平台业务规则和指引为准。转让人应自行缴纳因其收取的延期付款利息所需要支付的税项（如有）。
5.6宝券到期付款
5.6.1持券人可对其持有的已到期或即将到期的宝券发起到期付款申请，中兴通讯于宝券到期日履行付款义务，如遇国家法定节假日和休息日，则顺延至下一个工作日。
5.6.2持券人于宝券到期日仍未发起到期付款申请的，视为持券人同意将中兴通讯的付款义务推迟至其发起到期付款申请后的三个工作日内，中兴通讯在此之前可暂不支付宝券对应的款项，持券人不得向中兴通讯追究迟延支付的责任，并且宝券到期日后产生的利息归中兴通讯所有，中兴通讯无需再向持券人支付。
5.6.3持券人同意并认可，中兴通讯作为开券人有权委托中兴通讯集团财务有限公司、中兴保理或其他机构将宝券项下金额支付至持券人的用户结算账户。中兴通讯委托的机构向持券人支付宝券项下到期的应收账款（以款项划出之日为准）后，即中兴通讯已履行完毕宝券项下的付款义务。
5.7查询
平台将对用户在平台上的所有操作进行记录，不论该操作之目的最终是否实现。用户可以通过用户账户查询用户账户名下的交易记录。用户理解并同意通过平台查询的任何信息仅作为参考，不作为相关操作或交易的证据或依据；如该等信息与中兴保理记录存在任何不一致，应以中兴保理提供的书面记录为准。
5.8其他功能
晨蜂金融平台会根据平台的运营情况引入其他服务，具体服务内容和规则以不时更新的业务规则和指引为准。

6.<i>陈述和保证</i>
6.1用户的陈述和保证
在本协议签署之日，用户做出如下陈述和保证，且下述陈述和保证在本协议有效期内始终有效。
(1)用户承诺，其为合法成立并有效存续的主体，已为签署本协议履行了必要的批准、核准或备案手续，并能够履行其在本协议项下的义务。
(2)用户承诺，宝券的转让应对应真实的贸易背景，宝券转让对应的贸易合同已妥善签署、合法、有效。
(3)用户承诺，其向晨蜂金融平台提交的所有资料与信息均合法、真实、准确、完整和有效，因资料与信息不合法、不真实、不准确、不完整、无效或用户的其他原因而产生的责任，由用户承担。
(4)用户承诺，其在晨蜂金融平台上因持有宝券而获得的应收账款债权，仅可通过晨蜂金融平台进行线上转让或融资，受让方应为通过平台认证的用户。
(5)用户保证，如用户将其持有的宝券通过晨蜂金融平台以外的其他线上或线下方式、或者与不存在真实贸易背景的任何人进行任何转让、融资、质押或以其他方式处置全部或部分宝券权利的，其同意接受中兴保理或晨蜂金融平台对其账户及其在平台的用户权利采取任何限制措施。
(6)用户承诺绝不为任何非法目的或以任何非法方式使用晨蜂金融平台，并承诺遵守中国相关法律、法规及一切使用互联网之国际惯例，遵守所有与平台服务有关的网络协议、规则和程序。
(7)用户承诺，由于用户违反本协议，或由于用户使用平台服务违反了任何法律法规或侵犯了第三方的合法权利，用户将承担相应的法律责任。
(8)用户同意并保证不得利用晨蜂金融平台服务从事侵害他人权益或违法之行为，若有违反者应负所有法律责任。上述行为包括但不限于：
(a)反对宪法所确定的基本原则，危害国家安全、泄漏国家秘密、颠覆国家政权、破坏国家统一的；
(b)侵害他人名誉、隐私权、商业秘密、商标权、著作权、专利权、其他知识产权及其他权益；
(c)违反依法律或合约所应负之保密义务；
(d)冒用他人名义使用平台服务；
(e)从事任何不法交易行为，如贩卖枪支、毒品、禁药、盗版软件或其他违禁物；
(f)提供赌博资讯或以任何方式引诱他人参与赌博；
(g)涉嫌洗钱、套现或进行传销活动的；
(h)从事任何可能含有电脑病毒或是可能侵害平台服务系統、资料等行为；
(i)利用平台服务系统进行可能对互联网或移动网正常运转造成不利影响之行为；
(j)侵犯中兴保理或晨蜂金融平台的利益；
(k)利用平台服务上传、展示或传播虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；
(l)使用平台提供的服务或其他电子邮件转发服务发出垃圾邮件或其他可能违反本协议的内容；
(m)其他中兴保理有正当理由认为不适当之行为。
(9)出口管制合规条款
(a)用户承诺遵守中国政府颁布的所有与其经营相关的出口管制法律法规和包括美国在内的相关国家和地区的出口管制法律法规；支持中国政府的国际承诺（包括中国政府为执行联合国安全理事会的有关决议而承担的国际义务）；
(b)用户承诺，其不属于位于、总部位于、注册在或运营在受美国制裁的国家或地区（“受制裁国”，指不时地被美国财政部海外资产管理办公室列为制裁对象的国家或地区，在本协议生效时，受制裁国包括受制裁的伊朗、苏丹、叙利亚、朝鲜、古巴、克里米亚地区）的任何主体；
(c)用户承诺，其不得直接或间接与位于、总部位于、注册在或运营在受制裁国的任何主体开展业务，无论是否涉及原产美国或该等受制裁国的物品，也无论货物或服务是否提供到或运输途径美国或该等受制裁国；
(d)用户承诺，其不得与被美国政府制裁的主体开展业务，包括但不限于直接或间接与此相关的、不时地被列入以下清单的个人或实体：（1）美国财政部海外资产管理办公室的特别指定国民清单（SDNs），或；（2）美国商务部工业与安全局（BIS）的拒绝人员清单（The Denied Persons List）或实体清单（Entity List）。

7.<i>用户的权利和义务</i>
7.1用户有权根据平台的业务规则和指引，申请用户认证。
7.2通过平台认证的用户有权根据平台的业务规则和指引，使用平台的服务。
7.3用户有权根据自身独立判断，停止使用平台的服务，并根据平台的业务规则和指引，注销用户账户。
7.4用户应不时关注并遵守平台不时公布或修改的各类业务规则和指引。

8.<i>中兴保理作为平台运营方的权利和义务</i>
8.1中兴保理有权根据需要不时地修改本协议或根据本议制定、修改各类具体规则并在平台相关系统板块发布，无需另行单独通知用户。
8.2若用户未遵守法律法规或本协议约定的，中兴保理有权作出独立判断并采取暂停或关闭用户账号等措施。
8.3中兴保理有权与其他第三方机构合作，调整平台的服务内容和服务模式，并在平台上公告，无需另行单独通知用户。
8.4中兴保理享有法律法规以及本协议约定的其他权利。

9.<i>账户安全与管理</i>
9.1微信公众号账户绑定
9.1.1中兴保理通过微信公众号向用户提供业务通知、信息查询等服务，具体服务内容以实际提供的情况为准。
9.1.2微信公众号部分服务内容要求用户必须先在微信公众号指定页面内完成账户绑定。账户绑定是指用户授权的操作员在微信公众号指定页面内通过输入晨蜂金融平台账户的用户名/手机号码、登录密码、页面随机验证码等要素进行验证，实现晨蜂金融平台账户与操作员个人微信号之间的关联。
9.1.3为保护用户隐私和财产安全，用户及其操作员必须确保被用于绑定的晨蜂金融平台账户和个人微信号为其合法所有或使用、且不侵犯任何第三方的隐私或权益。否则，应由用户承担由此产生的一切不利后果和全部法律责任。
9.1.4一旦账户绑定成功，即视为该个人微信号与被绑定的晨蜂金融平台账户之间建立了一一对应的关联关系，并由用户对关联关系的真实性承担全部法律责任。
9.1.5用户同意：（1）在通过微信公众号向用户提供服务过程中，晨蜂金融平台可通过各种方式向用户发送各类平台消息；（2）晨蜂金融平台通过微信公众号向用户发出的通知，与本协议第16.4条中所列明确的“站内信”、“手机短信”具有同等法律效力。
9.1.6对于任何非晨蜂金融平台过错（包括但不限于微信故障、网络故障、用户的故意或过失、第三方的故意或过失、其他不可抗力的情形等）所导致的损失或其他不利后果，晨蜂金融平台不承担任何责任。
9.2除特别声明外，本协议以及其他在晨蜂金融平台或通过晨蜂金融平台交易需签订的合同采用电子合同方式。用户了解并同意，确保其在平台上的用户账户及密码（包括CA证书密码或验证码，下同）的机密安全是用户的责任。用户将对利用该用户账户及密码所进行的一切行动及言论，负完全的责任，并同意以下事项：
(1)用户不对其他任何人泄露账户或密码，亦不可使用其他任何人的账户或密码。因黑客、病毒或用户的保管疏忽等非中兴保理原因导致用户的账户或密码遭他人非法使用的，中兴保理不承担任何责任。
(2)中兴保理通过用户的账户及密码来识别用户的指令，用户确认，使用用户账户和密码登录后在平台的一切行为均代表用户本人。用户账户操作所产生的电子信息记录均为用户行为的有效凭据，并由用户本人承担由此产生的全部责任。
(3)冒用他人账户及密码的，中兴保理及其合法授权主体将保留追究实际使用人法律责任的权利。
9.3用户账户和密码仅限于用户自身使用，用户不得以任何形式转让或出借、出租给他人使用，如果发现同一账户和密码在同一时间内被多人同时登录使用，中兴保理有权暂停、终止或限制该用户访问直至取消该用户的用户资格，并不予任何赔偿。
9.4用户知悉并同意，用户账户关联的手机号码是用户使用平台服务的重要信息，是平台识别用户身份的依据，用户及其操作员应妥善保管和使用其手机设备、手机号码及其上接收的平台信息，确保其安全且不被他人使用。发生手机设备或手机号码丢失的，用户应立即以有效方式通知中兴保理，要求中兴保理暂停相关服务，否则由此产生的一切责任由用户自身承担。同时，用户理解中兴保理对用户的请求采取行动需要合理期限，在此之前，中兴保理对第三人使用该服务所导致的损失不承担任何责任。
9.5用户同意，如用户未能根据平台要求完成身份认证，中兴保理无需进行事先通知即有权终止提供用户服务，并可能立即暂停、关闭或删除用户账号及该用户账号中所有相关资料及档案。
9.6用户可随时更改密码，但任何更改均须经中兴保理接受，方为有效。
9.7用户因忘记密码向中兴保理查询密码时，必须按照平台指示提供完全、正确的信息，否则中兴保理有权本着为用户保密的原则不予告知。
9.8用户如发现有第三人冒用或盗用用户账户、密码、手机号码等用户信息，或其他任何未经合法授权的情形，应立即以有效方式通知中兴保理，要求中兴保理暂停相关服务，否则由此产生的一切责任由用户自身承担。同时，用户理解中兴保理对用户的请求采取行动需要合理期限，在此之前，中兴保理对第三人使用该服务所导致的损失不承担任何责任。
9.9用户决定不再使用用户账户时，应向中兴保理申请注销，经中兴保理审核同意后可正式注销。
9.10中兴保理有权基于单方独立判断，在其认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向用户提供本协议项下的全部或部分用户服务，并将注册资料移除或删除，且无需对用户或任何第三方承担任何责任。
9.11用户同意，用户账户的暂停、中断或终止不代表用户责任的终止，用户仍应对使用平台服务期间的行为承担可能的违约或损害赔偿责任，同时中兴保理仍可保有用户的相关信息。

10.<i>中兴保理作为平台运营方的责任限制及免责条款</i>
10.1中兴保理不保证平台用户上传信息的真实性、充分性、可靠性、准确性、完整性和有效性，用户应依赖于其独立判断进行交易，并对其做出的判断承担全部责任。
10.2中兴保理不对用户能否达成宝券转让、宝券融资等交易出具任何承诺或保证，亦不对已达成的交易的任何风险出具任何承诺或保证。
10.3用户在使用平台服务的过程中，中兴保理对宝券项下交易真实性、合法性不承担任何形式的审查义务。因宝券项下交易的真实性、合法性产生的任何纠纷或损失，中兴保理不承担任何形式的责任。
10.4平台用户因宝券转让、宝券融资等交易产生的任何纠纷或损失，中兴保理不承担任何形式的责任。
10.5对于用户在任何情况下，使用平台过程中涉及由第三方（包括电子认证服务机构）提供相关服务的责任由该第三方承担，中兴保理不承担该责任。
10.6对于因用户未按照本协议或平台的业务规则和指引进行操作等自身原因导致的任何损失或责任，中兴保理不承担责任。
10.7晨蜂金融平台的内容可能涉及由第三方所有、控制或者运营的其他网站（“第三方网站”）。如平台设置进入第三方网站的链接，用户应按照第三方网站的使用协议确定相关权利义务，中兴保理不承担因用户使用该等链接而引起的任何责任。
10.8由于宝券项下的应收账款通过除晨蜂金融平台以外的其他线上或线下方式、或者与不存在真实贸易背景的任何人进行任何转让、融资、质押或进行其他处置，导致中兴通讯、中兴康讯、其他用户以及其他主体之间的任何纠纷或损失，中兴保理不承担任何形式的责任。
10.9如因用户结算账户信息有误，或用户结算账户信息发生变更后未及时通知中兴保理或按照平台的规定进行修改，导致该用户在宝券融资等业务项下资金入账延迟或无法入账的，由此产生的损失由该用户自行承担，中兴保理不承担任何形式的责任。
10.10不可抗力免责
基于互联网的特殊性，中兴保理不保证晨蜂金融平台服务不会中断，也不保证平台服务的及时性和安全性。系统因相关状况无法正常运作，使用户无法使用任何平台服务或在使用任何平台服务时受到任何影响时，中兴保理对用户或第三方不负任何责任，前述状况包括但不限于：
(1)中兴保理或平台系统停机维护期间。
(2)电信设备出现故障不能进行数据传输的。
(3)由于黑客攻击、网络供应商技术调整或故障、平台升级、银行或政府有权机构的问题等原因而造成的平台服务中断或延迟。
(4)因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成平台系统障碍不能执行业务的。
10.11在任何情况下，中兴保理对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、使用数据或其他经济利益的损失），均不负任何责任。

11.<i>费用承担</i>
11.1除平台业务规则和指引明确规定外，用户使用平台服务，无需向平台运营方支付任何费用。
11.2用户在使用平台服务过程中可能需要向第三方机构支付一定的费用，具体收费标准详见第三方机构网站相关页面或平台的提示。
11.3用户在平台进行交易而与其他方签订协议的，其他方有权按照协议的约定向用户收取相关费用。
11.4用户因进行交易而发生的所有应纳税赋，以及相关硬件、软件、通讯、网络服务及其他方面的费用均由用户自行承担。

12.<i>违约责任</i>
12.1在本协议有效期内，如用户违反法律、法规或本协议中的任何内容，侵犯了中兴通讯、中兴康讯、中兴保理、平台其他用户或其他第三方合法权利或造成上述主体的损失的，该用户应当依法承担赔偿责任。
12.2在本协议有效期内，如用户违反法律、法规或本协议中的任何内容，中兴保理有权根据该用户的违约情况，对其采取限制或暂停使用平台服务、暂停或关闭用户账户等措施，有权向有关监管机构汇报该用户的违约情况。中兴保理采取上述措施，并不排除中兴保理依法追究该用户违约责任的权利。

13.<i>保密义务</i>
用户应当对因履行本协议或在本协议期间以任何方式获得的或收到的关于中兴通讯的关联方、晨蜂金融平台的商务、财务、技术、产品的信息、其他用户资料或其他标明保密的文件或信息的内容（“保密资料”）保守秘密，未经保密资料归属方事先书面同意，不得向本协议以外的任何第三方披露。用户可仅为本协议目的向其确有知悉必要的雇员披露对方提供的保密资料，但同时须指示并确保其雇员遵守本条规定的保密及不披露义务。双方应仅为本协议目的而复制和使用保密资料。

14.<i>隐私保护和授权</i>
14.1晨蜂金融平台对于用户提供的、平台自行收集的、经认证的用户信息将按照本协议予以保护、使用或者披露。中兴保理无需用户同意即可向中兴通讯的关联方转让与晨蜂金融平台有关的全部或部分权利和义务。未经中兴保理事先书面同意，用户不得转让其在本协议项下的任何权利和义务。
14.2中兴保理可能自公开及私人资料来源收集用户的额外资料，以更好地掌握用户情况，并为用户度身定造平台服务、助力用户在平台进行安全交易以及解决争议。
14.3中兴保理按照用户在平台上的行为自动追踪关于用户的某些资料。在不透露用户的隐私资料的前提下，中兴保理有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。
14.4用户同意，中兴保理可在晨蜂金融平台的某些网页上使用诸如“Cookies”的资料收集装置。
14.5用户同意中兴保理可使用关于用户的相关资料（包括但不限于中兴保理持有的有关用户的档案中的资料，中兴保理从用户目前及以前在平台上的活动所获取的其他资料以及中兴保理通过其他方式自行收集的资料）以解决争议、对纠纷进行调停。用户同意中兴保理可通过人工或自动程序对用户的资料进行评价。
14.6中兴保理采用行业标准惯例以保护用户的资料。用户因履行本协议提供给中兴保理的信息，中兴保理不会恶意出售或免费共享给任何第三方，以下情况除外：
(1)提供独立服务且仅要求服务相关的必要信息的供应商，如印刷厂、邮递公司等；
(2)具有合法调阅信息权限并从合法渠道调阅信息的政府部门或其他机构，如公安机关、法院；
(3)中兴通讯的关联方；
(4)经平台使用方或平台使用方授权代表同意的第三方。
14.7中兴保理可能会通过与第三方进行合作来为用户提供相关服务，在此情况下，如该第三方同意承担与中兴保理同等的保护用户隐私的责任，则视为用户授权中兴保理可将用户的个人信息和资料提供给该第三方。
14.8用户同意并授权中兴保理，在用户未能按照与中兴保理签订的协议（包括但不限于本协议），或者与中兴保理其他用户签订的协议履行自己应尽的义务， 中兴保理有权对用户提供的及中兴保理自行收集的用户的个人信息和资料编辑入平台黑名单，并将该等个人信息和资料以及相关违约事实通过包括但不限于网络、报刊、电视等方式对任何第三方披露，或与任何第三方进行数据共享，由此可能给用户造成的任何损失，中兴保理不承担法律责任。
14.9用户不得在晨蜂金融平台提供的交易活动中，要求中兴保理或平台提供其他用户的资料，法律另有规定的除外。

15.<i>知识产权</i>
15.1晨蜂金融平台上所有内容，包括但不限于著作、图片、档案、资讯、资料、平台架构、平台画面的安排、网页设计，均由中兴保理或其他权利人依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。
15.2非经中兴保理或其他权利人书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表晨蜂金融平台程序或内容。
15.3用户未经中兴保理的明确书面同意不许下载或修改晨蜂金融平台或其任何部分。用户不得对平台或其内容进行转售或商业利用；不得收集和利用产品目录、说明和价格；不得对平台或其内容进行任何衍生利用；不得为其他商业利益而下载或拷贝账户信息或使用任何数据采集、Robots或类似的数据收集和摘录工具。未经中兴保理的书面许可，严禁对平台的内容进行系统获取以直接或间接创建或编辑文集、汇编、数据库或人名地址录（无论是否通过Robots、Spiders、自动仪器或手工操作）。另外，严禁为任何未经本使用条件明确允许的目的而使用平台上的内容和材料。
15.4未经中兴保理明确书面同意，用户不得以任何商业目的对晨蜂金融平台或其任何部分进行复制、复印、仿造、出售、转售、访问、或以其他方式加以利用。未经中兴保理明确书面同意，用户不得用frame或运用frame技巧把中兴保理或其关联公司的商标、标识或其他专有信息（包括图像、文字、网页设计或形式）据为己有。未经中兴保理明确书面同意，用户不得以Meta Tags或任何其他“隐藏文本”方式使用中兴保理或其关联公司的名字和商标。任何未经授权的使用都会终止中兴保理所授予的允许或许可。

16.<i>其他条款</i>
16.1协议生效
本协议自用户勾选签署之日起生效。用户注册认证成功并获取电子签名认证证书后，应使用电子签名认证证书再次签署本协议，该再次签署行为不影响本协议对用户的效力。
16.2协议变更
根据国家法律法规变化及平台运营需要，中兴保理有权对本协议条款不时地进行修改，修改后的协议一旦被公布在晨蜂金融平台上即生效，并代替原来的协议。用户可随时登录查阅最新协议；用户有义务不时关注并阅读最新版的协议及平台公告。如用户不同意更新后的协议，可以且应立即停止接受平台依据本协议提供的服务；如用户继续使用本平台提供的服务的，即视为同意更新后的协议。中兴保理建议您在使用晨蜂金融平台之前阅读本协议及平台的公告。 如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分割的且不影响任何其余条款的有效性和可执行性。
16.3协议终止
(1)除本协议另有规定，本协议在以下情形终止：
(a)平台用户注销或被关闭用户账户之日起本协议终止；
(b)平台用户被依法受理破产申请或出现解散事由之日起，本协议终止。
(2)协议终止不得影响各方在协议终止前享有的权利和承担的义务。
(3)本协议第12条、第13条、第14条、第15条不因协议的终止而无效。
16.4通知
就晨蜂金融平台对于用户的通知及任何其他的协议、告示或其他关于用户使用账户及服务的通知，用户同意平台可通过平台公告、站内信、电子邮件、手机短信、无线通讯装置等电子方式或常规的信件传递等方式进行，该等通知于发送之日视为已送达收件人。因信息传输等原因导致用户未在前述通知发出当日收到该等通知的，平台不承担责任。
16.5争议解决
本协议的订立、生效、履行、解释及争议的解决均应适用中华人民共和国法律。如缔约方就本协议内容或其履行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方同意向协议签署地人民法院提起诉讼。

</pre>


