<pre class="protocolContent" style="width:100%;
                                background-color: #fff;border:none;border-radius:0;
                                white-space:pre-wrap;padding: 10px 20px;
                                margin: 0;word-wrap: break-word;">本《晨蜂金融平台宝券开具协议》（“本协议”、“《宝券开具协议》”）由开券人、原始持券人于本协议约定的时间在广东省深圳市南山区签署：

<b>开券人：中兴通讯股份有限公司</b>
<b>住所：深圳市南山区高新技术产业园科技南路中兴通讯大厦</b>
<b>法定代表人：殷一民</b>



<b>原始持券人：深圳市中兴康讯电子有限公司</b>
<b>住所：深圳市盐田区大梅沙倚云路8号</b>
<b>法定代表人：庞胜清</b>



<b>鉴于：</b>
(A)晨蜂金融平台由中兴保理建设并运营，提供应收账款管理、转让、融资等服务；
(B)开券人与原始持券人（“双方”）均为晨蜂金融平台的用户；
(C)开券人与原始持券人之间签订了真实、合法、有效的基础合同。基于该基础合同，开券人对原始持券人负有付款义务，原始持券人享有要求开券人付款的权利；
(D)双方均同意使用晨蜂金融平台的服务，开具宝券作为开券人在基础合同项下付款义务的凭证。

因此，经双方协商一致，签订本协议，约定如下：

1.<i>定义</i>
除本协议上下文另有规定外，本协议中的下列用语具有以下规定的含义：
1.1   中兴保理：指深圳市中兴金控商业保理有限公司，其根据相关法律法规合法成立、有效存续并可以开展保理业务。中兴保理为平台运营方，同时也为宝券融资业务中的保理商。
1.2   《用户协议》：指平台用户注册与认证时勾选、认可并签署的《晨蜂金融平台用户注册与服务协议》，以及其不时被更新、替换、补充、修订的版本，该协议内容包括晨蜂金融平台发布的届时有效的各项业务规则、操作流程、通知通告、使用说明和指引等文件。
1.3   应收账款债权人：指应收账款的权利人，是指因出售货物、提供服务或设施而有权要求义务人支付对价款的权利人。在本协议中，原始持券人为应收账款债权人。
1.4   应收账款债务人：指应收账款的义务人，是指因购买货物、接受服务或使用设施而有义务向权利人支付对价款的义务人。在本协议中，开券人为应收账款债务人。
1.5   基础交易：指宝券对应的原始持券人和开券人之间因销售商品、提供服务或其他贸易活动产生的债权债务关系。开券人为基础交易债务人，原始持券人为基础交易债权人。
1.6   基础合同：是指由原始持券人与开券人基于基础交易而签订的货物销售合同、服务合同或其他交易文件，包括其补充协议和构成销售/服务合同组成部分的附件。
1.7   到期日：指基础合同所规定的最晚付款日。如果开券人在基础合同项下的付款义务系分期履行的，则该基础合同项下到期日按各期应收账款的最晚付款日分别计算。宝券记载的到期日与基础合同到期日不一致的，视为开券人和原始持券人协商一致将基础合同到期日变更为宝券记载的到期日。如果持券人根据业务规则和指引延长宝券项下应收账款付款日并生效的，开券人与原始持券人确认，该到期日按延长的应收账款最晚付款日计算。
1.8   宝券：指中兴通讯根据晨蜂金融平台的业务规则和指引成功开具的、显示基础合同项下中兴通讯与中兴康讯之间债权债务关系的债务凭证。
1.9   中兴通讯/开券人：指中兴通讯股份有限公司，作为基础合同项下的买方和应收账款债务人，根据《用户协议》有权在晨蜂金融平台申请开具宝券。
1.10  中兴康讯/原始持券人：指深圳市中兴康讯电子有限公司，作为基础合同项下的卖方和应收账款债权人，根据《用户协议》在晨蜂金融平台确认签收宝券。
1.11  持券人：指根据《用户协议》，通过认证审核并持有宝券的用户。持券人包括原始持券人以及其他根据《用户协议》受让宝券的用户。
1.12  操作员：指用户指定的管理员、业务经办人员、业务复核人员等，经用户明确授权，代表用户行使其意志，在平台上进行相关操作。
1.13  工作日：指除国家法定节假日和休息日以外的中国大陆地区银行正常营业日。
1.14  日：指自然日。
本协议中的其他用语，如无特殊约定，则具有与《用户协议》中的相同含义。

2.<i>宝券开具申请</i>
2.1   中兴通讯作为开券人，由其操作员根据晨蜂金融平台的业务规则和指引提起并审核宝券开具申请，审核通过后通过CA证书妥善签署《宝券开具协议》。
2.2   提请开券人注意，签署《宝券开具协议》，视为开券人同意《宝券开具协议》的全部内容。开券人的操作员签署《宝券开具协议》的行为视为开券人的行为。

3.<i>宝券开具签收</i>
3.1   开券人妥善签署《宝券开具协议》后，原始持券人应当登录晨蜂金融平台确认其收到的宝券。
3.2   原始持券人的操作员审核确认宝券信息无误并签收宝券后，勾选《宝券开具协议》，通过CA证书妥善签署《宝券开具协议》，宝券开具成功。
3.3   提请原始持券人注意，勾选《宝券开具协议》，视为原始持券人同意《宝券开具协议》的全部内容。原始持券人的操作员签署《宝券开具协议》的行为视为原始持券人的行为。
3.4   宝券开具成功，视为开券人和原始持券人共同确认双方的债权债务关系，原始持券人为应收账款债权人，开券人为应收账款债务人，宝券所记载的信息为开券人和原始持券人在基础合同项下的金钱债务信息。如宝券记载的金额、到期日与基础合同价款、到期日不一致的，视为开券人和原始持券人协商一致将基础合同价款、到期日变更为宝券记载的金额、到期日。
3.5   开券人申请开具并经原始持券人确认签收的宝券信息如下：	
<table id="drawTable" class="table table-bordered">
  <tbody>
    <tr>
      <td>宝券编号</td>
      <td id="srcDrftNoDrwr"></td>
    </tr>
    <tr>
      <td>开券人</td>
      <td id="drwrNmDrwr"></td>
    </tr>
    <tr>
      <td>持券人</td>
      <td id="reqCustNmDrwr"></td>
    </tr>
    <tr>
      <td>宝券金额（人民币：元）</td>
      <td id="isseAmtDrwr"></td>
    </tr>
    <tr>
      <td>宝券开具日</td>
      <td id="txnDtDrwr"></td>
    </tr>
    <tr>
      <td>到期日</td>
      <td id="srcDueDtDrwr"></td>
    </tr>
  </tbody>
</table>

4.<i>宝券开具失败</i>
开券人在原始持券人签收宝券前可随时撤回宝券开具申请。开券人撤回宝券开具申请，或原始持券人拒绝签收宝券的，宝券开具失败。

5.<i>宝券付款责任</i>
5.1   持券人签收宝券后，开券人应在宝券记载的到期日向持券人履行宝券项下应收账款的付款义务。
5.2   开券人同意延长到期日，并同意委托中兴保理在晨蜂金融平台上开放宝券延期功能，开放该功能即视为开券人允许转让人以宝券延期的方式进行转让，对转让人调整宝券到期日的相关操作予以认可和接受。开券人同意并确认，当转让人在提起宝券转让申请时选择延长宝券到期日，并且经受让人审核通过该宝券转让申请后，该延期宝券的转让生效，无需以其他任何方式另行取得开券人的同意。开券人应在该延期宝券的到期日履行宝券项下应收账款的付款责任。
5.3   开券人同意并确认，持券人根据《用户协议》以延长宝券到期日的方式转让宝券并生效的，在延期宝券转让生效后，开券人应向发起宝券延期转让的持券人支付一定的延期付款利息。延期付款利息的支付金额、支付时间与支付方式以届时平台业务规则和指引为准。
5.4   持券人于宝券到期日仍未根据《用户协议》与平台业务规则和指引发起到期付款申请的，视为持券人同意将开券人的付款义务推迟至其发起到期付款申请后的三个工作日内，开券人在此之前可暂不支付宝券对应的款项，持券人不得向开券人追究迟延支付的责任，并且宝券到期日后产生的利息归开券人所有，开券人无需再向持券人支付。
5.5   开券人同意并确认，持券人可根据《用户协议》申请宝券加保，成功加保的宝券在加保到期日前将获得加保机构对开券人履行宝券项下应收账款的付款责任提供的连带保证。

6.<i>承诺和保证</i>
6.1   本协议双方共同承诺和保证如下：
6.1.1 双方均为晨蜂金融平台用户，承诺遵守《用户协议》。双方在《用户协议》中的陈述和保证同时适用于本协议。
6.1.2 双方各自具有签署本协议和履行本协议所规定各项义务的合法资格，并取得了签署和履行本协议的所有授权及批准，本协议经签署后对协议双方是合法、有效、有约束力并可强制执行的。
6.1.3 双方签署和履行本协议并不违反其所适用的任何法律、法规、规范性文件或政府机构的许可或批准，亦不违反任何对其有约束力的组织文件或其与任何第三方签订的任何合同或协议（或者已取得第三方的同意或认可）。
6.1.4 双方具有真实、合法的基础交易，宝券对应的基础合同真实、合法、有效。
6.1.5 宝券项下基础合同对应的债权债务关系系真实、合法、有效；应收账款项下债权为唯一、具体、特定和排他的无争议合法债权。
6.1.6 应收账款债权不存在任何瑕疵，也不存在原始持券人行使权利的限制。若应收账款债权依据基础合同约定不得转让，开券人和原始持券人在此确认，双方一经签署本协议即视为同意原始持券人将其应收账款债权以宝券的形式在晨蜂金融平台或通过中兴保理指定的方式进行转让、融资等业务活动，并视为开券人和原始持券人对双方签署的基础合同相关内容的变更。
6.2   为保证本协议的全面履行，开券人承诺和保证如下：
6.2.1 开券人承诺在到期日（持券人于宝券到期日前（含该日）发起到期付款申请的情况下）或持券人发起到期付款申请后的三个工作日内（持券人于宝券到期日后发起到期付款申请的情况下）按照晨蜂金融平台的业务规则和指引，无条件向持券人全额支付宝券对应的金额。
6.2.2 开券人在宝券项下的义务，未经中兴保理的事前书面同意，不得以任何形式转让，否则，开券人同意接受中兴保理或晨蜂金融平台对其账户及其在晨蜂金融平台的用户权利采取任何限制措施。
6.2.3 开券人因基础合同而获得的任何抗辩权，不得用于对抗中兴保理以及因宝券转让而持有宝券的其他用户。
6.2.4 开券人同意并承诺，开券人作为应收账款债务人，晨蜂金融平台通过站内信方式向开券人发送债权转让通知，视为转让人或融资人就宝券应收账款债权转让履行了通知债务人的义务，开券人不得以未收到债权转让通知为由拒绝向持券人支付宝券所对应的应收账款。
6.2.5 在宝券有效期内，如开券人出现破产、注销、撤销、作为重大诉讼的被告、重大债务无法偿还等可能影响开券人履约能力的行为，应及时通知中兴保理。
6.2.6 在宝券有效期内，如开券人收到任何非晨蜂金融平台发出的任何形式的宝券转让（债权转让）通知、或类似效果的信息，或知晓、了解到其开具的宝券全部或部分权利被转让或质押等受到限制情况（通过晨蜂金融平台按照业务规则和指引的进行转让的除外）的信息，应在收到、知晓该等信息后的12个小时内（如正常营业时间已结束，则在不超过24小时内）通知中兴保理。
6.3   为保证本协议的全面履行，原始持券人承诺和保证如下：
6.3.1 原始持券人未对且不会对应收账款债权设立抵押、质押或其他任何优先权益，且未曾向他人转让。
6.3.2 原始持券人在宝券项下的权利是可转让的。原始持券人在宝券项下的权利仅可根据《用户协议》的约定，通过晨蜂金融平台进行线上转让或融资。原始持券人承诺，其不会通过晨蜂金融平台以外的其他线上或线下方式转让、融资、质押或以其他方式处置全部或部分宝券权利，否则其会接受中兴保理或晨蜂金融平台对其账户及其在晨蜂金融平台的用户权利采取任何限制措施。

7.<i>税费</i>
协议双方按照中国法律、行政法规、规章的规定各自承担因履行本协议而产生的税负，或承担履行代扣代缴义务。

8.<i>保密</i>
为保证本协议的全面履行，协议双方承诺就对方提供的所有资料中包含的商业秘密和非公开信息严格保密，未经对方同意不得向第三方披露。本条款不受本协议有效期的约束，持续有效。

9.<i>违约责任</i>
9.1   开券人违反本协议约定事项，为开券人违约。开券人违约后，中兴保理有权要求其限期纠正违约行为，并根据平台业务规则和指引对其予以处罚。
9.2   原始持券人违反本协议约定事项，为原始持券人违约。原始持券人违约后，中兴保理有权要求其限期纠正违约行为，并根据平台业务规则和指引对其予以处罚。 
9.3   第9.1、9.2条约定不影响守约方按照法律法规要求违约方承担其他违约责任，但该等违约责任与本条约定相抵触的除外。

10.<i>适用法律及争议的解决</i>
10.1  本协议的订立、效力、解释、执行以及争议解决均适用中华人民共和国法律。
10.2  凡因本协议引起的或与本协议有关的任何争议，应首先由双方协商解决，协商不成的，任何一方均有权将该争议向协议签署地人民法院提起诉讼。
10.3  当产生任何争议及任何争议正按前条规定进行解决时，除争议事项外，协议各方应继续行使本协议项下的其他权利，履行本协议项下的其他义务。如本协议中的任何条款被认定为全部或部分不合法、无效或不可强制执行，并不影响其他条款的效力和可执行性。

11.<i>通知</i>
11.1  除本协议和《用户协议》另有约定外，开券人和原始持券人所发送涉及双方权利、义务的通知，应采取专人送达或商业快递服务方式通知对方。
11.2  专人送达或商业快递服务以被通知方任何工作人员签收之日为有效送达日。

12.<i>其他</i>
12.1  本协议自双方通过CA证书妥善签署之日起生效。
12.2  本协议未尽之事宜，如《用户协议》已有约定的，适用《用户协议》的约定。如《用户协议》没有约定的，由协议各方另行协商并签订补充协议解决，另行签订的补充协议与本协议具有同等法律效力。
12.3  协议各方应秉承诚实信用之原则，采取一切必要的行为以确保本协议之生效及获完全执行，并避免采取任何与本协议条款不一致的行为。
12.4  本协议及其修改或补充均通过晨蜂金融平台以电子文本形式制成，可以有一份或者多份并且每一份具有同等法律效力，并保存在晨蜂金融平台为此设立的专用服务器上备查和保管。协议各方均认可该形式的协议效力。                           
</pre>