.contentQuery .rateAmtLabel {
  color: #d8232a!important;
  display: inline-block;
  position: relative;
  height: 19px!important;
  margin: 36px 39px 37px 0!important;
  width: auto!important;
}
.contentQuery .rateAmt {
  color: #999999;
  margin-top: 36px;
  margin-right: 20px;
}
.contentQuery .procedure {
  height: 5px;
  width: 1020px;
  background: #d9d9d9;
  margin-left: 20px;
  margin-top: 36px;
  margin-bottom: 100px;
  display: inline-block;
}
.contentQuery .procedure span {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 81px;
  margin-right: 45px;
  margin-top: -18px;
  position: relative;
  background: url('../../../images/index/finally1.png') no-repeat center;
}
.contentQuery .procedure span > i {
  display: inline-block;
  width: 75px;
  text-align: center;
  color: #666666;
  position: absolute;
  left: -52%;
}
.contentQuery .procedure span > i:nth-child(1) {
  bottom: -35px;
}
.contentQuery .procedure span > i:nth-child(2) {
  font-size: 12px;
  bottom: -78px;
}
.contentQuery .procedure .step1 {
  width: 119px;
  margin-left: 0px;
  margin-top: -16px;
  background: url('../../../images/index/rongzizhong2.png') no-repeat center;
}
.contentQuery .procedure .step1 > i {
  left: 52%;
}
.contentQuery .procedure .step2 {
  width: 165px;
  margin-left: -50px;
  background: url('../../../images/index/rongzizhong1.png') no-repeat center;
}
.contentQuery .procedure .step2 > i {
  left: 66%;
}
.procedureTxn {
  height: 2px;
  width: 1026px;
  background: #d9d9d9;
  margin-top: 18px;
  margin-bottom: 90px;
  display: inline-block;
}
.procedureTxn span {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url('../../../images/index/baoquan.png') no-repeat center;
  margin-top: -18px;
  margin-left: 143px;
  margin-right: 52px;
  position: relative;
}
.procedureTxn span > i {
  display: inline-block;
  width: 75px;
  text-align: center;
  font-size: 12px;
  color: #333333;
  position: absolute;
  left: -54%;
  bottom: -28px;
}
.procedureTxn span:nth-child(2) {
  background: url('../../../images/index/Supplier.png') no-repeat center;
}
.procedureTxn span:nth-child(3) {
  background: url('../../../images/index/transfer.png') no-repeat center;
}
.procedureTxn span:nth-child(4) {
  background: url('../../../images/index/finally.png') no-repeat center;
}
.procedureTxn .oneStep1 {
  width: 52px;
  height: 52px;
  background: url('../../../images/index/baoquan-check.png') no-repeat center !important;
  top: 8px;
  margin-top: -34%;
}
.procedureTxn .oneStep1 > i {
  left: -20%;
  bottom: -20px;
}
.procedureTxn .oneStepOrg3 {
  background: url('../../../images/index/money.png') no-repeat center;
}
.procedureTxn .oneStep3 {
  width: 52px;
  height: 52px;
  background: url('../../../images/index/money-check.png') no-repeat center !important;
  top: 8px;
  margin-top: -34%;
}
.procedureTxn .oneStep3 > i {
  left: -20%;
  bottom: -20px;
}
.procedureTxn .twoStep1 {
  width: 52px;
  height: 52px;
  background: url('../../../images/index/Supplier-check.png') no-repeat center !important;
  top: 8px;
  margin-top: -34%;
}
.procedureTxn .twoStep1 > i {
  left: -20%;
  bottom: -20px;
}
.procedureTxn .twoStepOrg3 {
  background: url('../../../images/index/baoquan.png') no-repeat center !important;
}
.procedureTxn .threeStep1 {
  width: 52px;
  height: 52px;
  background: url('../../../images/index/transfer-check.png') no-repeat center !important;
  top: 8px;
  margin-top: -34%;
}
.procedureTxn .threeStep1 > i {
  left: -20%;
  bottom: -20px;
}
.procedureTxn .threeStepOrg2 {
  background: url('../../../images/index/split.png') no-repeat center !important;
}
.procedureTxn .threeStep2 {
  width: 52px;
  height: 52px;
  background: url('../../../images/index/split-check.png') no-repeat center !important;
  top: 8px;
  margin-top: -34%;
}
.procedureTxn .threeStep2 > i {
  left: -20%;
  bottom: -20px;
}
.procedureTxn .fourStep1 {
  width: 52px;
  height: 52px;
  background: url('../../../images/index/finally-check.png') no-repeat center !important;
  top: 8px;
  margin-top: -34%;
}
.procedureTxn .fourStep1 > i {
  left: -20%;
  bottom: -20px;
}
.contentListTitle {
  margin-bottom: 10px!important;
}
.contentListTitle .conditionQuery {
  cursor: pointer;
}
.contentListTitle .conditionQuery span {
  color: #333333!important;
}
.contentListTitle .conditionQuery i {
  font-size: 13px;
}
.contentListTitle .conditionQuery i:nth-child(3) {
  margin-left: 8px;
  display: inline-block;
}
.contentListTitle .drftDetail {
  display: inline-block;
  width: 99%;
  padding: 0 10px;
}
.contentListTitle .drftDetail label {
  font-weight: normal;
}
.contentListTitle .drftDetail span {
  text-align: right!important;
  margin-left: 15px!important;
  color: #333333!important;
  font-size: 14px!important;
}
.queryCust {
  padding-top: 20px;
  padding-bottom: 37px;
}
.queryCust input {
  width: 560px;
  height: 34px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  color: #999999;
}
.queryCust button,
.queryCust button:hover {
  color: #ffffff;
  font-size: 16px;
  display: block;
  width: 120px;
  height: 34px;
  border-color: transparent;
  background: #1094f5;
  margin-bottom: 1px;
  display: inline-block;
  margin-left: 30px;
}
.selectCust {
  padding: 10px 0 20px 0;
  color: #666666;
  position: relative;
}
.selectCust label {
  position: absolute;
  top: 15px;
  font-weight: normal;
}
.selectCust .selectCustName {
  display: inline-block;
  width: 650px;
  margin-left: 80px;
}
.selectCust .selectCustName span {
  width: 200px;
  height: 30px;
  background-color: #f0f0f0;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: center;
  float: left;
}
.custNoDataTip {
  margin-top: -17px;
  margin-bottom: 120px;
}
.custNoDataTip span {
  color: #666666;
}
.custNoDataTip span a {
  color: #1093f4;
  cursor: pointer;
}
#download {
  width: 92.8%;
  font-family: PingFangSC;
  font-size: 16px;
  background-color: #ffffff;
  margin: 20px 0px 20px 50px;
}
#download .download {
  padding: 13px 20px 10px 20px;
}
#download .download label {
  font-weight: normal;
}
#download .download a {
  color: #1093f4;
  cursor: pointer;
}
#download hr {
  margin: 0;
  padding: 0;
}
.contentMain .oneDrft {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #eaf0f4;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contentMain .oneDrft .drftTitle {
  border-radius: 4px;
  background-color: #fafafa;
  padding: 11px 32px 10px 28px;
}
.contentMain .oneDrft .drftTitle label {
  font-weight: normal;
  margin-bottom: 0px;
}
.contentMain .oneDrft .drftTitle span {
  text-align: left;
  font-size: 12px;
  color: #666666;
}
.contentMain .oneDrft .drftTitle .drftNo {
  color: #1093f4;
  margin-left: 9px;
}
.contentMain .oneDrft .drftTitle .isseDt {
  margin-left: 22px;
  margin-top: 1px;
}
.contentMain .oneDrft .drftTitle .confirmed {
  width: 60px;
  height: 20px;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  line-height: 12px;
  margin-left: 5px;
  font-weight: normal;
}
.contentMain .oneDrft .drftContent {
  padding: 25px 0px 19px 0px;
  position: relative;
}
.contentMain .oneDrft .drftContent label {
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 16px;
  color: #666666;
}
.contentMain .oneDrft .drftContent span {
  color: #666666;
  text-align: center;
  font-size: 24px;
  display: block;
}
.contentMain .oneDrft .drftContent .oneItem {
  display: inline-block;
  text-align: center;
}
.contentMain .oneDrft .drftContent .oneItem:nth-child(1) {
  margin-left: 39px;
  width: 250px;
}
.contentMain .oneDrft .drftContent .oneItem:nth-child(2) {
  margin-left: 20px;
  width: 150px;
}
.contentMain .oneDrft .drftContent .oneItem:nth-child(3) {
  margin-left: 50px;
  width: 120px;
}
.contentMain .oneDrft .drftContent .oneItem:nth-child(4) {
  margin-right: 0;
  margin-left: 50px;
  width: 300px;
}
.contentMain .oneDrft .drftContent .oneItem .validAmt {
  color: #f6a623;
}
.contentMain .oneDrft .drftContent img {
  width: 120px;
  height: 108px;
  position: absolute;
  right: 0px;
  top: 2px;
}
.contentMain .oneTxn {
  width: 330px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #ebf1f5;
  display: inline-block;
  padding: 37px 18px 35px 25px;
}
.contentMain .oneTxn:nth-child(2) {
  margin-right: 20px;
  margin-left: 20px;
}
.contentMain .oneTxn > img {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-top: 13px;
  vertical-align: top;
}
.contentMain .oneTxn .txnTip {
  display: inline-block;
  margin-left: 18px;
  height: 128px;
}
.contentMain .oneTxn .txnTip label {
  display: block;
  font-size: 18px;
}
.contentMain .oneTxn .txnTip span {
  display: block;
  color: #999999;
  width: 162px;
  margin-top: 20px;
  margin-bottom: 27px;
}
.contentMain .oneTxn .txnTip a {
  color: #1093f4;
  font-weight: bold;
  cursor: pointer;
}
.contentMain .txnRadio {
  position: relative;
}
.contentMain .txnRadio input {
  z-index: 3;
  display: block;
  opacity: 0;
  position: absolute;
  top: 4;
  left: 25px;
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.contentMain .txnRadio .user-defined {
  z-index: 2;
  position: absolute;
  top: 3;
  left: 31px;
  margin: auto;
  width: 18px;
  height: 18px;
  border: 1px solid #157df2;
  border-radius: 50%;
  cursor: pointer;
}
.contentMain .txnRadio .user-defined span.circle {
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 2px;
  margin-left: 2px;
  background-color: transparent;
  border-radius: 50%;
}
.contentMain .txnRadio .user-defined span.active {
  background-color: #157df2;
}
.contentMain .txnDrftInfo {
  padding: 20px;
  border: solid 1px #eaf0f4;
  margin-left: 15px;
  margin-bottom: 20px;
}
.contentMain .txnDrftInfo label {
  font-weight: normal;
  color: #666666;
  text-align: left;
}
.contentMain .txnDrftInfo span {
  text-align: left;
  font-size: 24px;
  display: block;
}
.contentMain .txnDrftInfo .oneItem {
  display: inline-block;
  margin-right: 100px;
}
.contentMain .txnDrftInfo .oneItem:nth-child(1),
.contentMain .txnDrftInfo .oneItem:nth-child(2) {
  width: 220px;
  margin-right: 20px;
}
.contentMain .txnDrftInfo .oneItem #txnAmtSum {
  color: #ffbd00;
}
.contentMain .txnDrftInfo .oneItem:last-child {
  margin-right: 0px;
}
.contentMain .txnInfo {
  padding-left: 25px;
  border: solid 1px #eaf0f4;
  margin-left: 15px;
  margin-bottom: 20px;
}
.contentMain .txnInfo label {
  font-weight: normal;
  color: #666666;
  text-align: left;
  margin-top: 23px;
  vertical-align: top;
}
.contentMain .txnInfo label i {
  color: #1093f4;
  margin-left: 10px;
}
.contentMain .txnInfo span {
  text-align: left;
  font-size: 18px;
  display: block;
  margin-bottom: 25px;
}
.contentMain .txnInfo span i {
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  color: #1093f4;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 18px;
  margin: 0px;
  cursor: pointer;
}
.contentMain .txnInfo span .isDelay {
  width: 56px;
  height: 22px;
  border-bottom: solid 1px #979797;
  font-size: 16px;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
}
.contentMain .txnInfo input {
  display: block;
  width: 181px;
  height: 30px;
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  margin-bottom: 25px;
}
.contentMain .txnInfo .tip {
  width: 120px;
  height: 24px;
  font-family: PingFangSC;
  color: #333333;
  text-align: center;
  font-size: 12px;
  background: url('../../../images/index/tip.png') no-repeat center;
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
  line-height: 18px;
  padding: 0;
}
.contentMain .txnInfo .tip .dueDaysNew {
  color: #f6a623;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  font-size: 12px;
}
.contentMain .txnInfo .oneItem {
  display: inline-block;
  width: 255px;
  margin-right: 15px;
  border-right-color: #eeeeee;
  border-right-width: 1px;
  border-right-style: dashed;
}
.contentMain .txnInfo .oneItem .rcvCustNo {
  display: inline-block;
  width: 250px;
}
.contentMain .txnInfo .oneItem .bouns {
  color: #1093f4;
}
.contentMain .txnInfo .oneItem:last-child {
  margin-right: 0px;
  border-right: none;
  width: 140px;
}
.contentMain .moreToOneMoney {
  width: 70%;
  margin: auto;
  padding-left: 80px;
}
.contentMain .moreToOneMoney label {
  font-weight: normal;
  color: #666666;
  height: 34px;
  line-height: 34px;
}
.contentMain .moreToOneMoney input {
  width: 300px;
  height: 34px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  color: #999999;
  margin-left: -20px;
}
.contentMain .moreToOneMoney #txnComment {
  width: 470px;
}
.contentMain .moreToOneMoney #validAmt {
  font-family: PingFangSC;
  color: #ffbd00;
  text-align: left;
  font-size: 40px;
  font-weight: 500;
}
.contentMain .moreToOneMoney .dropdown {
  margin-left: -20px;
  display: inline-block;
}
.contentMain .moreToOneMoney .dropdown > a {
  width: 300px;
  height: 34px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  display: inline-block;
  line-height: 34px;
  padding-left: 10px;
  color: #333333;
}
.contentMain .moreToOneMoney .dropdown > a #change {
  display: inline-block;
}
.contentMain .moreToOneMoney .dropdown > a #change span {
  margin-right: 15px;
}
.contentMain .moreToOneMoney .dropdown > a i {
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url('../../../images/index/sanjiao-black.png') no-repeat center;
  float: right;
  margin-right: 10px;
  margin-top: 14px;
}
.contentMain .moreToOneMoney .dropdown .dropdown-menu {
  width: 300px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  margin-left: 15px;
  padding: 0;
  z-index: 2;
}
.contentMain .moreToOneMoney .dropdown .dropdown-menu li {
  padding: 10px;
  border: solid 1px #dddddd;
  cursor: pointer;
}
.contentMain .moreToOneMoney .dropdown .dropdown-menu li a {
  color: #1094f5;
  padding: 0px;
}
.contentMain .disctCheckedAmt {
  margin-top: 15px;
}
.contentMain .disctCheckedAmt span {
  color: #666666;
}
.contentMain .disctCheckedAmt span #checkedAmt {
  color: #1094f5;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}
.contentMain hr {
  margin-right: -30px;
  margin-left: -20px;
  margin-top: 0px;
  border: solid 1px #eaf0f4;
}
.contentMain .drftCommonStyle {
  padding-left: 30px;
  padding-bottom: 26px;
}
.contentMain .drftCommonStyle:nth-child(6) {
  padding-bottom: 5px!important;
}
.contentMain .drftCommonStyle label {
  width: 60px;
  color: #666666;
  vertical-align: top;
}
.contentMain .drftCommonStyle #prevOwnerNm,
.contentMain .drftCommonStyle #drwrNm,
.contentMain .drftCommonStyle #orgNm {
  display: inline-block;
  width: 220px;
}
.contentMain .drftCommonStyle #disctAmt {
  font-size: 20px;
  margin-top: -5px;
  display: inline-block;
}
.contentMain .drftCommonStyle #payAmt {
  color: #d8232a;
  font-size: 20px;
  margin-top: -5px;
  display: inline-block;
}
.contentMain .drftCommonStyle #txnAmt,
.contentMain .drftCommonStyle #validAmt {
  color: #d8232a;
  font-size: 24px;
  margin-top: -8px;
  margin-left: 10px;
}
.contentMain .drftCommonStyle #applyConfirm {
  color: #1093f4;
  font-size: 12px;
  margin-left: 30px;
  text-decoration-line: underline;
  cursor: pointer;
}
.contentMain .drftCommonStyle div {
  height: 26px;
}
.contentMain .drftCommonStyle div:nth-child(2) {
  padding-left: 40px;
}
.contentMain .drftCommonStyle div:nth-child(3) {
  padding-left: 40px;
}
.contentMain .cancelSucc {
  width: 140px;
  height: 51px;
  opacity: 0.7;
  border-radius: 2px;
  background-color: #000000;
  border: solid 1px #979797;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  line-height: 51px;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 32%;
}
.contentMain .disctInfo {
  padding: 23px 0px 22px 25px;
  border: solid 1px #eaf0f4;
  margin-left: 15px;
  margin-bottom: 20px;
}
.contentMain .disctInfo .oneItem {
  display: inline-block;
  margin-right: 20px;
}
.contentMain .disctInfo .oneItem label {
  font-weight: normal;
  color: #666666;
  text-align: left;
  font-size: 12px;
}
.contentMain .disctInfo .oneItem span {
  text-align: left;
  font-size: 16px;
  display: block;
}
.contentMain .disctInfo .oneItem input {
  width: 153px;
  height: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(108, 198, 255, 0.49);
  border: solid 1px #caebff;
  font-size: 16px;
  display: block;
}
.contentMain .disctInfo .oneItem:nth-child(1) {
  width: 200px;
  margin-right: 10px;
}
.contentMain .disctInfo .oneItem:nth-child(1) label {
  font-size: 14px;
}
.contentMain .disctInfo .oneItem:nth-child(2) {
  width: 200px;
  margin-right: 10px;
}
.contentMain .disctInfo .oneItem:nth-child(5) {
  width: 165px;
  margin-right: 10px;
  border-right-color: #eeeeee;
  border-right-width: 2px;
  border-right-style: dotted;
}
.contentMain .disctInfo .oneItem:nth-child(6) {
  margin-right: 0px;
}
.contentMain .disctInfo .oneItem:nth-child(6) label {
  font-size: 14px;
}
.contentMain .disctInfo .oneItem #totalDisctAmt {
  color: #1094f5;
  font-size: 20px;
}
.contentMain .disctInfo .oneItem #rateDisct {
  color: #1094f5;
}
.contentMain .disctInfo .oneItem #rcInterest {
  color: #e71e1e;
  margin-right: 0;
}
.contentMain .disctInfo .oneItem #dcInterest,
.contentMain .disctInfo .oneItem #rateDisct,
.contentMain .disctInfo .oneItem #rateInterest {
  margin-top: 6.4px;
}
.contentMain .disctInfo .oneItem #useBouns {
  margin-top: 2.9px;
}
.contentMain .disctDrftInfo {
  padding: 20px 0px 20px 25px;
  border: solid 1px #eaf0f4;
  margin-left: 15px;
  margin-bottom: 20px;
}
.contentMain .disctDrftInfo label {
  font-weight: normal;
  color: #666666;
  text-align: left;
}
.contentMain .disctDrftInfo span {
  text-align: left;
  font-size: 18px;
  display: block;
}
.contentMain .disctDrftInfo input {
  width: 181px;
  height: 30px;
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  display: block;
  text-align: left;
  font-size: 18px;
}
.contentMain .disctDrftInfo .oneItem {
  display: inline-block;
  margin-right: 80px;
}
.contentMain .disctDrftInfo .oneItem:nth-child(1),
.contentMain .disctDrftInfo .oneItem:nth-child(2) {
  width: 200px;
  margin-right: 10px;
}
.contentMain .disctDrftInfo .oneItem:nth-child(4) {
  width: 120px;
  margin-right: 10px;
  border-right-color: #eeeeee;
  border-right-width: 2px;
  border-right-style: dotted;
}
.contentMain .disctDrftInfo .oneItem:nth-child(5) {
  margin-right: 0px;
}
.contentMain .disctDrftInfo .oneItem .validAmt {
  color: #1093f4;
}
.contentMain .disctInfo1 {
  padding: 23px 0px 22px 25px;
  border: solid 1px #eaf0f4;
  margin-left: 15px;
  margin-bottom: 20px;
  position: relative;
}
.contentMain .disctInfo1 .oneItem {
  display: inline-block;
  width: 180px;
  margin-right: 10px;
}
.contentMain .disctInfo1 .oneItem label {
  font-weight: normal;
  color: #666666;
  text-align: left;
  position: absolute;
  top: 25px;
}
.contentMain .disctInfo1 .oneItem span {
  text-align: left;
  font-size: 20px;
  display: block;
}
.contentMain .disctInfo1 .oneItem #totalDisctAmt,
.contentMain .disctInfo1 .oneItem #payAmt {
  color: #1094f5;
}
.contentMain .disctInfo1 .oneItem:nth-child(3) {
  width: 185px;
}
.contentMain .disctInfo1 .oneItem:nth-child(4) {
  width: 220px;
  margin-right: 10px;
}
.contentMain .disctInfo1 .oneItem:nth-child(4) span {
  margin-top: 25px;
  word-wrap: break-word;
}
.contentMain .disctInfo1 .oneItem:last-child {
  width: 120px;
  margin-right: 0;
}
.contentMain .disctDrftInfo1 {
  padding: 20px 0px 20px 25px;
  border: solid 1px #eaf0f4;
  margin-left: 15px;
  margin-bottom: 20px;
}
.contentMain .disctDrftInfo1 label {
  font-weight: normal;
  color: #666666;
  text-align: left;
}
.contentMain .disctDrftInfo1 span {
  text-align: left;
  font-size: 18px;
  display: block;
}
.contentMain .disctDrftInfo1 .oneItem {
  display: inline-block;
  margin-right: 80px;
}
.contentMain .disctDrftInfo1 .oneItem:nth-child(1),
.contentMain .disctDrftInfo1 .oneItem:nth-child(2) {
  width: 200px;
  margin-right: 10px;
}
.contentMain .disctDrftInfo1 .oneItem:last-child {
  margin-right: 0px;
}
.contentMain .disctDrftInfo1 .oneItem .disctAmt {
  color: #e71e1e;
}
.contentMain .disctDrftInfo1 .oneItem .dcInterest {
  color: #1093f4;
}
.contentMain .bankInfo label {
  margin-left: 30px;
}
.contentMain .bankInfo .dropdown {
  font-size: 12px;
  display: inline-block;
}
.contentMain .bankInfo .dropdown > a {
  background-color: #ffffff;
  border: solid 1px #dddddd;
  width: 360px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  padding-left: 10px;
  color: #333333;
}
.contentMain .bankInfo .dropdown > a #change {
  display: inline-block;
}
.contentMain .bankInfo .dropdown > a #change span {
  margin-right: 15px;
}
.contentMain .bankInfo .dropdown > a #change .defAcct {
  width: 60px;
  height: 18px;
  border-radius: 7px;
  background-color: #f6a623;
  color: #ffffff;
  text-align: center;
  line-height: 12px;
  margin-bottom: 4px;
}
.contentMain .bankInfo .dropdown > a i {
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url('../../../images/index/sanjiao-black.png') no-repeat center;
  float: right;
  margin-right: 10px;
  margin-top: 14px;
}
.contentMain .bankInfo .dropdown .dropdown-menu {
  width: 360px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  min-width: 90px;
  padding: 0;
}
.contentMain .bankInfo .dropdown .dropdown-menu li {
  padding: 0px;
  border: solid 1px #dddddd;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
}
.contentMain .bankInfo .dropdown .dropdown-menu li div span {
  margin-left: 10px;
}
.contentMain .bankInfo .dropdown .dropdown-menu li div .defAcct {
  width: 60px;
  height: 18px;
  border-radius: 7px;
  background-color: #f6a623;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 4px;
}
.contentMain .bankInfo .dropdown .dropdown-menu li i {
  float: right;
  margin-right: 10px;
  margin-top: -36px;
  color: #cccccc;
}
.contentMain .confirmInfo {
  padding: 20px 0px 20px 25px;
  border: solid 1px #eaf0f4;
  margin-left: 15px;
  margin-bottom: 20px;
}
.contentMain .confirmInfo label {
  font-weight: normal;
  color: #666666;
  text-align: left;
}
.contentMain .confirmInfo span {
  text-align: left;
  font-size: 20px;
  display: block;
}
.contentMain .confirmInfo .oneItem {
  display: inline-block;
  margin-right: 130px;
}
.contentMain .confirmInfo .oneItem:nth-child(1) {
  width: 300px;
  margin-right: 20px;
}
.contentMain .confirmInfo .oneItem #txnAmt {
  color: #1094f5;
}
.contentMain .confirmInfo .oneItem #payAmt {
  color: #e71e1e;
  margin-right: 0;
}
.contentMain .confirmInfo .oneItem:last-child {
  margin-right: 0px;
}
.contentMain .drftInfo {
  padding: 20px 0 20px 25px;
  border: solid 1px #eaf0f4;
  margin-left: 15px;
  margin-bottom: 20px;
}
.contentMain .drftInfo label {
  font-weight: normal;
  color: #666666;
  text-align: left;
}
.contentMain .drftInfo span {
  text-align: left;
  font-size: 18px;
  display: block;
}
.contentMain .drftInfo .oneItem {
  display: inline-block;
  margin-right: 50px;
}
.contentMain .drftInfo .oneItem .validAmt,
.contentMain .drftInfo .oneItem #txnDt,
.contentMain .drftInfo .oneItem #txnStat {
  color: #1093f4;
}
.contentMain .drftInfo .oneItem .feeAmt {
  color: #e71e1e;
  margin-right: 0;
}
.contentMain .drftInfo .oneItem #drwrNm {
  width: 250px;
  margin-right: 20px;
}
.contentMain .drftInfo .oneItem #drwrNm span {
  display: inline-block;
  width: 250px;
}
.contentMain .drftInfo .oneItem:nth-child(2) {
  width: 250px;
  margin-right: 20px;
}
.contentMain .drftInfo .oneItem:nth-child(2) span {
  display: inline-block;
  width: 250px;
}
.contentMain .drftInfo .oneItem:nth-child(5) {
  margin-right: 0;
}
.contentMain #brName {
  width: 360px;
  height: 35px;
  border-radius: 2px;
  background-color: #fafafa;
  border: solid 1px #dddddd;
}
.contentMain .blue {
  color: #1093f4;
}
.contentMain .red {
  color: #d8232a;
}
.contentMain .yellow {
  color: #ff7100;
}
.contentMain .green {
  color: #2bc497;
}
.contentMain .grey {
  color: #979fa6;
}
.condQueryContent {
  width: 100%!important;
  margin-left: 0px!important;
}
.confirm {
  color: #ffffff;
  font-size: 16px;
  width: 120px;
  height: 34px;
  border-color: transparent;
  background: #1094f5;
  margin: auto;
  margin-top: 30px;
  display: inline-block;
  margin-left: 30px;
}
.return {
  color: #666666;
  font-size: 16px;
  display: inline-block;
  width: 120px;
  height: 34px;
  border-color: #999999;
  background: #eff4f7;
  margin: auto;
  margin-top: 30px;
}
.reject {
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  width: 120px;
  height: 34px;
  border-color: #778899;
  background: #999999;
  margin-top: 30px;
  margin-left: 30px;
}
/*以下是input的radio默认样式的修改*/
.status {
  margin-top: 22px;
  margin-left: -5px;
}
.status :before {
  content: "";
  display: table;
}
.status :after {
  content: "";
  display: table;
  clear: both;
}
.status > div {
  position: relative;
  float: left;
  width: 80px;
  height: 40px;
  line-height: 40px;
}
.status > div :last-child {
  margin-right: 0;
}
.status label {
  display: block!important;
  width: 50px!important;
  height: 40px!important;
  line-height: 40px!important;
  cursor: pointer!important;
  margin-top: 0px!important;
  margin-left: 30px!important;
  text-align: left!important;
}
.status input {
  z-index: 3;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.status .user-defined {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 55px;
  margin: auto;
  width: 18px;
  height: 18px;
  border: 1px solid #157df2;
  border-radius: 50%;
  cursor: pointer;
}
.status .user-defined span.circle {
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 2px;
  margin-left: 2px;
  background-color: transparent;
  border-radius: 50%;
}
.status .user-defined span.active {
  background-color: #157df2;
}
