@charset "utf-8";
html,body,div,ul,li,dl,dd,dt,h1,h2,h3,h4,h5,p{/*button,input,select,textarea,这些要加上*/
	padding: 0;
	margin: 0;
	font-family:"Microsoft YaHei" !important;
	box-sizing: border-box !important;/*改为border-box    20170318*/
}
/*17-7-13 hhs改*/
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /*margin-bottom: 240px;*/
		font-size:13px;/*20170829添加*/
}
@media (min-width: 1200px){
    .container {
        width: 1066px;
    }
}
/*@media (max-width:1199px){
    .container {
        width: 970px;
    }
}*/
.container {
    width: 1066px\9;
}
/*������С��ĻΪ 850px*/
html,body{
    min-width:850px;
}
/*alertModal�㼶�޸�*/
.modal-dialog.modal-sm {
    z-index: 1999;
}
h4{
	font-size:16px;
}
img{
	border: none;
}
input{
	padding: 2px 8px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	/*-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s*/
}
input[type=button]{//获取验证码的样式
	font-size: 12px !important;
}
input.btn{
	padding-left:0 !important;
	padding-right: 0 !important;
}
select{
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
/*input:focus {*/
	/*border-color: transparent;*/
	/*outline: 0;*/
	/*-webkit-box-shadow: none;*/
	/*box-shadow: none;*/
/*}*/
/*.form-control:focus,*/
/*select:focus{*/
	/*border-color: transparent;*/
	/*box-shadow: none;*/
	/*outline: none;*/
/*}*/
.modal-dialog{
	z-index: 9999;
}
.p0{padding: 0!important;}
.pt0{padding-top: 0!important;}
.pr0{padding-right: 0!important;}
.pb0{padding-bottom: 0!important;}
.pl0{padding-left: 0!important;}
.pr25{padding-right: 25px!important;}
.pt20 {
	padding-top: 20px!important;
}
.m0{margin: 0!important;}
.mt0{margin-top: 0!important;}
.mr0{margin-right: 0!important;}
.mb0{margin-bottom: 0!important;}
.ml0{margin-left: 0!important;}
.mt10{margin-top: 10px !important;}
.mr10{margin-right: 10px !important;}
.mb10{margin-bottom: 10px !important;}
.ml10{margin-left: 10px !important;}
.mt20{margin-top: 20px !important;}
.mr20{margin-right: 20px !important;}
.mb20{margin-bottom: 20px !important;}
.mb30{margin-bottom: 30px !important;}
.ml20{margin-left: 20px !important;}
.dn{display: none !important;}
.fl{float: left !important;}
.fr{float: right !important;}
button{
	outline: none;
	/*border:none;*//*0829hss*/
}
ul,li{
	list-style:none;
}
a,a:active,a:focus,a:link{
	outline: none;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.clearfix:after {
	content:"";
	display: block; /*用block的话打开f12会看到一条线建议用table*/
	/*line-height:0;*/   /*20170829hss修改*/
	/*overflow: hidden;*/  /*20170829hss修改*/
	height:0;
	clear: both;
	visibility: hidden;
}
.no{
	display: none !important;
}
i {
	font-style: normal !important;
}
input {
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
}
select{
	border-radius: 3px!important;
	border-color: #ccc;
}

/*按钮区域*/
.btnLag{
	width:200px;
	height:34px;
	background-color: #db232a;
	color:white;
}
.btnSm{
	width:120px;
	height:40px;
	background-color: #DB232A;
}
.btnMid{
	width:174px;
	height:40px;
	background-color: #db232a;
}
.btnPic{
	width:74px;
	height:25px;
	background-color: #f0f0f0;
}
.btnAdd{
	width:70px;
	height:25px;
	background-color: #DB232A;
}
.btnTed{
	width:48px;
	height:23px;
	background-color: #DB232A;
}
.btnMake{
	width:44px;
	height:12px;
	background-color: #18C9AB;
}

/*按钮样式*/
.btn{
	outline: 0;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
.btn-red{
	color: #fff!important;
	background-color: #d8232a;
	border-color: #d8232a;
}
.btn-red:hover,
.btn-red:active,
.btn-red:focus{
	color: #fff;
	background-color: #df4f54;
	border-color: #df4f54;
}
.btn-blue{
	color: #fff!important;
	background-color: #6d9ee1;
	border-color: #6d9ee1;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus{
	color: #fff!important;
	background-color: #8ab1e7;
	border-color: #8ab1e7;
}
.btn-gray{
	color: #333!important;
	background-color: #d8d8d8;
	border-color: #d8d8d8;
}
.btn-gray:hover,
.btn-gray:active,
.btn-gray:focus{
	color: #333!important;
	background-color: #dfdfdf;
	border-color: #dfdfdf;
}
.btn-big{
	width: 200px;
	height: 36px;
	font-size: 16px;
}
.btn-mid{
	width: 120px;
	height: 36px;
	font-size: 16px;
	margin-left: 20px;
	margin-right: 20px;
}
.btn-lit{
	padding: 3px 10px;
}
.btn-alert{
	width: 100px;
	height: 30px;
	margin: 0 8px;
}
select {
	height: 32px !important;
}

#passStrength{height:16px;width:210px; padding:1px; line-height: 16px;}
.step1{background:red; height:16px; width:70px; }
.step2{background:yellow; height:16px; width:140px; }
.step3{background:green; height:16px; width:210px;}

/*表格查无数据样式*/
.no-date{
	margin-top: -20px;
	text-align: center;
	line-height: 35px;
	border: 1px solid #ddd;
}
/*日期插件*/
.rqcj{
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
.input-group-addon{
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
.col-45{
	width: 45%;
	float: left;
	position: relative;
}
.col-10{
	width: 10%;
	float: left;
	text-align: center;
	line-height: 32px;
}
.error {
	color: #d8232a;
}
.date label.error,
.form-date label.error{
	position: absolute;
	left: 0;
	top: 35px;
}
#file-queue{
	display: none;
}
#fileuploadify-queue{
	display: none;
}
#imgsafePwd{
	display: none;
}
.modal-footer{
	border: none;
}
/*by HHS 07-7-26
*/
b,i{
	font-weight: normal;
}
.no{
    display: none !important;
}