.myCoinsHeader{
  padding-top:20px;
}
.myCoinsHeader div{
  margin-right:50px;
  text-align:center;
  padding:0 10px;
}
.myCoinsHeader p{
  font-size:18px;
  color: #1094f5;
  margin-bottom:5px;
}
.myCoinsHeader span{
  color:#999;
}

.contentDetail2 .head .contentListTitle{
  border-bottom:1px solid #1094f5;
}
.main .content .contentDetail2 .head .contentListTitle .btnActive,
.main .content .contentDetail2 .head .contentListTitle .btnDefault{
  /*padding:8px 44px;*/
}
.mainCotent {
  width: 92.8%;
  background-color: #fff;
  border: 1px solid #ebf1f5;
  border-radius: 4px;
}
/**/
.contentMain .myCoinsTable{
  border:1px solid #efefef;
}
.myCoinsTable>thead>tr>th{
  border-bottom:none;
  color:#333;
  font-size:14px;
  font-weight:normal;
  padding:10px 11px;
}
.myCoinsTable>tbody>tr>td{
  font-size:12px;
  border-top:none;
  padding:11px 14px;
}
.myCoinsTable tbody td,
.myCoinsTable tbody td+td,
.myCoinsTable tbody td+td+td+td
{
  color:#666;
}
.myCoinsTable tbody td+td+td{
  color:#ff7100;
}
.myCoinsTable tbody td+td+td+td+td{
  color: #1094f5;
}
/*tabs*/
.my_contentDetail2{
  width:1066px;
  /*margin:20px auto;*/
  margin:20px 0px 20px 50px;
  background:#fff;
  border-radius:3px;
}
.my_contentDetail2 .contentMain .nav-tabs
{
  border-bottom:1px solid #1094f5;
}
.my_contentDetail2 .contentMain .nav-tabs span{
  font-size:16px;
  line-height:36px;
  display:inline-block;
  float:right;
  color: #1094f5;
  margin-right:24px;
}
.my_contentDetail2 .contentMain .nav-tabs li a{
  display:inline-block;
  width:120px;
  font-size:14px;
  padding:8px 22px;
  text-align:center;
  border-radius:0 0 0 0;
  margin-right:0;
  color:#666;
  background-color:transparent;
  border:none;
}
.my_contentDetail2 .contentMain .nav-tabs>li.hover>a{
  background:transparent;
  color:#333;
}
.my_contentDetail2 .contentMain .nav-tabs>li.active
{
  background-color: #1094f5;
}
.my_contentDetail2 .contentMain .nav-tabs>li.active>a{
  color:#fff;
}
.my_contentDetail2 .contentMain .tab-content{
 margin:20px 20px 0 20px;
  /*padding-bottom:10px;*/
}
.my_contentDetail2 .contentMain .tab-content .myCoinsTable,
.my_contentDetail2 .contentMain .tab-content .myCoinsTable th{
  text-align:center;
}

.jbsy span{
  display:inline-block;
  float:right;
  margin-right:20px;
  line-height:35px;
}




