.opera{
  width:400px;
  position: absolute;
  right:-120px;
}
.opera >div{
  margin-top: 5px;
  margin-left: 15px;
}
.opera >div .btn {
  background-color: #ffffff;
  color:#555;
  border: 1px solid #ccc;
}

/**/
.newsContents #newsList ul{
  padding:21px 0px 21px 40px;
  border-bottom: 2px solid #eaf0f4;
}
.newsContents ul:hover{
  cursor:pointer;
}

.newsContents ul .fl,.newsContents ul .fr{
  display: inline-block;
}
.newsContents ul .fl b{
  display:inline-block;
  width:8px;
  height:8px;
  background-color:#e71e1e;
  border-radius:50%;
  margin-right:27px;
}
.newsContents ul .fl >span {
  display: inline-block;
  margin-right: 20px;
}
.newsContents ul .fl .biz-type{
  font-size:14px;
  color:#1094f5;
  width: 120px;
}
.newsContents ul .fl .title{
    width: 450px;
    height: 16px;
    margin-bottom: -1px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.newsContents .news-item span{
  font-size:14px;
  color:#333;
}
.newsContents ul .fr i{
  display:inline-block;
  width:13px;
  height:16px;
  vertical-align:middle;
  background:url('../../images/index/news_01.png') no-repeat;
  margin:0 22px 0 25px;
}

.newsContents ul.noLink b{
  background:#fff !important;
}
.newsContents ul.noLink em{
  font-style:normal;
  color:#6cc6ff;
}
.newsContents ul.noLink li.fl .biz-type{
  color: #6cc6ff;
}
.newsContents ul.noLink .fl >span,.newsContents ul.noLink .fr{
  color:#999;
}
.defRadio{
  position: relative;
  display: inline-block;
  float:left;
  margin-left: -30px;
}
.defRadio label{
      display: inline-block;
    width: 18px;
    height: 18px;
    opacity: 0.54;
    border: 2px solid #999999;
    border-radius: 4px;
    margin-bottom: -5px;
}
.defRadio input:checked ~ label{
    background-color: rgb(16, 148, 245);
    border: none;
}
.defRadio label:after{
    content: "";
    position: absolute;
    left: 3px;
    bottom: 8px;
    width: 12px;
    height: 7px;
    border: 2px solid #fefefe;
    border-top-color: transparent;
    border-right-color: transparent;
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-45deg);
  }
.defRadio input{
    position: absolute;
    display: none;
}