.contentHeader .icon-wrap {
  background: #1093f4;
  width: 43px;
  height: 43px;
  color: #ffffff;
  padding: 0;
  text-align: center;
  line-height: 43px;
}
.contentHeader .icon-wrap .icon {
  font-size: 24px;
}
.infoGroup {
  width: 100%;
  padding: 0 33px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #ebf1f5;
  margin-bottom: 40px;
}
.infoGroup .infoGroupTitle {
  position: relative;
  height: 61px;
}
.infoGroup .infoGroupTitle h4 {
  margin: 20px 0;
  line-height: 21px;
  padding-left: 11px;
  position: relative;
}
.infoGroup .infoGroupTitle h4 span {
  margin-left: 20px;
}
.infoGroup .infoGroupTitle h4::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 18px;
  background-color: #1094f5;
  left: 0px;
  top: 2px;
}
.infoGroup .infoGroupContent {
  padding-bottom: 30px;
}
.infoGroup .infoGroupContent .protocolContent {
  line-height: 20px;
}
.infoGroup .infoGroupContent .protocolContent i {
  display: inline-block;
  margin: 5px 0;
  color: #333;
  font-weight: bold;
  line-height: 20px;
}
.infoGroup .infoGroupContent ul {
  overflow: hidden;
}
.infoGroup .infoGroupContent ul li {
  float: left;
}
.infoGroup .infoGroupContent ul li h5 {
  display: inline-block;
  color: #333;
}
.infoGroup .infoGroupContent table {
  margin-bottom: 10px;
}
.infoGroup .infoGroupContent table th {
  background-color: #fafafa !important;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  padding: 0 !important;
}
.infoGroup .infoGroupContent table td {
  font-size: 12px;
  color: #666;
  line-height: 40px;
  padding: 0 !important;
  border-top: none;
}
.infoGroup .infoGroupContent table td a {
  margin: 0 10px;
  color: #666;
}
.infoGroup .infoGroupContent table td span {
  margin: 0 5px;
  color: #666;
}
.infoGroup .infoGroupContent .row {
  line-height: 34px;
}
.infoGroup .infoGroupContent .row label {
  text-align: right;
  font-weight: normal;
}
.infoGroup .infoGroupContent .row input,
.infoGroup .infoGroupContent .row select {
  background-color: #fff;
}
.infoGroup .infoGroupContent .eInfo {
  padding-bottom: 2px;
}
.infoGroup .infoGroupContent .eInfo li {
  width: 33%;
  padding-left: 26px;
  line-height: 19px;
  margin-bottom: 28px;
}
.infoGroup .infoGroupContent .eInfo li > span {
  display: inline-block;
  color: #666;
  margin-left: 24px;
}
.infoGroup .infoGroupContent .eInfo li > span > label {
  font-weight: normal;
  margin: 0 30px 0 10px;
}
.infoGroup .infoGroupContent .qualification {
  border-top: 2px solid #eeeeee;
}
.infoGroup .infoGroupContent .qualification li {
  width: 33%;
  padding-left: 55px;
  line-height: 19px;
  margin-top: 31px;
}
.infoGroup .infoGroupContent .qualification li .iconfont {
  font-size: 16px;
  margin-right: 10px;
  color: #1093f4;
}
.infoGroup .infoGroupContent .qualification li .no {
  display: none;
}
.infoGroup .infoGroupContent .qualification li > a {
  font-style: normal;
  margin-left: 10px;
  border-bottom: 1px solid #1093f4;
  color: #1093f4;
  line-height: 20px;
}
.infoGroup .infoGroupContent .qualification li .status {
  margin-left: 10px;
}
.infoGroup .infoGroupContent .yingyepic li {
  width: 50%;
  text-align: center;
}
.infoGroup .infoGroupContent .yingyepic li img {
  display: inline-block;
  width: 200px;
  height: 123px;
  margin-top: 9px;
  border: 1px solid #eeeeee;
}
.infoGroup .infoGroupContent .yingyepic li #pospic {
  margin-right: -160px;
}
.infoGroup .infoGroupContent .yingyepic li #negpic {
  margin-left: -160px;
}
.infoGroup .infoGroupContent .yingyepic li h3 {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 25px;
}
.infoGroup .infoGroupContent .yingyepic li #post {
  padding-left: 160px;
}
.infoGroup .infoGroupContent .yingyepic li #negt {
  margin-right: 160px;
}
.infoGroup .infoGroupContent.no-bottom {
  padding-bottom: 0px;
}
.infoGroup .gray {
  color: #9b9b9b !important;
}
.infoGroup .blue {
  color: #1093f4 !important;
}
.infoGroup .red {
  color: #e71e1e !important;
}
.infoGroup .orange {
  color: #ffbd00 !important;
}
.operator {
  margin-bottom: 0px;
  border-bottom: none;
}
.operator .infoGroupContent {
  border-bottom: 2px solid #eeeeee;
}
.operator .infoGroupContent .row > label {
  padding-right: 40px;
}
.operator .infoGroupContent .row > div {
  margin-left: -30px;
}
.operator .infoGroupContent .row > div > i {
  font-style: normal;
  margin-left: 10px;
  margin-right: 16px;
}
.AuthIdentity {
  margin-bottom: 0px;
  border-top: 1px solid white;
}
.AuthIdentity .infoGroupContent {
  overflow: hidden;
  padding-bottom: 50px;
}
.AuthIdentity .infoGroupContent input[type=file] {
  display: none;
}
.AuthIdentity .infoGroupContent > div {
  margin-top: 21px;
  width: 135px;
  height: 90px;
  display: inline-block;
  position: relative;
  float: left;
}
.AuthIdentity .infoGroupContent > div img {
  display: block;
  width: 135px;
  height: 90px;
  width: 100%;
  height: 100%;
}
.AuthIdentity .infoGroupContent > div > div {
  margin-top: 5px;
  color: #e71e1e;
}
.AuthIdentity .infoGroupContent > div .photo-name {
  text-align: center;
  margin-top: 10px;
}
.AuthIdentity .infoGroupContent .identityPos {
  margin-left: 204px;
}
.AuthIdentity .infoGroupContent .identityNeg {
  margin-left: 60px;
}
.AuthIdentity .infoGroupContent .Auth {
  margin-left: 60px;
}
.btnRow {
  margin: 30px 0 40px 0;
}
.btnRow button {
  font-size: 16px;
  display: block;
  width: 120px;
  height: 34px;
  border-color: transparent;
  margin-right: 10px;
}
.btnRow .confirm {
  color: #ffffff;
  background: #1094f5;
  float: right;
  margin: 0;
}
.btnRow .back {
  border: solid 1px #999999;
  color: #666666;
  background-color: transparent;
}
.btnRow .cancel {
  background-color: #999999;
  color: #ffffff;
}
.minSize {
  min-height: 443px;
}
#verifyAccount .modal-dialog,
#addOpponent .modal-dialog,
#modifyOpponent .modal-dialog,
#userInfoModify .modal-dialog {
  width: 480px;
  left: 50%;
  top: 120px;
  margin-left: -133px;
}
#verifyAccount .modal-dialog .modal-header,
#addOpponent .modal-dialog .modal-header,
#modifyOpponent .modal-dialog .modal-header,
#userInfoModify .modal-dialog .modal-header {
  border: none;
}
#verifyAccount .modal-dialog .modal-header .modal-title,
#addOpponent .modal-dialog .modal-header .modal-title,
#modifyOpponent .modal-dialog .modal-header .modal-title,
#userInfoModify .modal-dialog .modal-header .modal-title {
  text-align: center;
}
#verifyAccount .modal-dialog .modal-body .form-group,
#addOpponent .modal-dialog .modal-body .form-group,
#modifyOpponent .modal-dialog .modal-body .form-group,
#userInfoModify .modal-dialog .modal-body .form-group {
  margin: 0;
}
#verifyAccount .modal-dialog .modal-body .row,
#addOpponent .modal-dialog .modal-body .row,
#modifyOpponent .modal-dialog .modal-body .row,
#userInfoModify .modal-dialog .modal-body .row {
  margin: 10px 0;
  line-height: 34px;
}
#verifyAccount .modal-dialog .modal-body .row p,
#addOpponent .modal-dialog .modal-body .row p,
#modifyOpponent .modal-dialog .modal-body .row p,
#userInfoModify .modal-dialog .modal-body .row p {
  font-size: 12px;
  text-align: left;
  color: #e71e1e;
}
#verifyAccount .modal-dialog .modal-body .row input[type=text],
#addOpponent .modal-dialog .modal-body .row input[type=text],
#modifyOpponent .modal-dialog .modal-body .row input[type=text],
#userInfoModify .modal-dialog .modal-body .row input[type=text],
#verifyAccount .modal-dialog .modal-body .row select,
#addOpponent .modal-dialog .modal-body .row select,
#modifyOpponent .modal-dialog .modal-body .row select,
#userInfoModify .modal-dialog .modal-body .row select {
  width: 226px;
  background-color: #fff;
}
#verifyAccount .modal-dialog .modal-body .row #checkCodeGet,
#addOpponent .modal-dialog .modal-body .row #checkCodeGet,
#modifyOpponent .modal-dialog .modal-body .row #checkCodeGet,
#userInfoModify .modal-dialog .modal-body .row #checkCodeGet,
#verifyAccount .modal-dialog .modal-body .row #search,
#addOpponent .modal-dialog .modal-body .row #search,
#modifyOpponent .modal-dialog .modal-body .row #search,
#userInfoModify .modal-dialog .modal-body .row #search {
  width: 120px;
  background-color: #1094f5;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
#verifyAccount .modal-dialog .modal-body .row #checkCodeGet,
#addOpponent .modal-dialog .modal-body .row #checkCodeGet,
#modifyOpponent .modal-dialog .modal-body .row #checkCodeGet,
#userInfoModify .modal-dialog .modal-body .row #checkCodeGet {
  font-size: 12px;
}
#verifyAccount .modal-dialog .modal-body .row #search,
#addOpponent .modal-dialog .modal-body .row #search,
#modifyOpponent .modal-dialog .modal-body .row #search,
#userInfoModify .modal-dialog .modal-body .row #search {
  margin-left: 10px;
}
#verifyAccount .modal-dialog .modal-body .row label,
#addOpponent .modal-dialog .modal-body .row label,
#modifyOpponent .modal-dialog .modal-body .row label,
#userInfoModify .modal-dialog .modal-body .row label {
  font-weight: normal;
  text-align: right;
}
#verifyAccount .modal-dialog .modal-footer,
#addOpponent .modal-dialog .modal-footer,
#modifyOpponent .modal-dialog .modal-footer,
#userInfoModify .modal-dialog .modal-footer {
  text-align: center;
  padding: 15px 0 30px 0;
}
#verifyAccount .modal-dialog .modal-footer button,
#addOpponent .modal-dialog .modal-footer button,
#modifyOpponent .modal-dialog .modal-footer button,
#userInfoModify .modal-dialog .modal-footer button {
  width: 120px;
  font-size: 16px;
  text-align: center;
  margin: 0 17px;
}
#verifyAccount .modal-dialog .modal-footer #cancel,
#addOpponent .modal-dialog .modal-footer #cancel,
#modifyOpponent .modal-dialog .modal-footer #cancel,
#userInfoModify .modal-dialog .modal-footer #cancel {
  background-color: #999999;
  color: #ffffff;
}
#verifyAccount .modal-dialog .modal-footer #sbt,
#addOpponent .modal-dialog .modal-footer #sbt,
#modifyOpponent .modal-dialog .modal-footer #sbt,
#userInfoModify .modal-dialog .modal-footer #sbt,
#verifyAccount .modal-dialog .modal-footer #sbtAmt,
#addOpponent .modal-dialog .modal-footer #sbtAmt,
#modifyOpponent .modal-dialog .modal-footer #sbtAmt,
#userInfoModify .modal-dialog .modal-footer #sbtAmt,
#verifyAccount .modal-dialog .modal-footer #sbtUsr,
#addOpponent .modal-dialog .modal-footer #sbtUsr,
#modifyOpponent .modal-dialog .modal-footer #sbtUsr,
#userInfoModify .modal-dialog .modal-footer #sbtUsr {
  color: #ffffff;
  background-color: #1094f5;
}
#checkCodeGet {
  font-size: 12px;
}
#addOpponent .modal-dialog .modal-footer {
  border-top: 1px solid #d8d8d8;
  padding: 15px 0 15px 0;
}
#addOpponent .modal-dialog .modal-footer #emptyPop {
  display: none;
  text-align: center;
  font-size: 14px;
  color: #666666;
}
#addOpponent .modal-dialog .modal-footer #emptyPop a {
  text-decoration: underline;
}
#addOpponent .modal-dialog .modal-footer #srchResult li {
  text-align: left;
  font-size: 14px;
  color: #666666;
  padding: 0 40px 0 49px;
  line-height: 25px;
}
#addOpponent .modal-dialog .modal-footer #srchResult li span {
  float: right;
  margin-top: 3px;
}
.radiusAddBtn {
  display: inline-block;
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: 12px;
  line-height: 11px;
  padding-left: 0px;
  border-radius: 50%;
  border: 1px solid #1a95f5;
  color: #1a95f5;
  cursor: pointer;
}
.definedRadio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: -3px;
}
.definedRadio > input {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  /* 这里及以上的定位，可以让该元素竖直居中。(top: 0; bottom: 0;) */
  opacity: 0;
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.definedRadio > input ~ .dot {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  margin: auto;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
}
.definedRadio > input ~ .dot::before {
  content: "";
  position: absolute;
  display: block;
  top: -3px;
  left: -3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: -3px;
  border: 1px solid #cccccc;
}
.definedRadio > input:checked ~ .dot {
  background: #1093f4;
}
.definedRadio > input:checked ~ .dot::before {
  border: 1px solid #1093f4;
}
.definedCheckbox {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
}
.definedCheckbox > input[type=checkbox] {
  position: absolute;
  visibility: hidden;
  display: inline-block;
  width: 18px;
  height: 18px;
  opacity: 0.54;
  border: 2px solid #999999;
  border-radius: 4px;
  margin: 0px;
}
.definedCheckbox > label {
  display: inline-block;
  width: 18px;
  height: 18px;
  opacity: 0.54;
  border: 2px solid #999999;
  border-radius: 4px;
  margin-bottom: 3px;
  background: transparent;
}
.definedCheckbox > label:before {
  content: "";
  position: absolute;
  left: 3px;
  bottom: 6px;
  width: 12px;
  height: 7px;
  border: 2px solid #fefefe;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
}
.definedCheckbox > input[type=checkbox]:checked ~ label {
  background-color: #1093f4;
  border: 2px solid #1093f4;
}
#gConfirmModal .modal-dialog {
  margin-top: 180px;
  margin-left: 600px;
  width: 350px;
}
#gConfirmModal .modal-dialog .modal-content .modal-header {
  text-align: center;
  border-color: transparent;
}
#gConfirmModal .modal-dialog .modal-content .modal-body {
  text-align: center;
  margin: -10px 0 -10px 0;
  font-size: 14px;
}
#gConfirmModal .modal-dialog .modal-content .modal-body .tip-logo {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: url("../../../images/index/ico-sign01.png") 0 0 no-repeat;
  background-size: 100% 100%;
}
#gConfirmModal .modal-dialog .modal-content .modal-body > p {
  margin-top: 10px;
}
#gConfirmModal .modal-dialog .modal-content .modal-footer {
  text-align: center;
}
#gConfirmModal .modal-dialog .modal-content .modal-footer button {
  width: 100px;
}
#gConfirmModal .modal-dialog .modal-content .modal-footer .ok {
  margin-right: 10px;
  background-color: #1a95f5;
  color: #fff;
}
#gConfirmModal .modal-dialog .modal-content .modal-footer .cancel {
  background-color: #cccccc;
}
#gAlertModal .modal-dialog {
  margin-top: 240px;
  left: 50%;
  margin-left: -40px;
  border-radius: 2px;
  width: 300px;
  height: 51px;
  opacity: 0.8;
}
#gAlertModal .modal-dialog .modal-content {
  border: none;
  opacity: 0.8;
}
#gAlertModal .modal-dialog .modal-content .modal-body {
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  color: #ffffff;
  background-color: #000000;
  opacity: 0.8;
}
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.scrollbar {
  height: 300px;
  width: 100%;
  background: #F5F5F5;
  overflow-y: scroll;
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 16px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
  width: 15px;
}
/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb {
  width: 10px;
  height: 40px;
  border-radius: 10px;
  background-color: #1a95f5;
  float: left;
}
.has-error label {
  color: #e71e1e !important;
}
.has-error .help-block {
  display: block;
  position: absolute;
  top: 22px;
  left: 24px;
  color: #e71e1e !important;
}
.has-error .form-control-feedback {
  right: 16px;
  color: #e71e1e !important;
}
.has-error input.form-control,
.has-error select.form-control {
  border-color: #e71e1e !important;
}
.has-success .form-control-feedback {
  right: 16px;
}
#errorMsg {
  color: #e71e1e;
  text-align: center;
  line-height: 20px;
  margin-top: -20px;
}
.require {
  position: relative;
}
.require:before {
  content: "*";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  color: #e71e1e;
}
.newUser .help-block {
  top: 34px;
}
.role .form-control-feedback {
  right: -80px;
  top: -5px;
}
.updUser .role .help-block {
  top: 15px;
}
.updUser .role .form-control-feedback {
  margin-right: 0px;
}
.updUser .smsCode .help-block {
  top: 25px;
  left: 40px;
}
.updUser .smsCode .form-control-feedback {
  margin-right: -8px;
}
#opponentForm .has-error .form-control-feedback,
#opponentForm .has-success .form-control-feedback {
  right: -16px;
}
.span-star {
  color: #ff0000;
}
pre b {
  font-weight: 600;
}
