.contentMain .onePro {
  height: 60px;
  padding: 20px 30px;
  cursor: pointer;
}
.contentMain .onePro .drftNo {
  color: #1094f5;
  width: 140px;
  display: inline-block;
}
.infoGroupTitle > h4 {
  float: left;
}
.infoGroupTitle .dateSpan {
  display: inline-block;
  float: right;
  padding-right: 40px;
  font-size: 14px;
}
.infoGroupTitle .dateSpan span {
  color: #666;
}
.infoGroupTitle .dateSpan i {
  color: #333;
}
.rzhistList {
  border-top: 1px solid #eaf0f4;
  padding-top: 25px;
}
.rzhistList li {
  font-size: 14px;
  width: 33.33%;
  float: left;
  padding-left: 77px;
  padding-bottom: 20px;
}
.rzhistList li span {
  color: #666;
  padding-right: 30px;
}
.rzhistList li span:nth-child(2) {
  color: #333;
}
.rzhistList li b {
  font-size: 20px;
}
.rzhistList li .fkje {
  font-style: normal;
  font-size: 20px;
  color: #d8232a;
}
.table {
  margin-bottom: 0;
}
.table thead tr th {
  border-bottom: none;
}
.table tbody tr td {
  border-top: none;
}
.table tr th,
.table tr:nth-child(even) {
  background: #fafafa;
}
.table tr th,
.table tr:nth-child(odd) {
  background: #ffffff;
}
.mainCotent {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ebf1f5;
  border-radius: 4px;
  margin-bottom: 20px;
}
.mainCotent .infoGroupTitle {
  padding: 20px 0 10px 21px;
}
.mainCotent .infoGroupTitle h4 {
  border-left: 4px solid  #1094f5;
  padding-left: 10px;
}
.foots {
  width: 100%;
  text-align: center;
}
.foots .confirm {
  color: #ffffff;
  font-size: 16px;
  display: block;
  width: 120px;
  height: 34px;
  border-color: transparent;
  background: #1094f5;
  margin-top: 30px;
  margin-right: 10px;
  float: right;
}
.foots .back {
  color: #ffffff;
  font-size: 16px;
  display: block;
  width: 120px;
  height: 34px;
  border-color: #778899;
  background: #999999;
  margin-top: 30px;
  margin-left: 5px;
  float: left;
}
.foots .goBack {
  width: 150px;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid #999;
  background: transparent;
  font-size: 16px;
  color: #666;
}
.foots .goBack:hover {
  background: transparent;
  color: #666;
}
.tblContent table {
  table-layout: fixed;
}
.tblContent table th:nth-child(1) {
  width: 80px;
}
.tblContent table td:nth-child(2) {
  padding: 3px 15px;
  width: 100%;
  word-break: keep-all;
  /* 不换行 */
  white-space: nowrap;
  /* 不换行 */
  overflow: hidden;
  /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow: ellipsis;
}
.zrInfoCreContent .bqzrCredentialsPic {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../../../images/index/ico-load.png") no-repeat;
}
em {
  display: inline-block;
  width: 124px;
  height: 124px;
  background: url("../../../images/index/pingzhengzhang.png") no-repeat;
  position: absolute;
  top: -99%;
  right: 22%;
}
.zrCredentWord {
  font-size: 18px;
  color: #333!important;
  font-weight: bold!important;
  position: relative;
}
#transferFir .modal-content {
  height: 400px;
}
.contentMain .rongzi label {
  width: auto;
  color: #999;
}
.contentMain .rongzi span {
  padding-left: 15px;
}
.transferCertificate .row {
  margin: 0;
}
.transferCertificate .row .item-title {
  margin-right: 30px;
  line-height: 40px;
  padding-left: 25px;
  color: #666;
}
.transferCertificate .row .item-content {
  color: #333;
}
.transferCertificate .with-bottom-line {
  padding-bottom: 10px;
  border-bottom: 1px solid #EFF4F7;
}
.transferCertificate .with-top-line {
  padding-top: 10px;
  border-top: 1px solid #EFF4F7;
}
/*以下是input的radio默认样式的修改*/
.back {
  margin-left: -5px;
}
.back :before {
  content: "";
  display: table;
}
.back :after {
  content: "";
  display: table;
  clear: both;
}
.back > div {
  position: relative;
  float: left;
  width: 120px;
  height: 40px;
  line-height: 40px;
}
.back > div :last-child {
  margin-right: 0;
}
.back label {
  color: #666666;
  font-weight: normal!important;
  display: block!important;
  width: 120px!important;
  height: 40px!important;
  line-height: 40px!important;
  cursor: pointer!important;
  margin-top: 0px!important;
  margin-left: 80px!important;
  text-align: left!important;
}
.back input {
  z-index: 3;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.back .user-defined {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 55px;
  margin: auto;
  width: 18px;
  height: 18px;
  border: 1px solid #157df2;
  border-radius: 50%;
  cursor: pointer;
}
.back .user-defined span.circle {
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 2px;
  margin-left: 2px;
  background-color: transparent;
  border-radius: 50%;
}
.back .user-defined span.active {
  background-color: #157df2;
}
