<ion-view view-title="企业注册" hide-tabs="true">

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button  class="back-text-hide">
      <i class="HHS-tab-backicon"></i>
    </ion-nav-back-button>
  </ion-nav-bar>

 <ion-content class='companyregister2'>
   <!--注册流程图-->
   <div class='show_register'>
     <!--图片-->
     <ul class="show_image">
       <li>
         <i></i>
         <span>企业基本信息</span>
       </li>
       <li>
         <i></i>
         <span>法人信息</span>
        </li>
       <li>
         <i></i>
         <span>管理员信息</span>
       </li>
     </ul>
     <!--两条线-->
     <div class="show_line">
       <span></span>
       <span></span>
     </div>
   </div>

   <!--资料填写-->
   <div class="company_info_two">
     <ul class="">
      <li class=" cp_info_represent">
        <label>
          <span>法人代表</span>
          <input type="text" ng-model="companyInfo.lglPerNm">
        </label>
      </li>
      <li class=" cp_info_cardtype">
        <span>证件类型</span>
        <span ng-click='show()' class="right">{{chooseCardType}} <i class="icon ion-ios-arrow-right"></i></span>
      </li>
      <li class=" cp_info_cardnumber">
        <label>
          <span>法人代表证件号码</span>
          <input type="text" ng-model="companyInfo.lglIdNo">
        </label>
      </li>
         <li class=" cp_info_cardnumber">
             <label>
                 <span>联系电话</span>
                 <input type="number" ng-model="farenphone">
             </label>
         </li>
     </ul>
   </div>

   <!--证件照片-->
    <div class=text_info>请您上传法人证件照片</div>
    <div id="get_picture_person">
        <ul>
            <li ng-click="picture('0')">
              <img ng-src="{{imgData.attachDivFront}}" class="reg2_prosperson">
            </li>
            <li ng-click="picture('1')">
              <img ng-src="{{imgData.attachDivBack}}" class="reg2_consperson">
            </li>
        </ul>
    </div>

   <!--下一步-->
    <div class="nextpage" ng-click='regnext()'> <!--  ui-sref="register3" -->
        <a>下一步</a>
    </div>

 </ion-content>
</ion-view>
