<ion-view view-title="晨蜂金融平台宝券应收账款债权转让协议" hide-tabs="ture">
  <ion-content>
    <div class="yonghuxieyiqian-div" style="background:#fff;">
      <!--<p class="cu">晨蜂金融平台宝券应收账款债权转让协议</p>-->
      <p class="cu">本《晨蜂金融平台宝券应收账款债权转让协议》（“本协议”、“《宝券转让协议》”）由转让人、受让人于本协议约定的时间在广东省深圳市南山区签署：
      </p>

      <p class="cu" style="margin-top: 10px">
        转让人：{{reqInfo.custCnNm}}
        <br/>
        住所：{{reqInfo.regAdrProv + reqInfo.regAdrCity + reqInfo.regAdr}}
        <br/>
        法定代表人（负责人）：{{reqInfo.lglPersNm}}
        <br/>

        <br/>
        受让人：{{rcvInfo.custCnNm}}
        <br/>
        住所：{{rcvInfo.regAdrProv + rcvInfo.regAdrCity + rcvInfo.regAdr}}
        <br/>
        法定代表人（负责人）：{{rcvInfo.lglPersNm}}
      </p>
      <p class="cu" style="margin-top: 10px">
        鉴于：<br/>
        (A)晨蜂金融平台由深圳市中兴金控商业保理有限公司（“中兴保理”）建设并运营，提供应收账款管理、转让、融资等服务；<br/>
        (B)转让人与受让人（“双方”）均为通过晨蜂金融平台认证审核的用户；<br/>
        (C)转让人现持有宝券，享有宝券项下的应收账款债权；<br/>
        (D)双方均同意使用晨蜂金融平台的服务，现转让人拟将宝券项下应收账款债权全部或部分通过晨蜂金融平台转让给受让人，受让人同意受让。<br/>
        因此，经双方协商一致，签订本协议，约定如下: <br/>
      </p>
      <p class="cu">1.定义</p>
      <span class="xi">
      除本协议上下文另有所指外，本协议中的下列用语具有以下规定的含义：<br/>
      1.1《用户协议》：指平台用户注册与认证时勾选、认可并签署的《晨蜂金融平台用户注册与服务协议》，以及其不时被更新、替换、补充、修订的版本，该协议内容包括晨蜂金融平台发布的届时有效的各项业务规则、操作流程、通知通告、使用说明和指引等文件。<br/>
      1.2宝券：指中兴通讯根据晨蜂金融平台的业务规则和指引成功开具的、显示基础合同项下中兴通讯与中兴康讯之间债权债务关系的债务凭证。<br/>
      1.3标的债权：具有本协议第2.1条规定的含义。<br/>
      1.4基础交易：指宝券对应的原始持券人和开券人之间因销售商品、提供服务或其他贸易活动产生的债权债务关系。<br/>
      1.5基础合同：是指产生应收账款的、由原始持券人与开券人签订的货物销售合同、服务合同或其他交易文件，包括其补充协议和构成销售/服务合同组成部分的附件。<br/>
      1.6开券人：指基础合同的买方或服务需求方，为中兴通讯股份有限公司。<br/>
      1.7原始持券人：指基础合同的卖方或服务提供方，为深圳市中兴康讯电子有限公司，是第一手的持券人。<br/>
      1.8转让人：指根据晨蜂金融平台的业务规则和指引通过认证审核并申请转让宝券的用户。<br/>
      1.9受让人：指根据晨蜂金融平台的业务规则和指引通过认证审核并签收宝券的用户。<br/>
      1.10宝券到期日：指根据宝券记载信息，中兴通讯履行宝券偿付义务，持券人获取宝券偿付款项的日期。如果持券人根据业务规则和指引延长宝券项下应收账款付款日并生效的，则该宝券到期日按延长的应收账款最晚付款日计算。<br/>
      1.11签收：指受让人在晨蜂金融平台，按照《用户协议》与本协议的约定，对转让人转让的宝券在签收有效期内进行签收的行为。<br/>
      1.12转让日：具有本协议第3.2.2条规定的含义，在转让日，宝券转让生效，标的债权从转让人转让给受让人。<br/>
      1.13转让对价：具有本协议第4.1条约定的含义。<br/>
      1.14加保宝券：指根据平台业务规则和指引成功加保的宝券，具体为生成了“该宝券已被XX加保 ”（XX为加保机构名称）的标识或记录的宝券。<br/>
      1.15《宝券加保合作协议》：指由中兴保理与加保机构签署合法有效的协议，具体为持券人在平台提起加保申请时显示的加保协议。<br/>
      1.16加保宝券持有人：指根据《用户协议》，通过认证审核并持有加保宝券的用户。<br/>
      1.17加保机构：就宝券加保申请而言，指持券人在晨蜂金融平台提起加保申请时显示提供宝券加保服务的机构；就加保宝券而言，指为该加保宝券提供加保的机构。<br/>
      1.18操作员：指用户指定的管理员、业务经办人员、业务复核人员等，经用户明确授权，代表用户行使其意志，在平台上进行相关操作。<br/>
      1.19工作日：指除国家法定节假日和休息日以外的中国大陆地区银行正常营业日。<br/>
      1.20日：指自然日。<br/>
      本协议中的其他用语，如无特殊约定，则具有与《用户协议》中的相同含义。<br/>
      </span>
      <p class="cu">2.宝券转让概述
      </p>
      <span class="xi">

      2.1转让人对宝券项下截止于转让日（含该日）尚未到期的全部或部分应收账款本金及其他应付费用（如有）享有全部债权（“标的债权”），双方同意，按照本协议约定的条件，将标的债权自转让日起（含该日）由转让人移转于受让人享有（“宝券转让”）。<br/>
      2.2宝券转让的类型<br/>
      宝券转让，根据是否延长宝券到期日的不同，分为延期转让和非延期转让，由转让人在平台提起宝券转让申请时自主选择。<br/>
      宝券延期转让是指转让人在提起宝券转让申请时，通过变更“宝券到期日”的默认日期（宝券原到期日）来延长宝券到期日，向受让人提交延期宝券的转让申请。<br/>
      宝券非延期转让是指转让人不变更“宝券到期日”的默认日期（宝券原到期日），向受让人提交宝券转让申请。<br/>
        </span>
      <p class="cu">
        2.3本协议项下的转让宝券与标的债权具体信息如下：<br/>
        宝券编号:&nbsp;&nbsp;&nbsp;{{QianShouDetails.srcDrftNo || '无'}}<br/>
        开券人:&nbsp;&nbsp;&nbsp;{{QianShouDetails.drwrNm || '无'}}<br/>
        持券人:&nbsp;&nbsp;&nbsp;{{QianShouDetails.reqCustNm || '无'}}<br/>
        宝券金额（人民币：元）:&nbsp;&nbsp;&nbsp;{{QianShouDetails.isseAmt || '无'}}<br/>
        宝券开具日:&nbsp;&nbsp;&nbsp;{{tool.initTimer(QianShouDetails.txnDt) || '无'}}<br/>
        到期日:&nbsp;&nbsp;&nbsp;{{tool.initTimer(QianShouDetails.srcDueDt) || '无'}}<br/>
        本次宝券转让金额（人民币：元）：&nbsp;&nbsp;&nbsp;{{QianShouDetails.txnAmt || '无'}}<br/>
      </p>
      <span class="xi">
      2.4为避免歧义，转让人和受让人在此确认：基础合同项下卖方在基础合同项下的任何义务和责任都不转让给受让人而仍由该等卖方承担。<br/>
      </span>

      <p class="cu">3.宝券转让申请及签收</p>
      <span class="xi">

      3.1宝券转让的申请<br/>
      3.1.1转让人申请转让宝券，应由其经办员登录晨蜂金融平台，根据《用户协议》，填写申请资料，上传申请文件（如需），并勾选《宝券转让协议》及《债权转让通知》。<br/>
      3.1.2宝券转让申请须由转让人的复核员进行复核。转让人的复核员在确认宝券转让申请信息无误后勾选《宝券转让协议》及《债权转让通知》，通过CA证书妥善签署《宝券转让协议》及《债权转让通知》。晨蜂金融平台向受让人发送宝券转让申请通知。<br/>
      3.1.3转让人勾选《宝券转让协议》及《债权转让通知》，视为转让人同意《宝券转让协议》及《债权转让通知》的全部内容，并自愿签署《宝券转让协议》及《债权转让通知》。转让人的操作员签署《宝券转让协议》及《债权转让通知》的行为视为转让人的行为。<br/>
      3.2宝券受让签收<br/>
      3.2.1受让人收到宝券转让申请通知后，根据《用户协议》，对转让人的宝券转让申请在签收有效期内予以审核：<br/>
      (1)受让人的操作员应审核确认转让申请，在签收有效期内审核通过后勾选并通过CA证书签署《宝券转让协议》。受让人妥善签署《宝券转让协议》即宝券转让成功，标的债权即转让至受让人，平台自动生成《宝券转让凭证》。<br/>
      (2)受让人勾选《宝券转让协议》，视为受让人同意《宝券转让协议》全部内容，并自愿签署《宝券转让协议》。受让人的操作员签署《宝券转让协议》行为视为受让人的行为。<br/>
      (3)受让人审核后拒绝签收宝券的，宝券转让失败，晨蜂金融平台向转让人发送宝券转让审核未能通过的通知。宝券转让失败，宝券的持有人仍为转让人。<br/>
      3.2.2受让人的操作员勾选并通过CA证书妥善签署本协议之日为本协议生效之日，亦为转让日。<br/>
      3.2.3转让人在受让人签收宝券前可随时撤回宝券转让申请。转让人撤回宝券转让申请的，宝券转让失败，宝券的持有人仍为转让人。<br/>
      3.2.4受让人应当在签收有效期内签收宝券。受让人未在签收有效期内签收宝券的，宝券转让失败，宝券的持有人仍为转让人。<br/>
      3.3在与转让宝券相关的所有交易结果均确定前，转让宝券为冻结状态，转让人不得再次对该宝券提起转让申请、融资申请、到期付款申请或享受其他平台服务。<br/>
      3.4加保宝券的转让<br/>
      3.4.1当转让人向受让人转让加保宝券的，受让人在审核通过宝券转让申请前，应当根据平台业务规则和指引查找并审慎阅读《宝券加保合作协议》下关于加保宝券持有人的权利和义务的约定。受让人根据平台业务规则和指引审核通过加保宝券转让申请的，视为知悉、同意并认可《宝券加保合作协议》的全部内容。<br/>
      3.4.2受让人根据平台业务规则和指引审核通过加保宝券转让申请并成为加保宝券持有人的，可根据平台业务规则和指引将加保宝券在平台上进行转让、融资等处理。<br/>
      3.4.3如加保宝券持有人在加保宝券到期日前（含该日）发起到期付款申请，但未能于加保宝券到期日起五个工作日内实现加保宝券项下应收账款债权的，或者加保宝券持有人在加保宝券到期日后发起到期付款申请，但未能于发起到期付款申请之日起五个工作日内实现加保宝券项下应收账款债权的，加保宝券持有人有权在加保到期日前根据《宝券加保合作协议》的约定向加保机构提出索赔，并提交索赔申请文件。但若在加保到期日后，加保宝券才到期或加保宝券持有人才发起到期付款申请的，加保宝券持有人不得再向加保机构提出索赔申请。在《宝券加保合作协议》项下所有索赔申请条件均已满足的前提下，加保机构将在收到索赔申请及所有索赔申请文件后【10】个工作日内向加保宝券持有人在晨蜂金融平台上的用户结算账户支付中兴通讯未付部分款项。<br/>
      3.5受让人签署《宝券转让协议》后，平台将通过站内信方式，向开券人发送《债权转让通知》，视为转让人就标的债权转让履行了通知债务人的义务，转让人无需另行通知开券人，受让人亦予以确认。<br/>
      3.6标的债权转让成功后，晨蜂金融平台自动生成宝券转让记录，双方可登录晨蜂金融平台查询本次宝券转让的记录。该等记录为本协议的组成部分。<br/>
      </span>

      <p class="cu">4.转让对价及支付</p>
      <span class="xi">

      4.1双方确认标的债权的账面价值为本协议宝券转让的对价（“转让对价”）。<br/>
      4.2双方确认以债权抵销方式支付转让对价。<br/>
      4.2.1受让人为转让人的已于平台注册认证的债权人，截至本协议生效之日，双方之间存在真实有效的贸易关系（“贸易关系”），已签署了关于购买货物或服务的贸易合同（“贸易合同”），根据该等合同，转让人对受让人负有一定金额的债务。双方同意，本协议项下受让人应付转让人转让对价的债务，与转让人在贸易合同项下应付受让人债务中等值金额部分相抵销。<br/>
      4.2.2上述抵销行为于本协议签署之日生效，在抵销行为有效的前提下，受让人无需向转让人支付转让对价。<br/>
      </span>

      <p class="cu">5.应收账款的管理</p>
      <span class="xi">

      5.1双方同意标的债权对应的款项将按照《用户协议》中的相关约定向开券人收取，转让人对标的债权的实现不承担管理、清收、催收等义务。<br/>
      5.2如加保宝券持有人在加保宝券到期日（含该日）前发起到期付款申请，但未能于加保宝券到期日起五个工作日内实现加保宝券项下应收账款债权的，或者加保宝券持有人在加保宝券到期日后发起到期付款申请，但未能于发起到期付款申请之日起五个工作日内实现加保宝券项下的应收账款债权的，可按照《用户协议》与《宝券加保合作协议》中的约定请求相关主体承担相应责任。<br/>
      5.3对于采用宝券延期转让方式进行转让的宝券，转让人可按照平台业务规则和指引向开券人收取一定的延期付款利息。延期付款利息的支付金额、支付时间与支付方式以平台业务规则和指引为准。<br/>
      </span>

      <p class="cu"> 6.承诺与保证</p>
      <span class="xi">

      6.1本协议双方承诺和保证如下：<br/>
      6.1.1双方均为通过晨蜂金融平台认证审核的用户，承诺遵守《用户协议》。双方各自在《用户协议》中的陈述和保证同时适用于本协议。<br/>
      6.1.2双方各自具有签署本协议和履行本协议所规定各项义务的合法资格，并取得了签署和履行本协议的所有授权及批准，本协议经签署后对双方是合法、有效、有约束力并可强制执行的。<br/>
      6.1.3双方签署和履行本协议并不违反其所适用的任何法律、法规、规范性文件或政府机构的许可或批准，亦不违反任何对其有约束力的组织文件或其与任何第三方签订的任何合同或协议（或者已取得第三方的同意或认可）。<br/>
      6.1.4双方保证其向晨蜂金融平台提交的资料与信息均合法、真实、准确、完整和有效，因资料与信息不合法、不真实、不准确、不完整、无效或因转让人或受让人的其它原因而产生的责任，由双方各自承担。<br/>
      6.1.5双方承诺遵守中国政府颁布的所有与其经营相关的出口管制法律法规和包括美国在内的相关国家和地区的出口管制法律法规；支持中国政府的国际承诺（包括中国政府为执行联合国安全理事会的有关决议而承担的国际义务）。<br/>
      6.1.6双方承诺其不属于位于、总部位于、注册在或运营在美国制裁的国家或地区（“受制裁国”，指不时地被美国财政部海外资产管理办公室列为制裁对象的国家或地区，在本协议生效时，受制裁国包括受制裁的伊朗、苏丹、叙利亚、朝鲜、古巴、克里米亚地区）的任何主体。<br/>
      6.1.7双方承诺，其不得与位于、总部位于、注册在或运营在属于受制裁国的任何主体开展业务，也不得将宝券转让予上述主体，无论是否涉及原产美国或该等受制裁国的物品，也无论货物或服务是否提供到或途径美国或该等受制裁国。<br/>
      6.1.8双方承诺，其不得与被美国政府制裁的主体开展业务，也不得将宝券转让予上述主体，包括但不限于直接或间接与此相关的、不时地被列入以下清单的个人或实体：（1）美国财政部海外资产管理办公室的特别指定国民清单（SDNs），或；（2）美国商务部工业与安全局（BIS）的拒绝人员清单（The Denied Persons List）或实体清单（Entity List）。<br/>
      6.2为保证本协议的全面履行，转让人承诺和保证如下：<br/>
      6.2.1因宝券转让而抵销的贸易关系项下的债权债务具有真实的贸易背景，贸易合同已妥善签署、合法、有效。<br/>
      6.2.2转让人承诺所转让的标的债权不存在任何瑕疵，也不存在受让人行使权利的限制，标的债权真实、合法、有效；转让人未对标的债权设立抵押、质押或其他任何优先权益，且未曾向他人转让。<br/>
      6.2.3转让人承诺所转让的标的债权未曾与开券人有约定抵销、禁止或限制向第三方转让等事宜；在转让人提出宝券转让申请之后，除非受让人拒绝受让宝券，否则未经受让人书面同意，转让人不得与开券人对基础合同的任何内容做出变更、终止、宽延或放弃。<br/>
      6.2.4除本协议的宝券转让外，转让人不曾亦不会就宝券项下应收账款的全部或任何部分，通过晨蜂金融平台以外的途径转让给任何人。<br/>
      6.2.5转让人承诺、保证并同意标的债权转让后，受让人对标的债权享有完全的权利，包括但不限于利息权益、违约金权益、损害赔偿权益、担保权益以及再转让权等。<br/>
      6.2.6转让人承诺，若转让人收到贸易合同项下债权转让、质押通知后仍转让宝券的，因此产生的责任与风险由转让人自行承担，与平台无关，平台无需为此承担任何责任，并有权依据《用户协议》约定或法律规定采取相应的措施。<br/>
      6.3为保证本协议的全面履行，受让人承诺和保证如下：<br/>
      6.3.1受让人在贸易合同项下对转让人的债权不存在被转让、质押等权利受限情形。受让人违反前述承诺，使得双方债务无法抵销的，受让人应赔偿转让人所遭受的损失。若经中兴保理查实存在违反前述约定的情形，中兴保理有权对受让人的账户及其在晨蜂金融平台的用户权利采取任何限制措施。<br/>
      6.3.2标的债权的转让为无追索权转让，如标的债权到期未能得到清偿，或出现基础合同有关的任何纠纷，受让人对转让人或转让人的前手（如有）不具有追索权，转让人亦无义务对标的债权的实现提供任何保证。<br/>
      6.3.3就受让人在本协议项下受让的全部标的债权，受让人有权根据自己的意愿在晨蜂金融平台进行全部或部分再转让，且只能在晨蜂金融平台上进行再转让，再转让时的受让人必须是通过晨蜂金融平台认证审核用户。<br/>
      </span>

      <p class="cu">7.税费</p>
      <span class="xi">
      双方按照中国法律、行政法规、规章的规定承担各自因履行本协议而产生的相应税负，或承担履行代扣代缴义务。
      </span>

      <p class="cu">8.保密</p>
      <span class="xi">
      为保证本协议的全面履行，双方承诺就对方提供的所有资料中所包含的商业秘密和非公开信息严格保密，未经对方同意不得向第三方披露。本条款不受本协议有效期的约束，持续有效。<br/>
      </span>

      <p class="cu">9.违约责任</p>
      <span class="xi">

      9.1双方违反本协议任一约定事项的，应承担相应的违约责任。<br/>
      9.2中兴保理有权根据违约方的违约情况，对其采取限制或暂停使用晨蜂金融平台服务、暂停或关闭用户账户等措施，并可依法追究该用户违约责任。<br/>
      9.3第9.2条约定不影响守约方按照法律法规要求违约方承担其他违约责任，但该等违约责任与本条约定相抵触的除外。<br/>
      </span>

      <p class="cu">10.适用法律及争议的解决</p>
      <span class="xi">

      10.1本协议的订立、效力、解释、执行以及争议解决均适用中华人民共和国法律。<br/>
      10.2凡因本协议引起的或与本协议有关的任何争议，应首先由双方协商解决，协商不成的，任何一方均有权将该争议向协议签署地人民法院提起诉讼。<br/>
      10.3当产生任何争议及任何争议正按前条规定进行解决时，除争议事项外，双方应继续行使本协议项下的其他权利，履行本协议项下的其他义务。如本协议中的任何条款被认定为全部或部分不合法、无效或不可强制执行，并不影响其他条款的效力和可执行性。<br/>
      </span>

      <p class="cu">11.通知</p>
      <span class="xi">

      11.1除本协议和《用户协议》另有约定外，双方所发送涉及双方权利、义务的通知，应采取专人送达或商业快递服务方式通知对方。<br/>
      11.2专人送达或商业快递服务以被通知方任何工作人员签收之日为有效送达日。<br/>
      </span>

      <p class="cu">12.其他</p>
      <span class="xi">

      12.1本协议自双方通过CA证书妥善签署之日起生效。<br/>
      12.2本协议未尽事宜，如《用户协议》已有约定的，适用《用户协议》的约定。如《用户协议》没有约定的，由双方另行协商并签订补充协议解决，另行签订的补充协议与本协议具有同等法律效力。<br/>
      12.3双方应秉承诚实信用之原则，采取一切必要的行为以确保本协议之生效及获完全执行，并避免采取任何与本协议条款不一致的行为。<br/>
      12.4本协议及其修改或补充均通过晨蜂金融平台以电子文本形式制成，可以有一份或者多份并且每一份具有同等法律效力，并永久保存在平台为此设立的专用服务器上备查和保管。双方均认可该形式的协议效力。<br/>
      </span>

    </div>
  </ion-content>
</ion-view>
