<ion-view view-title="债权转让通知" hide-tabs="ture">
  <ion-content class="zhuanrangtongzhiList">
    <div class="yonghuxieyiqian-div">

      <p class="cu min">债权转让通知</p>

    <span class="xi">
      中兴通讯股份有限公司：<br/>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贵司（作为开券人）已开具编号为<span class="ipt">{{QianShouDetails.srcDrftNo}}</span>的宝券（金额为人民币<span class="ipt">{{tool.currency(QianShouDetails.isseAmt)}}</span>元，小写：<span class="ipt">{{QianShouDetails.isseAmt}}</span>）。我司作为该宝券的合法持有人，根据晨蜂金融平台的业务规则和指引，现将该宝券项下对贵司的债权（金额为人民币<span class="ipt">{{tool.currency(QianShouDetails.txnAmt)}}</span>元，小写：<span class="ipt">{{QianShouDetails.txnAmt}}</span>）及其相关权利通过晨蜂金融平台转让予<span class="ipt">{{QianShouDetails.rcvInfo.custCnNm}}</span>，请贵司向<span class="ipt">{{QianShouDetails.rcvInfo.custCnNm}}</span>履行该宝券项下的义务。
      <br/>
      <br/>
    如无特别说明，本《债权转让通知》中用语与《晨蜂金融平台用户注册与服务协议》中用语含义保持一致。
      <br/>
    <div class="fr">
      <span class="ipt">{{QianShouDetails.reqInfo.custCnNm}}</span>
    </div>
        <br/>
        <br/>
      <div class="fr">
        <span class=" wid">{{year}}</span>年<span class=" wid">{{mon}}</span>月<span class=" wid">{{day}}</span>日
      </div>

    </span>
    </div>

  </ion-content>
</ion-view>
