<ion-view view-title="消息内容">
  <ion-content>
    <div class="i-acc">
      <h2>总资产</h2>
      <div class="amount">1312312.31元</div>
      <div class="money clearfix">
        <span>持有资产&nbsp;2000230.00元</span>
        <a ui-sref="tab.accBalance" class="text-right">账户余额&nbsp;300,000.00元&nbsp;>></a>
      </div>
    </div>
    <div class="list">
      <a class="item item-icon-left item-icon-right" ui-sref="tab.accCenter">
        <i class="icon ion-email"></i>
        账户中心
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ui-sref="tab.accAppointDetail">
        <i class="icon ion-chatbubble-working"></i>
        我的理财
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ui-sref="tab.invitation">
        <i class="icon ion-mic-a"></i>
        我的邀请
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-email"></i>
        资金流水
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ui-sref="tab.accCreditCard">
        <i class="icon ion-chatbubble-working"></i>
        银行卡管理
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ui-sref="tab.accNews">
        <i class="icon ion-mic-a"></i>
        我的消息
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
  </ion-content>
</ion-view>



