<ion-view hide-tabs="true" view-title="密码重置">
  <ion-content>
    <div class="user-message-detail">
      <ul>
        <li><span>姓名</span><input type="text" ng-model="name.value"/></li>
        <li><span>身份证</span><input type="number" ng-model="idNo.value"/></li>
        <li><span>手机号</span><input type="number" ng-model="mobile.value"/></li>
      </ul>
    </div>
    <!-- ui-sref="tab.MineUserManage"-->
    <button class="btn-next-step" ng-click="resetMakeSureBtn()" >确定</button>
  </ion-content>
</ion-view>
