<ion-view view-title="我的企业" hide-tabs="true">
  <ion-content>
    <div class="baoquanMessageDetail">
      <ul>
        <li><span>企业名称</span><span>{{CorpMsgs.custCnNm}}</span></li>
        <li><span>证件类型</span>
          <span ng-if="CorpMsgs.idTyp == '0'">组织机构代码证</span>
          <span ng-if="CorpMsgs.idTyp == '4'">统一社会信用代码证</span>
        </li>
        <li><span>证件号码</span><span>{{CorpMsgs.idNo}}</span></li>
        <li><span>所在城市</span><span>{{CorpMsgs.regCity || '无'}}</span></li>
        <li><span>详细地址</span><span>{{CorpMsgs.regAdr || '无'}}</span></li>
        <li><span>法人代表</span><span>{{CorpMsgs.lglPerNm || '无'}}</span></li>
        <li><span>默认企业</span>
          <span>
            <label class="toggle toggle-assertive">
              <input ng-click="isMoRenBtn()" ng-model="MoRen.value" type="checkbox">
                <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </span>
        </li>
      </ul>
    </div>
    <!-- 审核标志-->
    <div class="audit-sign" >
      <ul>
        <li><a href="javascript:void (0);"><span>审核标志</span>
          <span ng-if="CorpMsgs.isAuth == '0'">提交</span>
          <span ng-if="CorpMsgs.isAuth == '1'">待审核</span>
          <span ng-if="CorpMsgs.isAuth == '2'">审核通过</span>
          <span ng-if="CorpMsgs.isAuth == '3'">审核未通过</span>

        </a></li>
        <li>
          <!-- ui-sref="tab.ApplyZhengShu"-->
          <a href="javascript:void(0)" on-tap="isApplyBtn()">
            <span>数字证书</span>
            <span class="red">{{isApply}} <i></i></span>
          </a>
        </li>
        <li>
          <a href="javascript:void (0)" on-tap="isRegisterBtn()">
            <span>用户协议</span>
            <span>{{isRegister}}
            <i></i>
          </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="yingyezhizhao" style="margin-top: 15px">
      <div class="zhizhao-top">营业执照照片</div>
      <div class="zhizhao-bot">
        <div class="pic-left" style="text-align: center">
          <img src="{{PictureOffUrl || './img/icon2.x/zhizhao1.png'}}" width="120px" height="79px" alt=""/>
          <p>正本</p>
        </div>
        <div class="pic-right" style="text-align: center">
          <img src="{{PictureOnUrl || './img/icon2.x/zhizhao2.png'}}" width="120px" height="79px" alt=""/>
          <p>副本</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
