<ion-view view-title="用户管理" hide-tabs="true">
  <ion-nav-buttons side="right">
    <button class="button"  ui-sref="tab.MineUserAdd">
      <i class="ion-plus"></i>
    </button>
  </ion-nav-buttons>
    <ion-content>
      <div class="user-manage">
        <ul>
          <li ng-repeat="getUserList in getUserLists">
            <div class="msg-left" ng-click="toUserMessageBtn(getUserList.id)">
              <img src="./img/icon2.x/farenxingxi2@2x.png" width="40px" height="40px;" alt=""/>
              <p><i>{{getUserList.usrNm}}</i><b>{{getUserList.mobile}}</b></p>
              <div class="kinds-of-manage">
                <ol>
                  <li ng-repeat="userRole in getUserList.corpRoleIdList" ng-if="userRole == '100'"><i class="user-manager"></i><span class="orange">管理员</span></li>
                  <li ng-repeat="userRole in getUserList.corpRoleIdList" ng-if="userRole == '300'"><i class="user-recheck"></i><span class="blue">复核人</span></li>
                  <li ng-repeat="userRole in getUserList.corpRoleIdList" ng-if="userRole == '200'"><i class="user-jingbanren"></i><span class="green">经办人</span></li>
                  <!--<li ng-repeat="userRole in getUserList.corpRoleIdList" ng-if="userRole == '400'"><i class="user-jingbanren"></i><span class="green">授权人</span></li>-->

                </ol>
              </div>
            </div>
            <div class="reset-right" ng-click="userMessageEditBtn(getUserList.id)">
              编辑
            </div>
          </li>
        </ul>
      </div>
    </ion-content>
</ion-view>
