<ion-view view-title="银行账户" hide-tabs="true">
  <ion-content>
    <div class="baoquanMessageDetail">
      <ul>
        <li><span>开户名称</span><span>{{bankAccNoInfo.openAcctNm}}</span></li>
        <li><span>账号</span><span>{{tool.bankAccNo(bankAccNoInfo.acctNo)}}</span></li>
        <li><span>开户行</span><span>{{bankAccNoInfo.openBrhNm}}</span></li>
        <li><span>支行城市</span><span>{{bankAccNoInfo.bankCity}}</span></li>
        <li><span>选择支行</span><span>暂无</span></li>
        <li><span>状态</span>
          <span ng-if='bankAccNoInfo.checkStu == "0"' class="red">未生效</span>
          <span ng-if='bankAccNoInfo.checkStu == "1"' class="red">待验证</span>
          <span ng-if='bankAccNoInfo.checkStu == "2"' class="red">已生效</span>
          <span ng-if='bankAccNoInfo.checkStu == "3"' class="red">验证失败</span>

        </li>
        <li><span>默认账户</span>
          <span>
            <label class="toggle toggle-assertive">
              <input type="checkbox" ng-model="MoRen.value">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </span>
        </li>
      </ul>
    </div>
  </ion-content>
  <ion-footer-bar class="op-footer nobar ">
    <div class="bankIDDele bankID-common" ng-click="IDDeleBtn()">删除账户</div>
    <div class="bankIDyanzheng bankID-common" ng-click="IDVerifyBtn()">验证账户</div>
  </ion-footer-bar>
</ion-view>
