<ion-view hide-tabs="true" view-title="宝券加保申请人须知">
  <ion-content>
    <div class="yonghuxieyiqian-div">
      <span class="inc">
        <p>
          宝券加保申请人须知
        </p>
        <p>欢迎阅读《宝券加保申请人须知》（以下简称“本须知”）。本须知是加保申请人申请宝券加保时所须遵守的条款和条件（以下合称“条款”）。本须知遵从并依据深圳市中兴金控商业保理有限公司（以下简称“中兴保理”）与加保申请人签订的《晨蜂金融平台用户注册与服务协议》以及中兴保理与加保机构签订的《宝券加保合作协议》（以下合称“《框架协议》”）。加保申请人每次申请宝券加保时均需勾选确认本须知，加保申请人应审慎阅读并选择接受或不接受本须知，加保申请人一旦勾选确认接受本须知即视为已充分阅读、理解并不可撤销地同意接受本须知项下全部条款，特别是其中所涉及的免除及限制中兴保理责任的条款、限制加保申请人权利的条款等。本须知一经加保申请人勾选确认即生效，对中兴保理、加保机构和加保申请人均具有法律约束力。<br/></p>

    <p>1.接受本须知条款</p>
    1.1本须知内容包括但不限于本须知正文及晨蜂金融平台发布的各项业务规则和指引。所有业务规则和指引为本须知不可分割的一部分，与本须知正文具有同等法律效力。<br/>
    1.2本须知及加保宝券是《框架协议》的有效组成部分，与《框架协议》具有同等法律效力，共同构成加保申请人和中兴保理、加保机构之间权利义务的约定。<br/>

    <p>2.宝券加保及索赔申请</p>
    2.1加保申请人申请宝券加保，应根据平台业务规则和指引，审慎阅读《宝券加保合作协议》项下关于加保宝券持有人的权利和义务的约定，填写及/或勾选加保申请资料，上传加保申请文件（如有），勾选本须知，并支付加保费用（如需）。中兴通讯集团财务有限公司作为加保机构时，加保费用为零。<br/>
    2.2提请加保申请人注意，勾选本须知视为其同意该须知的全部内容，并自愿签署该须知。加保申请人根据业务规则和指引提交宝券加保申请的，视为其知悉、同意并认可《框架协议》的全部内容，尤其是《宝券加保合作协议》中关于加保宝券持有人的权利义务的约定。<br/>
    2.3宝券生成“该宝券已被XX加保”（xx为加保机构名称）的标识或记录的，即该宝券加保成功。加保后的宝券可以根据平台业务规则和指引再进行转让或者融资，该等转让或融资行为不影响加保机构对加保宝券的担保责任。<br/>
    2.4如果加保宝券持有人在加保宝券到期日前（含该日）发起到期付款申请，但未能于加保宝券到期日起5个工作日内实现加保宝券项下应收账款债权的，或者加保宝券持有人于加保宝券到期日后发起到期付款申请，但未能于发起到期付款申请之日起5个工作日内实现加保宝券项下应收账款债权的，则加保宝券持有人有权在加保到期日前，根据《宝券加保合作协议》的约定向加保机构提出索赔，并提交索赔申请文件。加保机构根据《宝券加保合作协议》的约定，向加保宝券持有人赔付相应款项。但若加保到期日后，加保宝券才到期的或者加保宝券持有人才发起到期付款申请的，则加保宝券持有人不得再向加保机构提出索赔申请。<br/>

    <p>3.加保申请人承诺及保证</p>
    3.1加保申请人承诺遵守《框架协议》。加保申请人在《框架协议》项下的陈述和保证同时适用于本须知，视为其在申请加保之日对中兴保理及加保机构重新做出。<br/>
    3.2加保申请人承诺其申请宝券加保及勾选本须知的行为均系加保申请人自身真实意思表示，加保申请人对申请宝券加保及勾选本须知的行为及其产生的后果独立承担全部责任。<br/>

    <p>4.其他说明</p>
    4.1本须知中的用语含义，如无特指，与《框架协议》中的约定保持一致。<br/>
    4.2本须知未有约定之事宜，适用《框架协议》的约定。<br/>
    4.3本须知自加保申请人勾选时生效，至《框架协议》的有效期届满之日止。<br/>
      </span>

    </div>

  </ion-content>
</ion-view>
