<ion-view view-title="用户详情" hide-tabs="true">
  <ion-content>
    <div class="user-message-detail">
      <ul>
        <li><span>姓名</span><span>{{userInfo.usrNm}}</span></li>
        <li><span>身份证</span><span>{{userInfo.idNo}}</span></li>
        <li><span>手机号</span><span>{{userInfo.mobile}}</span></li>
        <!--  ui-sref="tab.UserMessageKindsChoose"-->
        <li ng-click="chooserole(userInfo.id)"><span>角色</span>
          <span class="choose-manage">{{ownRoles}}<i class="right-icon"></i></span>
        </li>
        <li>
          <p>身份证</p>
          <div>
            <div class="left-pic"><i></i></div>
            <div class="right-pic"><i></i></div>
          </div>
        </li>
      </ul>
    </div>
    <span class="zhuanrangzhong" style="font-size: 12px">提示: 为确保您的账户安全, 请完成身份验证。</span>
    <div class="hhs-duanxinyanzheng">
      <label class="item item-input">
        <span class="input-label">短信验证</span>
        <input ng-model='msCode.value' type="number">
      </label>
      <a href="javascript:void(0);"  ng-click="sendCodeBtn()">{{sendCodeWord}}</a>
    </div>
    <!-- ui-sref="tab.UserMessage"-->
    <button class="btn-next-step" ng-click="userEditSubmitBtn()">提交</button>

  </ion-content>
</ion-view>
