<ion-view view-title="验证银行账户" hide-tabs="true">
  <ion-content>
    <div class="baoquanMessageDetail">
      <ul>
        <li><span>开户行</span><span>{{bankAccNoInfo.openBrhNm}}</span></li>
        <li><span>账号</span><span>{{tool.bankAccNo(bankAccNoInfo.acctNo)}}</span></li>
        <li><span>金额</span><span class="iptText"><input ng-model="transfer.value" placeholder="请输入该账户转入的金额" type="number"/></span></li>
      </ul>
    </div>
    <span class="zhuanrangzhong" style="font-size: 12px;">提示: 为确保您的账户安全, 请完成身份验证。</span>
    <div class="hhs-duanxinyanzheng">
      <label class="item item-input">
        <span class="input-label">短信验证</span>
        <input type="number" ng-model="msCode.value">
      </label>
      <a href="javascript:void(0);" ng-click="bankNoPopupSendCodeBtn()">{{sendCodeWord}}</a>
    </div>
    <!-- tab.AlreadySendMoneyThird-->
    <button class="btn-next-step" ng-click="toNextStepBtn()">验证</button>
  </ion-content>

</ion-view>
