<ion-view  hide-tabs="true">
  <ion-nav-title class="activity-center-tab">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input id="ShaiXuanInsetInput" type="text" placeholder="请输入宝券相关信息">
      </label>
    </div>
  </ion-nav-title>

  <ion-content>
    <div class="shaixuan-time">
      <i></i><span>选择时间</span><b></b>
    </div>
    <div class="shaixuan-kinds" style="min-height: 112px;">
      <div class="shaixuan-biaoti"><i></i><span>按分类筛选</span></div>
      <ul>
        <li><a href="#">可用宝券</a></li>
        <li><a href="#">冻结宝券</a></li>
      </ul>
    </div>
  </ion-content>
</ion-view>
