<ion-view view-title="交易对手" hide-tabs="true">
  <ion-nav-buttons side="right">
    <button ui-sref="tab.addJiaoyiduishou" class="button">
      <i class="ion-plus"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="search-company">
      <i class="ion-ios-search-strong"></i>
      <input type="text" placeholder="请输入企业名称" ng-model="searchCorpName.value" ng-keyup="searchCorp()"/>
    </div>

    <div class="business-of-rival">
      <ul class="company-list-bottom" style="margin-top: 0;">
        <li ng-repeat=" JYDSList in JYDSLists">
          <a href="#">
            <span>{{JYDSList.custCnNm}}</span>
            <b>{{tool.initTimer(JYDSList.crtTs)}}</b>
          </a>
        </li>
      </ul>
    </div>
    <div class="toTellManager" ng-if='!JYDSLists'>
      <img src="./img/icon2.x/gantanhao.png" width="100px" height="100px" alt=""/>
      <p>抱歉，没有搜索到你所输入的企业名称</p>
      <a on-tap="MailAdmin()" href="javascript:void (0)">通知管理员</a>
    </div>
  </ion-content>
</ion-view>

