<ion-view view-title="加保信息" hide-tabs="true">
  <ion-content>
    <div class="baoquanMessageDetail">
      <ul>
        <li><span>加保金额</span><span class="BQ-color-blue">{{tool.formMoney(validAmt)}}</span></li>
        <li><span>应付费用</span><span>{{tool.formMoney(sum)}}</span></li>
        <li><span>实际费用</span><span class="BQ-color-red">{{tool.formMoney(realSum)}}</span></li>
        <li><span>抵扣</span><span>{{diKouCoin}}</span></li>
      </ul>
    </div>
    <span class="zhuanrangzhong">宝券信息</span>
    <div class="baoquanMessageDetail">
      <ul>
        <li><span>宝券金额</span><span>{{tool.formMoney(validAmt)}}</span></li>
        <li><span>距到期日</span><span>{{dueDays || '0'}}天</span></li>
        <li><span>年化费率</span><span>{{rate}}%</span></li>
        <li><span>费用金额</span><span class="BQ-color-red">{{tool.formMoney(sum)}}</span></li>
        <li style="margin-top: 10px;"><span>加保公司</span><span>{{confirmCorp}}</span></li>
      </ul>
    </div>
    <button class="btn-next-step" ng-click="ApplyInsuranceBtn()">确定</button>
  </ion-content>
</ion-view>
