<ion-view view-title="设置" hide-tabs="true">
  <ion-content>
    <div class="mine-list setting-icon">
      <ul>
        <li><a ui-sref="tab.AccountSafe"><i class="zhanghuanquan"></i><span>账户安全</span></a></li>
        <li><a ui-sref="tab.DistinguishedAdvice"><i class="zunguijianyi"></i><span>尊贵建议</span><b></b></a></li>
        <li><a ui-sref="tab.ProductVersions"><i class="chanpinbanben"></i><span>产品版本</span><b></b></a></li>
      </ul>
    </div>
    <button class="button button-full button-light red" ng-click="loginout()">
      安全退出
    </button>
  </ion-content>
</ion-view>
