<ion-view hide-tabs="true" view-title="角色选择">
  <ion-content>
    <div class="manage-kinds-choose-detail">
      <ul>
        <li ng-click="guanLiYuanBtn()">
          <div class="HHScheckbox">
            <label class="checkbox">
              <input type="checkbox" ng-model="guanLiYuan.value" ng-checked="ischecked">
            </label>
          </div>
          <span>管理员</span>
        </li>
        <li ng-click="fuHeRenBtn()">
          <div class="HHScheckbox">
            <label class="checkbox">
              <input type="checkbox" ng-model="fuHeRen.value" ng-checked="ischecked">
            </label>
          </div>
          <span>复核人</span>
        </li>
        <li ng-click="jingBanRenBtn()">
          <div class="HHScheckbox">
            <label class="checkbox">
              <input type="checkbox" ng-model="jingBanRen.value" ng-checked="ischecked">
            </label>
          </div>
          <span>经办人</span>
        </li>
      </ul>
    </div>
    <button class="btn-next-step" ng-click="userEditBtn()">确定</button>
  </ion-content>
</ion-view>
