<ion-view view-title="账户安全">
  <ion-content>
    <div class="pl-detail-list">
      <ul>
        <li><span>原密码</span><input ng-model="oldPwd.value" type="password" placeholder="请输入原密码"/></li>
        <li><span>新密码</span><input ng-model="newPwd.value" type="password" placeholder="请输入新密码"/></li>
        <li><span>新密码确认</span><input ng-model="newPwdMakeSure.value" style="margin-left: 10px" type="password" placeholder="请确认新密码"/></li>
        <li><span>验证码</span><a ng-click="getCodeBtn()" href="javascript:void(0);">{{getMessageInfo}}</a><input ng-model="msCode.value" type="text" placeholder="请输入验证码"/></li>
      </ul>
    </div>
    <button class="btn-next-step" ng-click="MakeSureBtn()">确定</button>
  </ion-content>
</ion-view>
