<ion-view view-title="申请数字证书" hide-tabs="true">
  <ion-content>
    <div class="baoquanMessageDetail">
      <ul>
        <li><span>企业名称</span><span>{{applyMsg.custCnNm}}</span></li>
        <li><span>证件类型</span>
          <span ng-if="applyMsg.idTyp == '0'">组织机构代码证</span>
          <span ng-if="applyMsg.idTyp == '4'">统一社会信用代码证</span>

        </li>
        <li><span>证件号码</span><span>{{applyMsg.idNo}}</span></li>
        <li><span>所在城市</span><span>{{applyMsg.regCity || '无'}}</span></li>
        <li><span>详细地址</span><span>{{applyMsg.regAdr || '无'}}</span></li>
        <li><span>法人代表</span><span>{{applyMsg.lglPerNm || '无'}}</span></li>
      </ul>
    </div>
    <span class="zhuanrangzhong">管理员信息</span>
    <div class="baoquanMessageDetail">
      <ul>
        <li><span>管理员姓名</span><span>{{applyMsg.manageName}}</span></li>
        <li><span>身份证号码</span><span>{{applyMsg.manageCertNo}}</span></li>
        <li><span>手机号码</span><span>{{applyMsg.manageMobile}}</span></li>
      </ul>
    </div>
    <button class="btn-next-step" ng-if="isApplyBtn" on-tap="applyBtn()">申请数字证书</button>
     </ion-content>
</ion-view>
