<ion-view view-title="银行账户" hide-tabs="true">
  <ion-content>
    <div class="baoquanMessageDetail">
      <ul>
        <li><span>开户名称</span><input class="fr" type="text" ng-model="openAcctNm.value" placeholder="供应商名称"/></li>
        <li><span>账号</span><input class="fr" type="number" ng-model="acctNo.value" placeholder="银行账号"/></li>
        <li><span>开户行</span><input class="fr" type="text" ng-model="openBrhCd.value" placeholder="银行开户行"/></li>
        <li ng-click="citys()" class="choose-bankPlace"><span>支行城市</span><i></i><b>{{provcity}}</b></li>
        <li><span>名称</span><input class="fr" ng-model="openBrhNm.value" type="text" placeholder="开户行支行名称"/></li>
        <li><span>默认账户</span>
          <span>
            <label class="toggle toggle-assertive">
              <input type="checkbox" ng-model="MoRen.value">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </span>
        </li>
      </ul>
    </div>
    <button class="btn-next-step" ng-click="submitBtb()">提交</button>
  </ion-content>

</ion-view>
