<ion-view view-title="使用帮助" hide-tabs="true">
  <ion-content>
    <div class="search-company">
      <i class="ion-ios-search-strong"></i>
      <input type="text" placeholder="请输入您的问题" ng-model="inputTxt.kw"/>
    </div>
    <div class="use-help">
      <ul>

        <li ng-repeat="item in hlist" ng-click="gotowhere(item.type,$index)">
          <span>{{item.title}}</span>
          <i></i>
        </li>

      </ul>
    </div>
    <div class="tel-phone">
      <i></i>
      <span>客服电话</span>
      <b>400-001-5500</b>
    </div>
  </ion-content>
</ion-view>
