<ion-modal-view class="my-modal">

  <ion-header-bar>
    <div class="buttons">
      <button ng-click="modal.hide();" class="button button-clear">
        取消
      </button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button ng-click="closemodal();" class="button button-clear">
        确定
      </button>
    </div>
  </ion-header-bar>


  <div class="mychoose">选择地址:
    <span>{{choprov}}</span>
    <span>{{chocity}}</span>
  </div>

  <ion-content scroll="true" class="getInfo">

    <div>
      <ul class="provlists" ng-if="isshow">  <!--  on-drag-up="listup(this)" -->
        <li ng-repeat="item in provLists" on-tap="checkprov(item.areaId,item.areaName)">
          {{item.areaName}}
        </li>
      </ul>
      <ul class="provlists" ng-if="!isshow">  <!--  on-drag-up="listup(this)" -->
        <li ng-repeat="item in cityLists" on-tap="checkcity(item.areaName)">
          {{item.areaName}}
        </li>
      </ul>
    </div>

  </ion-content>

</ion-modal-view>

