<ion-view title="未入账明细" hide-tabs="true">

  <ion-content class="use_detail">
    <div>
      <ul>
        <li ng-repeat="item in unenterDate">
          <div class="use-detail-left">
            <span ng-if="item.txnScene=='01'">转让延期</span>
            <span ng-if="item.txnScene=='02'">融资让利</span>
            <span>{{cjs.initTimer(item.effectiveDt)}}</span>
          </div>
          <!--<i></i>-->
          <div class="use-detail-right">
            <span ng-if="item.bonus >=0 ">+{{item.bonus}}</span>
            <span ng-if="item.bonus <=0 ">-{{item.bonus}}</span>
            <span class="uncheck">{{item.txnAmt}}</span>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>

</ion-view>
