<ion-view  hide-tabs="true" title="请按照时间筛选">

  <!--<ion-nav-title class="activity-center-tab">-->
    <!--<div class="bar bar-header item-input-inset">-->
      <!--<label class="item-input-wrapper">-->
        <!--<i class="icon ion-ios-search placeholder-icon"></i>-->
        <!--<input id="ShaiXuanInsetInput" type="text" placeholder="请输入转让相关信息">-->
      <!--</label>-->
    <!--</div>-->
  <!--</ion-nav-title>-->

  <ion-content class="">

    <div class="shaixuan-time">
      <i></i><span>选择时间</span>
      <!--<b></b>-->
    </div>


    <div class="search-bytime">
      <div ng-click="Startpick()">
        <span>起始时间</span>
        <span>{{(startdate).join('-')}}</span>
      </div>
      <div ng-click="Endpick()">
        <span>起始时间</span>
        <span>{{(enddate).join('-')}}</span>
      </div>
    </div>



    <div class="retuen_check" on-tap="GoBack()">
      <button class="button btn-next-step">筛选</button>
    </div>

  <!--<div class="shaixuan-kinds">
    <div class="shaixuan-biaoti"><i></i><span>按分类筛选</span></div>
    <ul>
      <li><a href="#">融资成功</a></li>
      <li><a href="#">融资失败</a></li>
      <li><a href="#">融资被拒绝</a></li>
      <li><a href="#">融资待复核</a></li>
      <li><a href="#">融资撤销待复核</a></li>
    </ul>
  </div>-->

</ion-content>
</ion-view>
