<ion-view hide-tabs="true">
  <ion-nav-title class="activity-center-tab">
    <div class="bar bar-header mytab-btns">
      <div class="title">
        <span>
          <i ng-class="{true:'active',flase:''}[isshow]" ng-click="showZR()">转让收益</i>
          <i ng-class="{true:'',false:'active'}[isshow]" ng-click="showRZ()">融资收益</i>
        </span>
      </div>
    </div>
  </ion-nav-title>

  <!--<ion-nav-buttons side="right">
    <button class="button button-icon" ui-sref="tab.mycoin-sy-saixuan" style="font-size: 12px">筛选</button>
  </ion-nav-buttons>-->

  <ion-conten>

    <ion-content class="mycoin" ng-show="isshow">

      <!--筛选后的信息提示-->
      <!--<div class="saixuan">  &lt;!&ndash;ng-show="isCur"&ndash;&gt;
        <span>融资成功<i></i></span>
        <span>2017-07-08至2017-08-08<i></i></span>
      </div>-->

      <div class="shouyi">
        <ul>
          <li ng-repeat="zritem in zrList">
            <div><span>转让票据</span><span><i>+{{cjs.formMoney(zritem.bonus)}}</i></span></div>
            <div><span>{{cjs.initTimer(zritem.effectiveDt)}}</span><span>{{cjs.formMoney(zritem.txnAmt)}}</span></div>
          </li>
        </ul>
      </div>
    </ion-content>

    <ion-content class="mycoin" ng-hide="isshow">
      <div class="shouyi">
        <ul>
          <li ng-repeat="rzitem in rzList">
            <div><span>融资票据</span><span><i>+{{cjs.formMoney(rzitem.bonus)}}</i></span></div>
            <div><span>{{cjs.initTimer(rzitem.effectiveDt)}}</span><span>{{cjs.formMoney(rzitem.txnAmt)}}</span></div>
          </li>
        </ul>
      </div>
    </ion-content>
  </ion-conten>

</ion-view>
