<ion-view title="未入账明细" hide-tabs="true">

  <ion-content class="use_detail">
    <div>
      <ul>
          <li>
            <a>
              <div class="use-detail-left">
                <span>供应商AAAA</span>
                <span>2017-04-13</span>
              </div>
              <i></i>
              <div class="use-detail-right">
                <span>100,000.00</span>
                <span class="uncheck">待复核</span>
              </div>

            </a>
          </li>

          <li>
            <a>
              <div class="use-detail-left">
                <span>供应商AAAA</span>
                <span>2017-04-13</span>
              </div>
              <i></i>
              <div class="use-detail-right">
                <span>100,000.00</span>
                <span class="uncheck">待复核</span>
              </div>
            </a>
          </li>

          <li>
            <a>
              <div class="use-detail-left">
                <span>供应商AAAA</span>
                <span>2017-04-13</span>
              </div>
              <i></i>
              <div class="use-detail-right">
                <span>100,000.00</span>
                <span class="uncheck">待复核</span>
              </div>
            </a>
          </li>

          <li>
            <a>
              <div class="use-detail-left">
                <span>供应商AAAA</span>
                <span>2017-04-13</span>
              </div>
              <i></i>
              <div class="use-detail-right">
                <span>100,000.00</span>
                <span class="uncheck">待复核</span>
              </div>
            </a>
          </li>

      </ul>
    </div>
  </ion-content>

</ion-view>
