<div class="popup-qianshou popup-apply-insurance">
  <div class="myTitle">宝券加保</div>
  <div class="myPop">提示：如您确认加保该宝券，请进行身份验证<br/>并签署下述协议。</div>

  <div class="yanzheng">
    <input ng-model="msCode.value" type="text" placeholder="短信验证"/>
    <a ng-click="getCodeBtn()" href="javascript:;">{{getMessageInfo}}</a>
  </div>

  <div class="read-agreement">
    <div class="HHScheckbox">
      <label class="checkbox">
        <input ng-model="checked.value" type="checkbox" >
      </label>
    </div>
    <span>我已认真阅读并同意接受<i on-tap="JiaBaoXuZhi()">《宝券加保申请<br/>人须知》</i>的全部内容。</span>
  </div>
  <div class="my_btn">
    <span ng-click="giveout()">取消</span>
    <span ng-click="makesure()">确定</span>
  </div>
</div>
