<ion-view view-title="签收" hide-tabs="true">

  <ion-nav-buttons side="right">
    <button class="button button-icon" ui-sref="tab.qianshouhistory" style="font-size: 12px">签收历史</button>
  </ion-nav-buttons>

  <ion-content class="qianshou has-footer">
    <div class="daiqians">
      <h1>{{cjs.formMoney(qianshouTotal)}}</h1>
      <div>待签收总额(元)</div>
      <span>共{{qianshouList.list.length}}笔</span>
    </div>

    <div class="checkAll" ng-show="hassign">
      <label class="checkbox">
        <input type="checkbox" ng-click="checkAll()" ng-checked="selectedAll">
      </label>
      <span>请勾选您确签收的宝券</span>
    </div>

    <ul class="qianshouList">
      <li ng-repeat="item in qianshouList.list">
        <label class="checkbox">
          <input type="checkbox" ng-model="isSelected[$index]" ng-click="selection($index)">
        </label>
        <div class="left">
          <h4>{{item.reqCustNm}}</h4>
          <i>{{cjs.initTimer(item.txnDt)}}</i>
        </div>
        <div class="right" ng-click="jumpto('tab.qianshou-danbi',{sid:item.id})">
          <span>{{cjs.formMoney(item.txnAmt)}}</span><i></i>
        </div>
      </li>
    </ul>
  </ion-content>

  <!-- 驳回&确认签收-->
  <ion-footer-bar class=" handle_button" ng-if="hassign">
    <span ng-click="backup()">驳回</span>
    <span class="comfirm_ok" ng-click="sign_in()">确认签收</span>
  </ion-footer-bar>

</ion-view>
