<ion-view title="签收信息" hide-tabs="true">

  <ion-content class="qianshou-detail-ok">

    <div class="qianshou-detail-title">
      <h4>{{cjs.formMoney(signOK.txnAmt)}}</h4>
      <p>转让金额(元)</p>
    </div>

    <div class="qianshou-ok-info">
      <ul>
        <li>
          <span class="left">转出方</span>
          <span class="right">{{signOK.reqCustNm}}</span>
        </li>
        <li>
          <span class="left">状态</span>
          <span class="right">
            <i ng-if="signOK.txnStat == '10'">待签收</i>
            <i ng-if="signOK.txnStat == '11'">已签收</i>
            <i ng-if="signOK.txnStat == '12'" class="red">已驳回</i>
          </span>
        </li>
        <li>
          <span class="left">签收日期</span>
          <span class="right">{{cjs.initTimer(signOK.txnDt)}}</span>
        </li>
        <li>
          <span class="left">到期日</span>
          <span class="right">{{cjs.initTimer(signOK.dueDt) || '无'}}</span>
        </li>
        <li>
          <span class="left">距离期日</span>
          <span class="right">{{signOK.delayDays || 0}}天</span>
        </li>
        <li>
          <span class="left">签收人</span>
          <span class="right">{{signOK.acptUsrNm || '无'}}</span>
        </li>
        <li>
          <span class="left">开单方</span>
          <span class="right">{{signOK.drwrNm}}</span>
        </li>
        <li>
          <span class="left">宝券编号</span>
          <span class="right">{{signOK.id}}</span>
        </li>
      </ul>
    </div>

    <!-- 协议、凭证、通知书-->
    <div class="qianshou-voucher" ng-if='signOK.txnTyp == "Z"'>
    <ul>
      <li ng-click="toZRXieYi()"><i></i><span>晨蜂金融平台宝券应收账款债权转让协议</span><b></b></li>
      <li ng-click="toZRPingZheng()"><i></i><span>宝券转让凭证</span><b></b></li>
      <li ng-click="toZRTongZhi()"><i></i><span>债权转让通知</span><b></b></li>
    </ul>
  </div>
    <div class="qianshou-voucher" ng-if='signOK.txnTyp == "K"'>
      <ul>
        <li ng-click="toKaiLiXieYi()"><i></i><span>开立协议</span><b></b></li>
      </ul>
    </div>
  </ion-content>

</ion-view>
