<ion-view title="签收信息" hide-tabs="true">
  <ion-content class="qianshou-detail-err">

    <div class="qianshou-detail-title">
      <h4>82,700.79</h4>
      <p>转让金额(元)</p>
    </div>

    <div class="qianshou-ok-info">
      <ul>
        <li>
          <span class="left">转出方</span>
          <span class="right">供应商BBBBBB</span>
        </li>
        <li>
          <span class="left">状态</span>
          <span class="right"><i>已驳回</i></span>
        </li>
        <li>
          <span class="left">签收日期</span>
          <span class="right">2017-09-30</span>
        </li>
        <li>
          <span class="left">转出方</span>
          <span class="right">2017-12-30</span>
        </li>
        <li>
          <span class="left">距离期日</span>
          <span class="right">100天</span>
        </li>
        <li>
          <span class="left">签收人</span>
          <span class="right">客户经理A</span>
        </li>
        <li>
          <span class="left">开单方</span>
          <span class="right">中兴通讯股份有限公司</span>
        </li>
        <li>
          <span class="left">宝券编号</span>
          <span class="right">z200170413-001</span>
        </li>
      </ul>
    </div>

    <!-- 协议、凭证、通知书-->
    <div class="qianshou-voucher">
      <ul>
        <li><i></i><span>应收账款债权转让协议</span><b></b></li>
        <li><i></i><span>电子转让凭证</span><b></b></li>
      </ul>
    </div>
  </ion-content>

</ion-view>
