<ion-view view-title="申请成功" hide-tabs="true" hide-back-button="true">
  <ion-content class="company_reg_success" style="background:#fff;">
    <div class="show_ok">
      <img src="./img/icon2.x/success@2x.png" height="100px" width="100px" alt="">
      <div class="tip_info">
        您的融资申请已提交,请等待复核<br/>
        本次预计可获得金币 <i style="color: #f6a623">2000</i> !
      </div>
    </div>
    <div class="login_now" >
      <button ui-sref="tab.rongzi" class="button button-block">确定</button>
    </div>
  </ion-content>

</ion-view>
