<ion-view view-title="撤回成功" hide-tabs="true" hide-back-button="true">
  <ion-content class="company_reg_success" style="background:#fff;">
    <div class="show_ok">
      <img src="./img/icon2.x/success@2x.png" height="100px" width="100px" alt="">
      <div class="tip_info">
        您已完成宝券编号为{{srcDrftNo}},<br/>
        融资金额为 {{tool.formMoney(disctAmt)}}元的{{stateWord}}申请，<br/>
        待复核审核后即完成{{stateWord}}!
        </div>
    </div>
    <div class="login_now" >
      <!-- ui-sref="tab.rongzizhongbaoquan"-->
      <button ng-click="Jumpto()" class="button button-block">确定</button>
    </div>
  </ion-content>

</ion-view>

