<ion-view view-title="融资详情" hide-tabs="true">
  <ion-content>
    <div class="zrang-total-account">
      <h4>{{tool.formMoney(RZbussDetails.disctAmt)}}</h4>
      <p>融资金额(元)</p>
    </div>
    <div class="account-detail-list" style="margin-top: 2px">
      <ul>
        <li><i>资金方</i><b>{{RZbussDetails.orgNm || '无'}}</b></li>
        <li><i>宝券编号</i><b>{{RZbussDetails.srcDrftNo}}</b></li>
        <li><i>融资类型</i><b>有追索权融资</b></li>
        <li><i>申请时间</i><b>{{tool.initTimer(RZbussDetails.txnDt)}}</b></li>
        <li><i>状态</i>
          <b ng-if="RZbussDetails.txnStat == '01'" class="chenggong-blue">待复核</b>
          <b ng-if="RZbussDetails.txnStat == '04'" class="chenggong-blue">撤回待复核</b>
          <b ng-if="RZbussDetails.txnStat == '10'" class="chenggong-blue">待签收</b>
          <b ng-if="RZbussDetails.txnStat == '11'" class="chenggong-blue">审核中</b>
          <b ng-if="RZbussDetails.txnStat == '13'" class="chenggong-blue">放款中</b>
        </li>
      </ul>
    </div>
    <span class="zhuanrangzhong">融资详情</span>
    <div class="account-detail-list">
      <ul>
        <li><i>融资天数</i><b>{{RZbussDetails.intDays}}天</b></li>
        <li><i>年化利率</i><b>{{RZbussDetails.intRate}}%</b></li>
        <li><i>优惠折扣</i><b>{{RZbussDetails.rateDisct}}%</b></li>
        <li><i>金币抵扣</i><b>{{tool.formMoney(RZbussDetails.useBouns)}}</b></li>
        <li><i>应付利息</i><b>{{tool.formMoney(RZbussDetails.dcInterest)}}</b></li>
        <li><i>实付利息</i><b>{{tool.formMoney(RZbussDetails.rcInterest)}}</b></li>
        <li><i>实收金额</i><b>{{tool.formMoney(RZbussDetails.payAmt)}}</b></li>
      </ul>
    </div>

    <button ng-if="RZbussDetails.txnStat == '10'" ng-click="RZchehuiBtn()" class="button button-full button-positive">
      撤回
    </button>
    <button ng-if="RZbussDetails.txnStat == '01'" ng-click="RZcancelBtn()" class="button button-full button-positive">
      取消
    </button>
  </ion-content>
</ion-view>
