<ion-view view-title="宝券融资" hide-tabs="true">
  <ion-content>
    <div class="bank-acount-message">
      <ul>
        <li><i>融资金额</i><b class="">{{tool.formMoney(checkedCalcRes.baoquanTotalAsseAmt)}}</b></li>
        <li><i>放款金额</i><b>{{tool.formMoney(checkedCalcRes.baoquanTotalAsseAmt - checkedCalcRes.RealInterestPayable)}}</b></li>
        <li><i>放款账号</i><b>{{numberTurn.concat(checkedBankInfo[0].acctNo.slice(0, 4)).concat(' **** **** ').concat(checkedBankInfo[0].acctNo.slice(-4))}}</b></li>
        <li><i>账户银行</i><b>{{checkedBankInfo[0].openBrhNm}}</b></li>
        <li><i>融资类型</i><b>有追诉权融资</b></li>
      </ul>
    </div>
    <div class="rongzixiangqing">融资详情</div>
    <div class="baoquan-bianji ">
      <ul ng-repeat="checkedBQMsg in checkedBQMsgs">
        <li>
          <i>{{checkedBQMsg.drftNo}}</i>
        </li>
        <li>
          <ol>
            <li>
              <h4 style="color: red;" class="colorChange">{{tool.formMoney(checkedBQMsg.InputIsseAmt)}}</h4>

              <p>融资金额(元)</p>
            </li>
            <li style="padding-top: 19px;">
                                                            <!-- 每笔融资金额 * 融资利率 * 期限 / 360-->
              <h4 style="font-size: 16px;" class="colorChange">{{tool.formMoney(checkedBQMsg.InputIsseAmt * checkedRateData.yearRate * checkedBQMsg.dueDays / 360)}}</h4>

              <p>预计应付利息(元)</p>
            </li>
            <li style="padding-top: 21px;">
              <h4 style="font-size: 14px">{{checkedBQMsg.dueDays}}</h4>
              <p>期限(天)</p>
            </li>
          </ol>
        </li>
      </ul>


    </div>
    <button class="btn-next-step" ng-click="RZapplyBtn()">提交</button>
  </ion-content>
</ion-view>

