
<ion-view view-title="融资中宝券">
  <ion-content>
    <div class="zrang-total-account">
      <h4>{{tool.formMoney(RZzhongList.sum)}}</h4>
      <p>融资中总额(元)</p>
      <div>利息总额(元)&nbsp;<i>&nbsp;{{tool.formMoney(RZzhongList.rateSum)}}</i></div>
    </div>
    <div class="zrang-content">
      <span class="zhuanrangzhong">融资中</span>
      <div class="zrang-zhuanru-company">
        <ul>

          <li ng-repeat="RZzhongLists in RZzhongList.lists.list;">
            <a href="javascript:void(0);"
               class="test-swipe-left"
               ng-class="RZzhongLists.isswipe ? 'self-swipe-left' : 'self-swipe-left-none';"
               on-swipe-left="addTransform($index);"
               on-swipe-right="transformNone($index);"
               ng-click="RZDetailBtn(RZzhongLists.id,$index);"
               ng-class="RZzhongLists.txnStat == '04' || '11' || '13' ? '' : 'self-swipe-left-none';">
              <div class="company-name">
                <span class="fl">{{RZzhongLists.srcDrftNo}}</span>
                <span class="fr">{{tool.formMoney(RZzhongLists.disctAmt)}}</span>
              </div>
              <b></b>
              <div class="zhuanru-time">
                <span class="fl">{{tool.initTimer(RZzhongLists.txnDt)}}</span>
                <span ng-if="RZzhongLists.txnStat == '01'" class="fr">待复核</span>
                <span ng-if="RZzhongLists.txnStat == '04'" class="fr">撤回待复核</span>
                <span ng-if="RZzhongLists.txnStat == '10'" class="fr">待签收</span>
                <span ng-if="RZzhongLists.txnStat == '11'" class="fr">审核中</span>
                <span ng-if="RZzhongLists.txnStat == '13'" class="fr">放款中</span>
              </div>
              <i ng-if="RZzhongLists.txnStat == '10'" ng-click="RZBaiQuanCheHuiBtn($event,RZzhongLists.id,$index)">撤回</i>
              <i ng-if="RZzhongLists.txnStat == '01'" style="background:gray;" ng-click="RZBaiQuanCancelBtn($event,RZzhongLists.id,$index)">取消</i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
