<ion-view view-title="融资信息" hide-tabs="true">
  <ion-content>
    <div class="zrang-total-account">
      <h4>{{rzhisList.disctAmt}}</h4>
      <p>融资金额(元)</p>
    </div>
    <div class="account-detail-list" style="margin-top: 2px">
      <ul>
        <li><i>资金方</i><b>{{rzhisList.orgNm}}</b></li>
        <li><i>宝券编号</i><b>{{rzhisList.srcDrftNo}}</b></li>
        <li><i>融资类型</i><b>{{(rzhisList.finTyp)=='1'?'无追索权融资':'有追索权融资'}}</b></li>
        <li><i>申请时间</i><b>{{0}}</b></li>
        <li><i>状态</i>
          <b class="chenggong-blue" ng-if="rzhisList.txnStat=='03'">已取消</b>
          <b class="chenggong-blue" ng-if="rzhisList.txnStat=='05'">已撤回</b>
          <b class="chenggong-blue" ng-if="rzhisList.txnStat=='12'" style="color:red;">已驳回</b>
          <b class="chenggong-blue" ng-if="rzhisList.txnStat=='14'" style="color:red;">已拒绝</b>
          <b class="chenggong-blue" ng-if="rzhisList.txnStat=='15'">已放款</b>
        </li>
      </ul>
    </div>
    <span class="zhuanrangzhong">融资明细</span>
    <div class="account-detail-list">
      <ul>
        <li><i>融资天数</i><b>{{rzhisList.intDays}}</b></li>
        <li><i>年化利率</i><b>{{rzhisList.intRate}}</b></li>
        <li><i>优惠折扣</i><b>{{rzhisList.rateDisct}}</b></li>
        <li><i>金币抵扣</i><b>{{rzhisList.useBouns}}</b></li>
        <li><i>应付利息</i><b>{{rzhisList.dcInterest}}</b></li>
        <li><i>实付利息</i><b>{{rzhisList.rcInterest}}</b></li>
        <li><i>实收金额</i><b>{{rzhisList.payAmt}}</b></li>
      </ul>
    </div>
    <!-- 转让凭证-->
    <div class="zrang-voucher" ng-if="rzhisList.txnStat=='15'">
      <ul>
        <li ng-click="RZXieYiFileload()"><i></i><span>晨蜂金融平台宝券商业保理融资协议</span><b></b></li>
        <!-- ui-sref="tab.RZXieYi"-->
        <li ng-click="RZPingZhengFileload()"><i style="background: url('./img/icon2.x/huidan@2x.png') no-repeat center / 23px 23px;"></i><span>宝券保理融资凭证</span><b></b></li>
        <li ng-click="RZZrangFileload()"><i></i><span>债权转让通知</span><b></b></li>
      </ul>
    </div>

  </ion-content>
</ion-view>
