<ion-view view-title="晨蜂金融平台宝券商业保理融资协议" hide-tabs="true">
  <ion-content>
    <div class="yonghuxieyiqian-div" ng-if='finTypNohas'>
      <div class="inc">
        本《晨蜂金融平台宝券商业保理融资协议》（“本协议”、“《宝券融资协议》”）由融资人与保理商（统称“双方”）于本协议约定的时间在广东省深圳市南山区签署：<br/>
        <p>
          <i> </i><br/>
        融资人：{{disctInfo.custCnNm}}<br/>
        住所：{{disctInfo.regAdrProv + disctInfo.regAdrCity + disctInfo.regAdr}}<br/>
        法定代表人（负责人）：{{disctInfo.lglPersNm}}<br/>
        <i> </i><br/>
        保理商：深圳市中兴金控商业保理有限公司<br/>
        住所：深圳市前海深港合作区前湾一路1号A栋201室（入驻深圳市前海商务秘书有限公司）<br/>
        法定代表人：韦在胜<br/>
        <i> </i><br/>
        鉴于：<br/>
        </p>
        (A)晨蜂金融平台由深圳市中兴金控商业保理有限公司建设并运营，提供应收账款管理、转让、融资等服务；<br/>
        (B)融资人拟向保理商以转让其合法持有的宝券应收账款为前提向保理商申请融资；<br/>
        (C)在签订本协议之前，特提示融资人应充分了解晨蜂金融平台机制、保理融资服务内容、业务规则与收费标准，自主决定是否申请并获得商业保理融资，签署本协议即表明融资人了解上述内容，并同意遵守本协议的具体约定。<br/>

        因此，经双方协商一致，签订本协议，约定如下：<br/>
        <i> </i><br/>
        <p>
          1.定义
          除本协议另有规定外，本协议中下列有关用语具有以下含义：<br/>
        </p>
        1.1《用户协议》：指平台用户注册与认证时勾选、认可并签署的《晨蜂金融平台用户注册与服务协议》，以及其不时被更新、替换、补充、修订的版本，该协议内容包括晨蜂金融平台发布的届时有效的各项业务规则、操作流程、通知通告、使用说明和指引等文件。<br/>
        1.2中兴保理：指深圳市中兴金控商业保理有限公司，其根据相关法律法规合法成立、有效存续并可以开展保理业务。中兴保理为平台运营方，同时为本协议的保理商。<br/>
        1.3基础交易：指宝券对应的中兴康讯和中兴通讯之间因销售商品、提供服务或其他贸易活动产生的债权债务关系。<br/>
        1.4宝券：指中兴通讯成功开具的、显示基础合同项下中兴通讯与中兴康讯之间债权债务关系的应收账款凭证。<br/>
        1.5融资凭证：就某一宝券融资交易而言，指中兴保理审核通过宝券融资申请后平台自动生成的《宝券保理融资凭证》，融资凭证为本协议不可分割的一部分，与本协议具有同等的法律效力。融资凭证记载业务类型、融资金额、融资期限、融资利率、优惠信息、实付金额、实际发放日等重要融资信息，由中兴保理在审核通过宝券融资申请后最终确认。融资人同意并确认相关信息最终均以融资凭证记载的信息为准。<br/>
        1.6无追索权保理：指在融资人将宝券应收账款转让予保理商的基础上，保理商根据本协议约定向融资人提供保理融资服务，如融资债权未能按时足额收回，除本协议另有约定外，保理商无权向融资人进行追索。<br/>
        1.7基础合同：是指产生应收账款的、由中兴康讯与中兴通讯签订的货物销售合同、服务合同或其他交易文件，包括其补充协议和构成销售/服务合同组成部分的附件。<br/>
        1.8中兴通讯/开券人：指中兴通讯股份有限公司，作为基础合同项下的买方和应收账款债务人开具宝券。仅有中兴通讯可成为开券人。<br/>
        1.9中兴康讯/原始持券人：指深圳市中兴康讯电子有限公司，为平台用户，作为基础合同项下的卖方和应收账款债权人签收中兴通讯开具的宝券，并根据平台业务规则和指引向供应商转让宝券。仅有中兴康讯可成为原始持券人。<br/>
        1.10转让日：具有本协议第3.2.2条规定的含义，在转让日，宝券融资生效，融资债权从融资人转让给中兴保理。<br/>
        1.11融资债权：具有本协议第2.1条规定的含义。<br/>
        1.12宝券融资：具有本协议第2.1条规定的含义。<br/>
        1.13宝券到期日：指根据宝券记载信息，中兴通讯履行宝券偿付义务，持券人获取宝券偿付款项的日期。如果持券人根据业务规则和指引延长宝券项下应收账款付款日并生效的，则该宝券到期日按延长的应收账款最晚付款日计算。<br/>
        1.14融资人：就某一宝券融资交易而言，指融资凭证所记载的持券人。<br/>
        1.15宝券融资申请：指融资人通过晨蜂金融平台发出的宝券融资申请。<br/>
        1.16宝券融资申请文件：指融资人发出宝券融资申请时，在平台上上传的申请配套文件，其中包括融资人已签署完毕的本协议。<br/>
        1.17加保宝券：指根据平台业务规则和指引成功加保的宝券，具体为生成了“该宝券已被XX加保 ”（XX为加保机构名称）的标识或记录的宝券。<br/>
        1.18《宝券加保合作协议》：指由中兴保理与加保机构签署合法有效的协议，具体为持券人在晨蜂金融平台提起加保申请时显示的加保协议。<br/>
        1.19加保宝券持有人：指根据《用户协议》，通过认证审核并持有加保宝券的用户。<br/>
        1.20加保机构：就宝券加保申请而言，指持券人在平台提起加保申请时显示提供宝券加保服务的机构；就加保宝券而言，指为该加保宝券提供加保的机构。<br/>
        1.21工作日：指除国家法定节假日和休息日以外的中国大陆地区银行正常营业日。<br/>
        1.22日：指自然日。<br/>
        <p>本协议中的其他用语，如无特殊约定，则具有与《用户协议》中的相同含义。</p>

        <p>2.宝券融资概述</p>
        2.1融资人对宝券项下截止于转让日（含该日）尚未到期的全部或部分应收账款本金及其他应付费用（如有）享有全部债权（“融资债权”，融资债权信息以融资凭证记载的信息为准），双方同意，按照本协议规定的条件，将融资债权自转让日起（含该日）由融资人移转于中兴保理享有（“宝券融资”）。<br/>
        2.2为避免歧义，融资人和中兴保理在此确认：中兴康讯在基础合同项下的任何义务和责任都不转让给中兴保理而仍由中兴康讯承担。<br/>

        <p>3.宝券融资申请及生效</p>
        3.1宝券融资申请<br/>
        3.1.1融资人提出宝券融资申请的，应由其经办员登录平台，根据《用户协议》，填写申请资料，上传宝券融资申请文件（如需），勾选《宝券融资协议》与《债权转让通知》。<br/>
        3.1.2宝券融资申请须由融资人的复核员进行复核。融资人的复核员在确认宝券融资申请信息无误后勾选《宝券融资协议》与《债权转让通知》，并通过CA证书妥善签署《宝券融资协议》及《债权转让通知》方为有效的宝券信融资申请。<br/>
        3.1.3融资人勾选《宝券融资协议》与《债权转让通知》，视为融资人同意《宝券融资协议》与《债权转让通知》的全部内容，并自愿签署《宝券融资协议》与《债权转让通知》。融资人的操作员签署《宝券融资协议》与《债权转让通知》的行为视为融资人的行为。<br/>
        3.1.4在与融资宝券相关的所有交易结果均确定前，融资宝券为冻结状态，融资人不得再次对该宝券提起转让申请、融资申请、到期付款申请或享受其他平台服务。<br/>
        3.2宝券融资生效<br/>
        3.2.1中兴保理收到宝券融资申请通知后，对融资人的宝券融资申请予以审核：<br/>
        (1)中兴保理审核确认宝券融资申请资料及其他相关信息后勾选《宝券融资协议》，通过CA证书签署《宝券融资协议》，即宝券融资成功，融资债权即转让至中兴保理并由系统自动生成融资凭证。<br/>
        (2)中兴保理勾选《宝券融资协议》，视为中兴保理同意《宝券融资协议》全部内容，并自愿签署《宝券融资协议》。中兴保理的操作员签署《宝券融资协议》的行为视为中兴保理的行为。<br/>
        (3)中兴保理审核驳回宝券融资申请的，宝券融资失败，中兴保理将通过晨蜂金融平台向融资人发送宝券融资审核未能通过的通知，并告知审核未能通过的原因。宝券融资失败，融资债权不发生转移。<br/>
        3.2.2中兴保理审核通过宝券融资申请，并通过CA证书签署《宝券融资协议》之日为本协议生效之日，亦为转让日。<br/>
        3.2.3加保宝券的融资<br/>
        当融资人向中兴保理转让加保宝券的，中兴保理在审核通过加保宝券融资申请前，应当根据平台业务规则和指引查找并审慎阅读《宝券加保合作协议》下关于加保宝券持有人的权利和义务的约定。中兴保理根据平台业务规则和指引审核通过加保宝券融资申请的，视为知悉、同意并认可《宝券加保合作协议》的全部内容。<br/>
        中兴保理根据平台业务规则和指引审核通过加保宝券融资申请并成为加保宝券持有人的，如果中兴保理在加保宝券到期日前（含该日）发起到期付款申请，但未能于加保宝券到期日起五个工作日内实现加保宝券项下应收账款债权的，或者中兴保理在加保宝券到期日后发起到期付款申请，但未能于发起到期付款申请之日起五个工作日内实现加保宝券项下应收账款债权的，中兴保理有权在加保到期日前根据《宝券加保合作协议》的约定向加保机构提出索赔，并提交索赔申请文件。但若在加保到期日后，加保宝券才到期或中兴保理才发起到期付款申请的，中兴保理不得再向加保机构提出索赔申请。在《宝券加保合作协议》项下所有索赔申请条件均已满足的前提下，加保机构将在收到索赔申请及所有索赔申请文件后【10】个工作日内向中兴保理支付中兴通讯未付部分款项。<br/>
        3.2.4中兴保理签署《宝券融资协议》后，晨蜂金融平台通过站内信方式向中兴通讯送达《债权转让通知》，视为融资人就融资债权转让履行了通知债务人的义务。融资人无需另行通知中兴通讯，中兴保理亦予以确认。<br/>
        3.2.5自本《宝券融资协议》生效之日起，融资债权即转让予中兴保理。<br/>

        <p>4.宝券融资划转、金额和期限
        </p>
        4.1中兴保理应在转让日后一个工作日内，向融资人提供本协议项下宝券融资的实付融资资金。实付融资金额以融资凭证记载的实付金额为准。<br/>
        4.2本协议项下实付融资资金将由中兴保理或其委托的机构转入融资人的用户结算账户。<br/>
        4.3本协议项下实付融资资金的发放日以融资凭证记载的实际发放日（款项自中兴保理银行账户划出之日）为准。<br/>
        4.4宝券融资的期限以融资凭证记载的融资期限为准。<br/>
         
        <p>5.宝券融资利率、利息和费用</p>
        5.1宝券融资利率<br/>
        本协议项下宝券融资的利率以融资凭证记载的利率为准。<br/>
        5.2宝券融资利息<br/>
        本协议项下宝券融资的利息以融资凭证记载的利息为准。<br/>
        5.3宝券融资结息方式<br/>
        宝券融资利息由融资人于宝券融资资金实际发放日向中兴保理一次性支付。<br/>
        5.4宝券融资优惠<br/>
        中兴保理向融资人提供金币、优惠利率等融资优惠，具体优惠形式与规则以平台业务规则和指引为准，每笔融资的优惠信息以融资凭证记载的信息为准。<br/>

        <p>6.应收账款的管理</p>
        6.1.双方同意宝券项下融资债权对应的款项将按照《用户协议》中的相关规则向中兴通讯收取。<br/>
        6.2.如中兴保理作为加保宝券持有人在加保宝券到期日前（含该日）发起到期付款申请，但未能于加保宝券到期日起五个工作日内实现加保宝券项下应收账款债权的，或者在加保宝券到期日后发起到期付款申请，但未能于发起到期付款申请之日起五个工作日内实现加保宝券项下应收账款债权的，可按照《用户协议》与《宝券加保合作协议》的规则请求相关主体承担相应责任。<br/>

        <p>7.保理业务类型</p>
        7.1本协议项下宝券保理业务类型为无追索权保理。<br/>
        7.2若中兴保理未能在宝券到期日（中兴保理于宝券到期日前（含该日）发起到期付款申请的情况下）或中兴保理发起到期付款申请后的三个工作日内（中兴保理于宝券到期日后发起到期付款申请的情况下）足额收回融资资金，中兴保理将不会向融资人追索，但发生以下情形除外：<br/>
        (1)未经中兴保理书面同意，融资人与开券人就宝券项下的债权的内容做出变更、终止、宽延或放弃；<br/>
        (2)融资债权发生商业纠纷，且有效解决结果是开券人无须付款的；<br/>
        (3)融资人以其伪造、变造、欺诈等方式或违反《用户协议》的行为而获取的宝券办理本协议项下的宝券融资业务；<br/>
        (4)融资人在《用户协议》及/或本协议项下所作的任何陈述与保证在任何方面被证明与事实不符；<br/>
        (5)融资人违反其在《用户协议》及/或本协议项下的任何其他义务、保证或承诺；<br/>
        (6)其他因融资人的原因而导致宝券无效、存在法律瑕疵或有碍开券人履行宝券项下的付款义务的情况。<br/>
        若发生上述情形致使中兴保理未能如期足额收回融资资金，中兴保理有权要求融资人立即归还其在本协议项下的融资金额、赔偿中兴保理因此遭受的所有损失，并承担其他法律责任。<br/>

        <p>8.融资人的陈述和保证</p>
        8.1融资人系依中国法律成立的法人，持有有效营业执照，并依法拥有其资产，合法经营其业务。<br/>
        8.2融资人为通过平台认证审核的用户，承诺遵守《用户协议》。其在《用户协议》项下的陈述和保证同时适用于本协议。<br/>
        8.3融资人具有行使和履行本协议项下权利和义务的能力，且融资人签署和履行本协议不会与其必须遵守的法律和行政法规相违背或抵触，不会引起其违反其应遵守的其他合同以及批准其成立的文件和公司章程。<br/>
        8.4融资人向平台和/或中兴保理提供的所有资料都是真实、准确、完整而没有任何隐瞒。<br/>
        8.5宝券项下的债权债务关系系真实、合法、有效的，且为唯一、具体、特定和排他的无争议合法债权。<br/>
        8.6融资债权不存在任何瑕疵，也不存在中兴保理行使权利的限制；融资人未对融资债权设立抵押、质押或其他任何优先权益，且未曾向他人转让。<br/>
        8.7融资人承诺所转让的融资债权未曾与开券人有约定抵销、禁止或限制向第三方转让等事宜；在融资人向中兴保理通过晨蜂金融平台提出宝券融资申请之后，除非中兴保理拒绝受让相关宝券，否则未经中兴保理书面同意，融资人不得与开券人对融资债权的任何内容做出变更、终止、宽延或放弃。<br/>
        8.8除本协议的转让外，融资人不曾亦不会就宝券项下应收账款的全部或任何部分，通过晨蜂金融平台以外的途径转让给任何人。<br/>
        8.9融资人承诺、保证并同意融资债权转让后，中兴保理对融资债权享有完全的权利，包括但不限于利息权益、违约金权益、损害赔偿权益、担保权益以及再转让权和对付款人返还财产的所有权等。<br/>
        8.10在本协议签署时，除已向中兴保理披露事项外，没有针对融资人提出的或悬而未决的、可能会对其构成任何形式的实质性不利影响的诉讼、仲裁或其他潜在的重大纠纷。<br/>
        8.11融资人同意，中兴保理有权就融资转让事宜通过中国人民银行征信中心动产融资统一登记系统办理应收账款转让登记，融资人应配合中兴保理或平台办理并承担登记费用。融资人承诺将按中兴保理的要求提供准确、完整、真实的资料与信息，如相关信息发生变更，应及时通知中兴保理，并配合中兴保理办理变更登记。<br/>
        8.12融资人承诺遵守中国政府颁布的所有与其经营相关的出口管制法律法规和包括美国在内的相关国家和地区的出口管制法律法规；支持中国政府的国际承诺（包括中国政府为执行联合国安全理事会的有关决议而承担的国际义务）。<br/>
        8.13融资人承诺其不属于位于、总部位于、注册在或运营在美国制裁的国家或地区（“受制裁国”，指不时地被美国财政部海外资产管理办公室列为制裁对象的国家或地区，在本协议生效时，受制裁国包括受制裁的伊朗、苏丹、叙利亚、朝鲜、古巴、克里米亚地区）的任何主体。<br/>
        8.14融资人承诺，其不得与位于、总部位于、注册在或运营在属于受制裁国的任何主体开展业务，无论是否涉及原产美国或该等受制裁国的物品，也无论货物或服务是否提供到或途径美国或该等受制裁国。<br/>
        8.15融资人承诺，其不得与被美国政府制裁的主体开展业务，包括但不限于直接或间接与此相关的、不时地被列入以下清单的个人或实体：（1）美国财政部海外资产管理办公室的特别指定国民清单（SDNs），或；（2）美国商务部工业与安全局（BIS）的拒绝人员清单（The Denied Persons List）或实体清单（Entity List）。<br/>
         
        <p>9.中兴保理的陈述和保证</p>
        9.1中兴保理系依中国法律成立的法人，现持有有效营业执照，并依法拥有其资产，合法经营其业务。<br/>
        9.2中兴保理具有行使和履行本协议项下权利和义务的能力，且中兴保理签署和履行本协议不会与其必须遵守的法律和行政法规相违背或抵触，不会引起其违反其应遵守的其他合同以及批准其成立的文件和公司章程。<br/>
        9.3中兴保理提供的所有资料都是真实、准确、完整而没有任何隐瞒。<br/>

        <p>10.中兴保理的权利和义务</p>
        <p>中兴保理在本协议中行使以下权利，履行以下义务：</p>
        10.1自转让日起，融资债权转移至中兴保理，中兴保理享有与融资债权有关的所有权利。<br/>
        10.2中兴保理应按本协议约定向融资人提供宝券融资资金及提供其他服务（如有）。<br/>
        10.3中兴保理应对融资人提供的有关债务、财务、生产、经营等方面的信息资料保密，但本协议或法律另有规定的除外。<br/>

        <p>11.融资人的权利和义务</p>
        <p>融资人在本协议中行使以下权利，履行以下义务：</p>
        11.1融资人有权要求中兴保理按本协议约定提供宝券融资服务。<br/>
        11.2融资人应按本协议约定支付宝券融资业务手续费（如有）、宝券融资利息、逾期罚息、应收账款转让登记费及有关费用（如有）。<br/>
        11.3基础交易项下事项发生变更时，融资人应立即通知中兴保理。<br/>
        11.4融资人应积极配合中兴保理对其有关生产经营和财务情况的调查、了解，并按中兴保理要求及时提供会计、财务报表等资料。<br/>
        11.5融资人应在中兴保理对开券人采取的收款措施中提供必要的协助。<br/>
        11.6融资人应在下列事件发生五（5）个工作日内通知中兴保理，并向中兴保理提供事件的有关资料：<br/>
        (1)发生本协议项下任何违约事件；<br/>
        (2)发生本协议项下预期中的违约事件或可能发生的将对中兴保理在本协议项下的权益造成侵害的任何事件；<br/>
        (3)变更企业名称、住所、注册资本、经营范围、公司类型，修改公司章程，股份制改造、承包、租赁、合并、分立、联营、与外商合资或合作，在财务方面发生重大变化或股权变动及其他重大事项；<br/>
        (4)若开券人或任意第三方对融资债权提供了任何形式的担保，且担保权可以转让的，融资人应一并转让予中兴保理；担保权不能转让的，融资人应在中兴保理需要时协助其追索债务。<br/>
        11.7除融资债权转让予中兴保理外，融资人应继续履行贸易合同项下的其他所有义务（如有）。<br/>
        11.8本协议生效后，融资人不得签署任何足以损害本协议项下中兴保理利益的协议或文件，或从事任何足以损害中兴保理利益的事项。<br/>

        <p>12.违约及违约责任 </p>
        12.1本协议双方中的任何一方违反本协议的约定，视为该方违约，违约方应当依法或依本协议的约定承担相应的违约责任。任何一方的违约行为造成其他方损失的，应承担损害赔偿责任。<br/>
        12.2下述任一事项均构成融资人的违约：<br/>
        (1)融资人未履行本协议、《用户协议》项下义务或违背其在本协议、《用户协议》项下所作的陈述、保证或承诺；<br/>
        (2)融资人停止或可能停止经营其业务或其业务的任何重要部分，或融资人处置其业务或资产的全部或任何重要部分，从而对其履行本协议项下义务的能力产生重大不利影响的；<br/>
        (3)融资人的生产经营、财务状况发生任何重大不利变化，或其在本协议项下履约能力发生重大不利变化；<br/>
        (4)融资人涉及或可能涉及重大经济纠纷，或资产被查封、扣押或被强制执行，从而对其履行本协议项下义务的能力产生重大不利影响的；<br/>
        (5)融资人发生其他影响或可能影响其在本协议项下义务的履行或对中兴保理权益产生严重影响的事件；<br/>
        (6)融资人通过提供虚假合同，以无实际贸易背景的融资债权办理本协议项下或其他中兴保理提供的宝券融资业务的，或套取中兴保理资金的；<br/>
        (7)融资人发生与中兴保理共同签署的其他协议或合同项下违约情形的。<br/>
        12.3发生本条上述任一违约事件，中兴保理有权采取下列一项或多项措施：<br/>
        (1)要求融资人限期纠正违约行为；<br/>
        (2)停止对融资人办理任何业务；<br/>
        (3)立即单方解除本协议。<br/>
         
       <p> 13.通知</p>
        13.1除本协议和《用户协议》另有约定外，双方所发送涉及双方权利、义务的通知，应采取专人送达或商业快递服务方式通知对方。<br/>
        13.2专人送达或商业快递服务以被通知方任何工作人员签收之日为有效送达日。<br/>

        <p>14.协议权利义务转让</p>
        14.1未经中兴保理的事先书面同意，融资人不得将其在本协议项下的任何权利和义务转让给第三人。<br/>
        14.2中兴保理有权将本协议项下权利全部或部分转让给第三人。<br/>
        14.3中兴保理未行使或延迟行使本协议项下的任何权利或决定权，不应被视为对该等权利或决定权的放弃；任何单独或部分的行使上述权利或决定权不应妨碍中兴保理进一步行使该种权利或决定权。本协议约定的各项权利和救济措施是累计的，并不排除法律规定的任何其他权利和补救措施。<br/>
         
        <p>15.法律适用及争议解决</p>
        15.1本协议的订立、效力、解释、执行以及争议解决均适用中华人民共和国法律。<br/>
        15.2凡因本协议引起的或与本协议有关的任何争议，应首先由双方协商解决，协商不成的，任何一方均有权将该争议向协议签署地的人民法院提起诉讼。<br/>
        15.3当产生任何争议及任何争议正按前条规定进行解决时，除争议事项外，双方应继续行使本协议项下的其他权利，履行本协议项下的其他义务。如本协议中的任何条款被认定为全部或部分不合法、无效或不可强制执行，并不影响其他条款的效力和可执行性。<br/>

        <p>16.协议的生效、变更、解除和终止</p>
        16.1本协议自双方通过CA证书签署之日起成立并生效。<br/>
        16.2除非本协议另有约定，本协议生效后，任何一方不得单方面变更或解除本协议；对本协议的任何修改或变更必须经协议各方方协商一致，并达成书面协议。<br/>
        16.3如遇国家法律、法规或政策变化，致使本协议的全部或部分条款不再符合国家法律、法规或政策的要求，协议各方应及时协商，尽快修改有关条款，但各方不因本条停止履行本协议。<br/>
        16.4本协议任何条款的无效或不可执行，不影响其他条款的有效性和可执行性，也不影响整个协议的效力。<br/>
        16.5本协议的变更和解除，不影响缔约各方要求赔偿损失的权利。本协议的解除，不影响本协议中有关争议解决条款的效力。<br/>
        16.6本协议及其修改或补充均通过晨蜂金融平台以电子文本形式制成，可以有一份或者多份并且每一份具有同等法律效力，并永久保存在晨蜂金融平台为此设立的专用服务器上备查和保管。双方均认可该形式的协议效力。<br/>






      </div>
    </div>
    <div class="yonghuxieyiqian-div" ng-if="finTypHas">
      <div class="inc">
        本《晨蜂金融平台宝券商业保理融资协议》（“本协议”、“《宝券融资协议》”）由融资人与保理商（统称“双方”）于本协议约定的时间在广东省深圳市南山区签署：<br/>
        <br/>
        <p>
        融资人：<br/>
        住所：<br/>
        法定代表人（负责人）：<br/>


          <br/>
        保理商：深圳市中兴金控商业保理有限公司<br/>
        住所：深圳市前海深港合作区前湾一路1号A栋201室（入驻深圳市前海商务秘书有限公司）<br/>
        法定代表人：韦在胜<br/>
          <br/>

        鉴于：
        </p>
        (A)晨蜂金融平台由深圳市中兴金控商业保理有限公司建设并运营，提供应收账款管理、转让、融资等服务；<br/>
        (B)融资人拟向保理商以转让其合法持有的宝券应收账款为前提向保理商申请融资；<br/>
        (C)在签订本协议之前，特提示融资人应充分了解晨蜂金融平台机制、保理融资服务内容、业务规则与收费标准，自主决定是否申请并获得商业保理融资，签署本协议即表明融资人了解上述内容，并同意遵守本协议的具体约定。<br/>

        因此，经双方协商一致，签订本协议，约定如下：<br/>

        <p>
          1.定义<br/>
          除本协议另有规定外，本协议中下列有关用语具有以下含义：<br/>
        </p>
        1.1《用户协议》：指平台用户注册与认证时勾选、认可并签署的《晨蜂金融平台用户注册与服务协议》，以及其不时被更新、替换、补充、修订的版本，该协议内容包括晨蜂金融平台发布的届时有效的各项业务规则、操作流程、通知通告、使用说明和指引等文件。<br/>
        1.2中兴保理：指深圳市中兴金控商业保理有限公司，其根据相关法律法规合法成立、有效存续并可以开展保理业务。中兴保理为平台运营方，同时为本协议的保理商。<br/>
        1.3基础交易：指宝券对应的中兴康讯和中兴通讯之间因销售商品、提供服务或其他贸易活动产生的债权债务关系。<br/>
        1.4宝券：指中兴通讯成功开具的、显示基础合同项下中兴通讯与中兴康讯之间债权债务关系的应收账款凭证。<br/>
        1.5融资凭证：就某一宝券融资交易而言，指中兴保理审核通过宝券融资申请后平台自动生成的《宝券保理融资凭证》，融资凭证为本协议不可分割的一部分，与本协议具有同等的法律效力。融资凭证记载业务类型、融资金额、融资期限、融资利率、优惠信息、实付金额、实际发放日等重要融资信息，由中兴保理在审核通过宝券融资申请后最终确认。融资人同意并确认相关信息最终均以融资凭证记载的信息为准。<br/>
        1.6有追索权保理：指在融资人将宝券应收账款转让予保理商的基础上，保理商根据本协议约定向融资人提供保理融资服务，若融资债权因任何原因未能按时足额收回，保理商均有权向融资人进行追索，要求融资人立即支付该等款项。<br/>
        1.7基础合同：是指产生应收账款的、由中兴康讯与中兴通讯签订的货物销售合同、服务合同或其他交易文件，包括其补充协议和构成销售/服务合同组成部分的附件。<br/>
        1.8中兴通讯/开券人：指中兴通讯股份有限公司，作为基础合同项下的买方和应收账款债务人开具宝券。仅有中兴通讯可成为开券人。<br/>
        1.9中兴康讯/原始持券人：指深圳市中兴康讯电子有限公司，为平台用户，作为基础合同项下的卖方和应收账款债权人签收中兴通讯开具的宝券，并根据平台业务规则和指引向供应商转让宝券。仅有中兴康讯可成为原始持券人。<br/>
        1.10转让日：具有本协议第3.2.2条规定的含义，在转让日，宝券融资生效，融资债权从融资人转让给中兴保理。<br/>
        1.11融资债权：具有本协议第2.1条规定的含义。<br/>
        1.12宝券融资：具有本协议第2.1条规定的含义。<br/>
        1.13宝券到期日：指根据宝券记载信息，中兴通讯履行宝券偿付义务，持券人获取宝券偿付款项的日期。如果持券人根据业务规则和指引延长宝券项下应收账款付款日并生效的，则该宝券到期日按延长的应收账款最晚付款日计算。<br/>
        1.14融资人：就某一宝券融资交易而言，指融资凭证所记载的持券人。<br/>
        1.15宝券融资申请：指融资人通过晨蜂金融平台发出的宝券融资申请。<br/>
        1.16宝券融资申请文件：指融资人发出宝券融资申请时，在平台上上传的申请配套文件，其中包括融资人已签署完毕的本协议。<br/>
        1.17加保宝券：指根据平台业务规则和指引成功加保的宝券，具体为生成了“该宝券已被XX加保 ”（XX为加保机构名称）的标识或记录的宝券。<br/>
        1.18《宝券加保合作协议》：指由中兴保理与加保机构签署合法有效的协议，具体为持券人在晨蜂金融平台提起加保申请时显示的加保协议。<br/>
        1.19加保宝券持有人：指根据《用户协议》，通过认证审核并持有加保宝券的用户。<br/>
        1.20加保机构：就宝券加保申请而言，指持券人在平台提起加保申请时显示提供宝券加保服务的机构；就加保宝券而言，指为该加保宝券提供加保的机构。<br/>
        1.21工作日：指除国家法定节假日和休息日以外的中国大陆地区银行正常营业日。<br/>
        1.22日：指自然日。<br/>
        本协议中的其他用语，如无特殊约定，则具有与《用户协议》中的相同含义。<br/>

        <p>2.宝券融资概述</p>
        2.1融资人对宝券项下截止于转让日（含该日）尚未到期的全部或部分应收账款本金及其他应付费用（如有）享有全部债权（“融资债权”，融资债权信息以融资凭证记载的信息为准），双方同意，按照本协议规定的条件，将融资债权自转让日起（含该日）由融资人移转于中兴保理享有（“宝券融资”）。<br/>
        2.2为避免歧义，融资人和中兴保理在此确认：中兴康讯在基础合同项下的任何义务和责任都不转让给中兴保理而仍由中兴康讯承担。<br/>

        <p>3.宝券融资申请及生效</p>
        3.1宝券融资申请<br/>
        3.1.1融资人提出宝券融资申请的，应由其经办员登录平台，根据《用户协议》，填写申请资料，上传宝券融资申请文件（如需），勾选《宝券融资协议》与《债权转让通知》。<br/>
        3.1.2宝券融资申请须由融资人的复核员进行复核。融资人的复核员在确认宝券融资申请信息无误后勾选《宝券融资协议》与《债权转让通知》，并通过CA证书妥善签署《宝券融资协议》及《债权转让通知》方为有效的宝券信融资申请。<br/>
        3.1.3融资人勾选《宝券融资协议》与《债权转让通知》，视为融资人同意《宝券融资协议》与《债权转让通知》的全部内容，并自愿签署《宝券融资协议》与《债权转让通知》。融资人的操作员签署《宝券融资协议》与《债权转让通知》的行为视为融资人的行为。<br/>
        3.1.4在与融资宝券相关的所有交易结果均确定前，融资宝券为冻结状态，融资人不得再次对该宝券提起转让申请、融资申请、到期付款申请或享受其他平台服务。<br/>
        3.2宝券融资生效
        3.2.1中兴保理收到宝券融资申请通知后，对融资人的宝券融资申请予以审核：<br/>
        (1)中兴保理审核确认宝券融资申请资料及其他相关信息后勾选《宝券融资协议》，通过CA证书签署《宝券融资协议》，即宝券融资成功，融资债权即转让至中兴保理并由系统自动生成融资凭证。<br/>
        (2)中兴保理勾选《宝券融资协议》，视为中兴保理同意《宝券融资协议》全部内容，并自愿签署《宝券融资协议》。中兴保理的操作员签署《宝券融资协议》的行为视为中兴保理的行为。<br/>
        (3)中兴保理审核驳回宝券融资申请的，宝券融资失败，中兴保理将通过晨蜂金融平台向融资人发送宝券融资审核未能通过的通知，并告知审核未能通过的原因。宝券融资失败，融资债权不发生转移。<br/>
        3.2.2中兴保理审核通过宝券融资申请，并通过CA证书签署《宝券融资协议》之日为本协议生效之日，亦为转让日。<br/>
        3.2.3加保宝券的融资<br/>
        当融资人向中兴保理转让加保宝券的，中兴保理在审核通过加保宝券融资申请前，应当根据平台业务规则和指引查找并审慎阅读《宝券加保合作协议》下关于加保宝券持有人的权利和义务的约定。中兴保理根据平台业务规则和指引审核通过加保宝券融资申请的，视为知悉、同意并认可《宝券加保合作协议》的全部内容。<br/>
        中兴保理根据平台业务规则和指引审核通过加保宝券融资申请并成为加保宝券持有人的，如果中兴保理在加保宝券到期日前（含该日）发起到期付款申请，但未能于加保宝券到期日起五个工作日内实现加保宝券项下应收账款债权的，或者中兴保理在加保宝券到期日后发起到期付款申请，但未能于发起到期付款申请之日起五个工作日内实现加保宝券项下应收账款债权的，中兴保理有权在加保到期日前根据《宝券加保合作协议》的约定向加保机构提出索赔，并提交索赔申请文件。但若在加保到期日后，加保宝券才到期或中兴保理才发起到期付款申请的，中兴保理不得再向加保机构提出索赔申请。在《宝券加保合作协议》项下所有索赔申请条件均已满足的前提下，加保机构将在收到索赔申请及所有索赔申请文件后【10】个工作日内向中兴保理支付中兴通讯未付部分款项。<br/>
        3.2.4中兴保理签署《宝券融资协议》后，晨蜂金融平台通过站内信方式向中兴通讯送达《债权转让通知》，视为融资人就融资债权转让履行了通知债务人的义务。融资人无需另行通知中兴通讯，中兴保理亦予以确认。<br/>
        3.2.5自本《宝券融资协议》生效之日起，融资债权即转让予中兴保理。<br/>

        <p>4.宝券融资划转、金额和期限</p>
        4.1中兴保理应在转让日后一个工作日内，向融资人提供本协议项下宝券融资的实付融资资金。实付融资金额以融资凭证记载的实付金额为准。<br/>
        4.2本协议项下实付融资资金将由中兴保理或其委托的机构转入融资人的用户结算账户。<br/>
        4.3本协议项下实付融资资金的发放日以融资凭证记载的实际发放日（款项自中兴保理银行账户划出之日）为准。<br/>
        4.4宝券融资的期限以融资凭证记载的融资期限为准。<br/>
         
        <p>5.宝券融资利率、利息和费用</p>
        5.1宝券融资利率<br/>
        本协议项下宝券融资的利率以融资凭证记载的利率为准。<br/>
        5.2宝券融资利息<br/>
        本协议项下宝券融资的利息以融资凭证记载的利息为准。<br/>
        5.3宝券融资结息方式<br/>
        宝券融资利息由融资人于宝券融资金额实际发放日向中兴保理一次性支付。<br/>
        5.4宝券融资优惠<br/>
        中兴保理向融资人提供金币、优惠利率等融资优惠，具体优惠形式与规则以平台业务规则和指引为准，每笔融资的优惠信息以融资凭证记载的信息为准。<br/>

        <p>6.应收账款的管理</p>
        6.1.双方同意宝券项下融资债权对应的款项将按照《用户协议》中的相关规则向中兴通讯收取。<br/>
        6.2.如中兴保理作为加保宝券持有人在加保宝券到期日前（含该日）发起到期付款申请，但未能于加保宝券到期日起五个工作日内实现加保宝券项下应收账款债权的，或者在加保宝券到期日后发起到期付款申请，但未能于发起到期付款申请之日起五个工作日内实现加保宝券项下应收账款债权的，可按照《用户协议》与《宝券加保合作协议》的规则请求相关主体承担相应责任。<br/>

        <p>7.保理业务类型</p>
        7.1本协议项下宝券保理业务类型为有追索权保理。<br/>
        7.2发生下列任一情形时，中兴保理均有权要求融资人立即归还其在本协议项下的融资金额、赔偿中兴保理因此遭受的所有损失，并承担其他法律责任：<br/>
        (1)无论何等原因，中兴保理未能在宝券到期日（中兴保理于宝券到期日前（含该日）发起到期付款申请的情况下）或中兴保理发起到期付款申请后的三个工作日内（中兴保理于宝券到期日后发起到期付款申请的情况下）足额收回融资资金的；<br/>
        (2)融资债权发生商业纠纷的；<br/>
        (3)融资债权属于未生效、无效、被撤销或效力待定情形的；<br/>
        (4)融资人发生被托管（接管）、减少注册资本、被兼并、重组、分立、（被）申请停业整顿、申请解散、被撤销、（被）申请破产、控股股东/实际控制人变更、重大资产转让、停产、歇业、被有权机关施以10万元以上罚款、被注销登记、被吊销营业执照、涉及重大法律纠纷、生产经营出现严重困难或财务状况恶化、法定代表人或主要负责人无法正常履行职责，或者因任何原因丧失或可能丧失履约能力，且未能提供中兴保理认可的补救措施；<br/>
        (5)融资人违反其在《用户协议》及/或本协议项下的任何其他义务、保证或承诺。<br/>

        <p>8.融资人的陈述和保证</p>
        8.1融资人系依中国法律成立的法人，持有有效营业执照，并依法拥有其资产，合法经营其业务。<br/>
        8.2融资人为通过平台认证审核的用户，承诺遵守《用户协议》。其在《用户协议》项下的陈述和保证同时适用于本协议。<br/>
        8.3融资人具有行使和履行本协议项下权利和义务的能力，且融资人签署和履行本协议不会与其必须遵守的法律和行政法规相违背或抵触，不会引起其违反其应遵守的其他合同以及批准其成立的文件和公司章程。<br/>
        8.4融资人向平台和/或中兴保理提供的所有资料都是真实、准确、完整而没有任何隐瞒。<br/>
        8.5宝券项下的债权债务关系系真实、合法、有效的，且为唯一、具体、特定和排他的无争议合法债权。<br/>
        8.6融资债权不存在任何瑕疵，也不存在中兴保理行使权利的限制；融资人未对融资债权设立抵押、质押或其他任何优先权益，且未曾向他人转让。<br/>
        8.7融资人承诺所转让的融资债权未曾与开券人有约定抵销、禁止或限制向第三方转让等事宜；在融资人向中兴保理通过晨蜂金融平台提出宝券融资申请之后，除非中兴保理拒绝受让相关宝券，否则未经中兴保理书面同意，融资人不得与开券人对融资债权的任何内容做出变更、终止、宽延或放弃。<br/>
        8.8除本协议的转让外，融资人不曾亦不会就宝券项下应收账款的全部或任何部分，通过晨蜂金融平台以外的途径转让给任何人。<br/>
        8.9融资人承诺、保证并同意融资债权转让后，中兴保理对融资债权享有完全的权利，包括但不限于利息权益、违约金权益、损害赔偿权益、担保权益以及再转让权和对付款人返还财产的所有权等。<br/>
        8.10在本协议签署时，除已向中兴保理披露事项外，没有针对融资人提出的或悬而未决的、可能会对其构成任何形式的实质性不利影响的诉讼、仲裁或其他潜在的重大纠纷。<br/>
        8.11融资人同意，中兴保理有权就融资转让事宜通过中国人民银行征信中心动产融资统一登记系统办理应收账款转让登记，融资人应配合中兴保理或平台办理并承担登记费用。融资人承诺将按中兴保理的要求提供准确、完整、真实的资料与信息，如相关信息发生变更，应及时通知中兴保理，并配合中兴保理办理变更登记。<br/>
        8.12融资人承诺遵守中国政府颁布的所有与其经营相关的出口管制法律法规和包括美国在内的相关国家和地区的出口管制法律法规；支持中国政府的国际承诺（包括中国政府为执行联合国安全理事会的有关决议而承担的国际义务）。<br/>
        8.13融资人承诺其不属于位于、总部位于、注册在或运营在美国制裁的国家或地区（“受制裁国”，指不时地被美国财政部海外资产管理办公室列为制裁对象的国家或地区，在本协议生效时，受制裁国包括受制裁的伊朗、苏丹、叙利亚、朝鲜、古巴、克里米亚地区）的任何主体。<br/>
        8.14融资人承诺，其不得与位于、总部位于、注册在或运营在属于受制裁国的任何主体开展业务，无论是否涉及原产美国或该等受制裁国的物品，也无论货物或服务是否提供到或途径美国或该等受制裁国。<br/>
        8.15融资人承诺，其不得与被美国政府制裁的主体开展业务，包括但不限于直接或间接与此相关的、不时地被列入以下清单的个人或实体：（1）美国财政部海外资产管理办公室的特别指定国民清单（SDNs），或；（2）美国商务部工业与安全局（BIS）的拒绝人员清单（The Denied Persons List）或实体清单（Entity List）。<br/>
         
        <p>9.中兴保理的陈述和保证</p>
        9.1中兴保理系依中国法律成立的法人，现持有有效营业执照，并依法拥有其资产，合法经营其业务。<br/>
        9.2中兴保理具有行使和履行本协议项下权利和义务的能力，且中兴保理签署和履行本协议不会与其必须遵守的法律和行政法规相违背或抵触，不会引起其违反其应遵守的其他合同以及批准其成立的文件和公司章程。<br/>
        9.3中兴保理提供的所有资料都是真实、准确、完整而没有任何隐瞒。<br/>

        <p>10.中兴保理的权利和义务</p>
        中兴保理在本协议中行使以下权利，履行以下义务：<br/>
        10.1自转让日起，融资债权转移至中兴保理，中兴保理享有与融资债权有关的所有权利。<br/>
        10.2中兴保理应按本协议约定向融资人提供宝券融资资金及提供其他服务（如有）。<br/>
        10.3中兴保理应对融资人提供的有关债务、财务、生产、经营等方面的信息资料保密，但本协议或法律另有规定的除外。<br/>

        <p>11.融资人的权利和义务</p>
        融资人在本协议中行使以下权利，履行以下义务：<br/>
        11.1融资人有权要求中兴保理按本协议约定提供宝券融资服务。<br/>
        11.2融资人应按本协议约定支付宝券融资业务手续费（如有）、宝券融资利息、逾期罚息、应收账款转让登记费及有关费用（如有）。<br/>
        11.3基础交易项下事项发生变更时，融资人应立即通知中兴保理。<br/>
        11.4融资人应积极配合中兴保理对其有关生产经营和财务情况的调查、了解，并按中兴保理要求及时提供会计、财务报表等资料。<br/>
        11.5融资人应在中兴保理对开券人采取的收款措施中提供必要的协助。<br/>
        11.6融资人应在下列事件发生五（5）个工作日内通知中兴保理，并向中兴保理提供事件的有关资料：<br/>
        (1)发生本协议项下任何违约事件；<br/>
        (2)发生本协议项下预期中的违约事件或可能发生的将对中兴保理在本协议项下的权益造成侵害的任何事件；<br/>
        (3)变更企业名称、住所、注册资本、经营范围、公司类型，修改公司章程，股份制改造、承包、租赁、合并、分立、联营、与外商合资或合作，在财务方面发生重大变化或股权变动及其他重大事项；<br/>
        (4)若开券人或任意第三方对融资债权提供了任何形式的担保，且担保权可以转让的，融资人应一并转让予中兴保理；担保权不能转让的，融资人应在中兴保理需要时协助其追索债务。<br/>
        11.7除融资债权转让予中兴保理外，融资人应继续履行贸易合同项下的其他所有义务（如有）。<br/>
        11.8本协议生效后，融资人不得签署任何足以损害本协议项下中兴保理利益的协议或文件，或从事任何足以损害中兴保理利益的事项。<br/>

        <p>12.违约及违约责任 </p>
        12.1本协议双方中的任何一方违反本协议的约定，视为该方违约，违约方应当依法或依本协议的约定承担相应的违约责任。任何一方的违约行为造成其他方损失的，应承担损害赔偿责任。<br/>
        12.2下述任一事项均构成融资人的违约：<br/>
        (1)融资人未履行本协议、《用户协议》项下义务或违背其在本协议、《用户协议》项下所作的陈述、保证或承诺；<br/>
        (2)融资人停止或可能停止经营其业务或其业务的任何重要部分，或融资人处置其业务或资产的全部或任何重要部分，从而对其履行本协议项下义务的能力产生重大不利影响的；<br/>
        (3)融资人的生产经营、财务状况发生任何重大不利变化，或其在本协议项下履约能力发生重大不利变化；<br/>
        (4)融资人涉及或可能涉及重大经济纠纷，或资产被查封、扣押或被强制执行，从而对其履行本协议项下义务的能力产生重大不利影响的；<br/>
        (5)融资人发生其他影响或可能影响其在本协议项下义务的履行或对中兴保理权益产生严重影响的事件；<br/>
        (6)融资人通过提供虚假合同，以无实际贸易背景的融资债权办理本协议项下或其他中兴保理提供的宝券融资业务的，或套取中兴保理资金的；<br/>
        (7)融资人发生与中兴保理共同签署的其他协议或合同项下违约情形的。<br/>
        12.3发生本条上述任一违约事件，中兴保理有权采取下列一项或多项措施：<br/>
        (1)要求融资人限期纠正违约行为；<br/>
        (2)停止对融资人办理任何业务；<br/>
        (3)立即单方解除本协议。<br/>
         
        <p>13.通知</p>
        13.1除本协议和《用户协议》另有约定外，双方所发送涉及双方权利、义务的通知，应采取专人送达或商业快递服务方式通知对方。<br/>
        13.2专人送达或商业快递服务以被通知方任何工作人员签收之日为有效送达日。<br/>

        <p>14.协议权利义务转让</p>
        14.1未经中兴保理的事先书面同意，融资人不得将其在本协议项下的任何权利和义务转让给第三人。<br/>
        14.2中兴保理有权将本协议项下权利全部或部分转让给第三人。<br/>
        14.3中兴保理未行使或延迟行使本协议项下的任何权利或决定权，不应被视为对该等权利或决定权的放弃；任何单独或部分的行使上述权利或决定权不应妨碍中兴保理进一步行使该种权利或决定权。本协议约定的各项权利和救济措施是累计的，并不排除法律规定的任何其他权利和补救措施。<br/>
         
        <p>15.法律适用及争议解决</p>
        15.1本协议的订立、效力、解释、执行以及争议解决均适用中华人民共和国法律。<br/>
        15.2凡因本协议引起的或与本协议有关的任何争议，应首先由双方协商解决，协商不成的，任何一方均有权将该争议向协议签署地的人民法院提起诉讼。<br/>
        15.3当产生任何争议及任何争议正按前条规定进行解决时，除争议事项外，双方应继续行使本协议项下的其他权利，履行本协议项下的其他义务。如本协议中的任何条款被认定为全部或部分不合法、无效或不可强制执行，并不影响其他条款的效力和可执行性。<br/>

        <p>16.协议的生效、变更、解除和终止</p>
        16.1本协议自双方通过CA证书签署之日起成立并生效。<br/>
        16.2除非本协议另有约定，本协议生效后，任何一方不得单方面变更或解除本协议；对本协议的任何修改或变更必须经协议各方方协商一致，并达成书面协议。<br/>
        16.3如遇国家法律、法规或政策变化，致使本协议的全部或部分条款不再符合国家法律、法规或政策的要求，协议各方应及时协商，尽快修改有关条款，但各方不因本条停止履行本协议。<br/>
        16.4本协议任何条款的无效或不可执行，不影响其他条款的有效性和可执行性，也不影响整个协议的效力。<br/>
        16.5本协议的变更和解除，不影响缔约各方要求赔偿损失的权利。本协议的解除，不影响本协议中有关争议解决条款的效力。<br/>
        16.6本协议及其修改或补充均通过晨蜂金融平台以电子文本形式制成，可以有一份或者多份并且每一份具有同等法律效力，并永久保存在晨蜂金融平台为此设立的专用服务器上备查和保管。双方均认可该形式的协议效力。<br/>

      </div>
    </div>
  </ion-content>
</ion-view>
