<ion-view view-title="融资信息" hide-tabs="true">

  <ion-content class="rzi-check-detail">
    <div class="total-info">
      <div>
        <h4>{{cjs.formMoney(rzitem.disctAmt)}}</h4>
        <h6>融资金额(元)</h6>
      </div>
      <ul>
        <li><span>资金方</span><span>{{rzitem.orgNm}}</span></li>
        <li><span>宝券编号</span><span>{{rzitem.srcDrftNo}}</span></li>
        <li><span>融资类型</span><span>{{rzitem.finTyp}}</span></li>
        <li><span>申请时间</span><span>{{cjs.initTimer(rzitem.txnDt)}}</span></li>
      </ul>
    </div>
    <div class="detail">
      <div>融资详情</div>
      <ul>
        <li><span>融资天数</span><span>{{rzitem.intDays}}</span></li>
        <li><span>年化利率</span><span>{{rzitem.intRate*100}}%</span></li>
        <li><span>优惠折扣</span><span>{{rzitem.rateDisct*100}}%</span></li>
        <li><span>金币抵扣</span><span>{{rzitem.useBouns}}</span></li>
        <li><span>应付利息</span><span>{{cjs.formMoney(rzitem.dcInterest)}}</span></li>
        <li><span>实付利息</span><span>{{cjs.formMoney(rzitem.rcInterest)}}</span></li>
        <li><span>实收金额</span><span>{{cjs.formMoney(rzitem.payAmt)}}</span></li>
        <li><span>状态</span>
          <span ng-if="rzitem.txnStat == ''"></span>
        </li>
      </ul>
    </div>
  </ion-content>



</ion-view>
