<ion-view view-title="消息" hide-tabs="true">

  <ion-nav-bar class="common-backnav">
    <ion-nav-back-button class="button-clear">
      <i class="HHS-tab-backicon" ng-hide="isDel"></i>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-buttons side="left">
    <button class="button button-icon" style="font-size:14px;color:#fff;background:#0f90f1" ng-click="doSomething()" ng-show="isDel">{{"全选"}}</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon" style="font-size:14px;color:#fff;background:#0f90f1" ng-click="chooseMsg()">{{choose}}</button>
  </ion-nav-buttons>


  <div class="mysubheader" ng-if="unreadmsgs.length || readmsgs.length">
    <span ng-class="{true:'active',false:''}[isCur]" ng-click="showUnreadmsg()">未读</span>
    <i></i>
    <span ng-class="{true:'',false:'active'}[isCur]" ng-click="showReadmsg()">已读</span>
  </div>

  <ion-content scroll="true" class="system_messge">
    <!-- 未读-->
    <ion-content ng-show="isCur">

      <div class="nodata" ng-if="!unreadmsgs.length">
        <div class="bgimg"></div>
        <div class="txtinfo">暂无数据</div>
      </div>

      <div class="list">
        <div class="item" ng-repeat="unreadmsg in unreadmsgs">
          <div>
            <!-- 图片-->
            <img ng-src="{{unreadmsg.imgUrl}}" ng-hide="isDel" alt=""/>
            <!-- 点选框-->
            <label class="checkbox" ng-show="isDel">
              <input type="checkbox" ng-click="Ucheckbtn($index)" ng-model="ischeckedU[$index]">
            </label>
            <h4>{{unreadmsg.imSubject}}</h4> <span>{{cmjs.initTimer(unreadmsg.lstUpdTs)}}</span>
          </div>
          <div>
            <h2>{{unreadmsg.imContent}}</h2>
          </div>
        </div>
      </div>

    </ion-content>

    <!-- 已读-->
    <ion-content ng-hide="isCur">

      <div class="nodata" ng-if="!readmsgs.length">
        <div class="bgimg"></div>
        <div class="txtinfo">暂无数据</div>
      </div>

      <div class="list">
        <div class="item" ng-repeat="readmsg in readmsgs">
          <div>
            <img ng-src="{{readmsg.imgUrl}}" alt="" ng-hide="isDel"/>
            <label class="checkbox" ng-show="isDel">
              <input type="checkbox" ng-click="Rcheckbtn($index)" ng-model="ischeckedR[$index]">
            </label>
            <h4>{{readmsg.imSubject}} </h4>
            <span>{{cmjs.initTimer(readmsg.lstUpdTs)}}</span>
          </div>
          <div>
            <h2>{{readmsg.imContent}}</h2>
          </div>
        </div>
      </div>

    </ion-content>

  </ion-content>

  <ion-footer-bar class="op-footer" ng-show="isDel">
    <button style="color: #1093f4"  ng-click="MarkerRd()">标为已读</button>
    <button style="color: #e71e1e" ng-click="Updeleted()">删除</button>
  </ion-footer-bar>

</ion-view>
