<ion-view hide-nav-bar="true" class="tab-home">
  <ion-content scroll="false" has-bouncing="false">
    <header class="common-header">

      <div class="home-choose-company">
        <h3 ng-click="show_companys()">{{showCompany}}<i></i></h3>
        <a ng-class="{true:'home-news',false:'no-news'}[hasnews]" ui-sref="tab.systemmessage"></a>
      </div>

      <div class="home-chooses" ng-if="isActive">
        <ul>
          <li ng-repeat="cpItem in companysList">
            <label>{{cpItem.custCnNm}}
              <input type="radio" name="company"  ng-model="company.choose" value='{{cpItem.custNo}}' ng-change="query()">
              <i class="radio-icon ion-checkmark"></i>
            </label>
          </li>
        </ul>
      </div>

    </header>
    <ion-content has-bouncing="false" class="nav-list">
      <div class="home-three-main-choose">
        <a ui-sref="tab.qianshou">
          <i></i>
          <span>签收</span>
          <!-- 消息提醒图标 -->
          <b class="tip_msg home-news-tip" ng-show="signtasktotal">{{signtasktotal}}</b>
        </a>
        <a ui-sref="tab.zrangcheck">
          <i></i><span>转让复核</span>
          <b class="tip_msg home-news-tip" ng-show="txntasktotal">{{txntasktotal}}</b>
        </a>
        <a ui-sref="tab.rzicheck">
          <i></i><span>融资复核</span>
          <b class="tip_msg home-news-tip" ng-show="discttasktotal">{{discttasktotal}}</b>
        </a>
      </div>
      <main class="home-content">
        <div class="handle-money">
          <ul>
            <li ui-sref="tab.zhuanrang"><a href="#"><i></i><p>我要转让</p></a><div class="myborder-right"></div></li>
            <li ui-sref="tab.rongzi"><a href="#"><i></i><p>我要融资</p></a></li>
            <li ui-sref="tab.bquandaoqi"><a href="#"><i></i><p>宝券到期</p></a><div class="myborder-right"></div></li>
            <li ui-sref="tab.mycoin"><a href="#"><i></i><p>我的金币</p></a></li>
          </ul>
        </div>
        <div class="month-msg">
          <div class="trade-num"><i></i><p>交易量</p></div>
          <div class="total-business" ui-sref="tab.transactions">
            <a href="javascript:void(0);">
              <h2>{{jiaoyiliangHttpData.inVolume/10000 || 0}}</h2>
              <p>本月签收(万)</p>
              <div class="total-business-border-right"></div>
            </a>
            <a href="javascript:void(0);">
              <h2>{{jiaoyiliangHttpData.outVolume/10000 || 0}}</h2>
              <p>本月转出(万)</p>
            </a>
          </div>
          <img class="emiaozhifu" src="./img/index/banner@2x.png" width="100%" alt=""/>
        </div>
      </main>
    </ion-content>
    <div class="backdrop" ng-class="{true: 'nav-list-active active visible', false: ''}[isActive]"></div>
  </ion-content>
</ion-view>

