<ion-view view-title="我的">

  <ion-content>
    <div class="mine-main-top" ui-sref="tab.MineSelfMessage">
      <div>
        <div class="border-img">
          <img src="./img/icon2.x/touxiang-da.png" width="78px" height="78px" alt=""/>

        </div>
        <p>
          <span>{{getUserInfo.usrNm}}</span>
          <i ng-if="fuhegang" style="background-image: url('../img/icon2.x/fuheperson.png')"></i>
          <i ng-if="jinbangang" style="background-image: url('../img/icon2.x/jingbanperson.png')"></i>
          <i ng-if="guanliyuan" style="background-image: url('../img/icon2.x/guanliperson.png')"></i>
          <i ng-if="shouquangang" style="background-image: url('../img/icon2.x/shouquanren.png')"></i>
        </p>
        <span>{{getUserInfo.mobile}}</span>
        <i></i>
      </div>
    </div>
    <div class="mine-list">
      <ul>
        <li><a ui-sref="tab.ChangeCompany"><i></i><span>切换供应商</span><em>{{corpname}}</em><b></b></a></li>
        <li><a ui-sref="tab.MineBaoQuan"><i></i><span>我的宝券</span><b></b></a></li>
        <li><a ui-sref="tab.MineCompany"><i></i><span>我的企业</span><b></b></a></li>
        <li><a ui-sref="tab.MineJiaoYiDuiShou"><i></i><span>交易对手</span><b></b></a></li>
        <li><a ui-sref="tab.MineBankID"><i></i><span>银行账户</span><b></b></a></li>
        <li><a ui-sref="tab.MineUserManage"><i></i><span>用户管理</span><b></b></a></li>
        <li><a ui-sref="tab.MineSetting"><i></i><span>设置</span><b></b></a></li>
        <li><a ui-sref="tab.MineUseHelp"><i></i><span>使用帮助</span><b></b></a></li>
        <li on-tap="wxfShare()"><span><i></i><span>微信好友分享</span><b></b></span></li>
        <li on-tap="wxqShare()"><span><i></i><span>微信朋友圈分享</span><b></b></span></li>

      </ul>
    </div>
  </ion-content>
</ion-view>

