<ion-view view-title="宝券融资" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button ui-sref="tab.rongzihistory" class="button button-icon" style="font-size: 12px">融资历史</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="rongzi-main-top">
      <p>可融资总额(元)</p>
      <h3 ng-show="isOpen">{{tool.formMoney(rzdisctList.sum)}}</h3>
      <h3 style="font-size: 27px;" ng-hide="isOpen">******</h3>
      <div><a ui-sref="tab.rongzizhongbaoquan">融资中<i></i></a></div>
      <i ng-click="eyeCtrl()" ng-class="{true:'eyeOpen',false:'eyeClose'}[isOpen]"></i>
    </div>
    <div class="rank-time-account" ng-if="httpSuccessShow">
      <a href="javascript:void(0);">时间<i></i></a>
      <a href="javascript:void(0)">金额<i></i></a>
    </div>
    <div class="keyongbaoquan-detail keyongbaoquan-detail-DZY" >
      <ul>
        <li ng-repeat="disctitem in RongZiLists">
          <a href="javascript:void(0)">
            <!-- 点选框-->
            <div class="HHScheckbox">
              <label class="checkbox">
                <input ng-model="ischecked[$index]" type="checkbox" ng-click="ischeckedBtn($index)">
              </label>
            </div>
            <div class="keyongbaoquan-detail-left">
              <span>{{disctitem.drwrNm}}</span>
              <span>{{tool.initTimer(disctitem.dueDt)}}</span>
            </div>
            <div class="keyongbaoquan-detail-right" style="text-align: right">
              <span>{{disctitem.isseAmt}}</span>
              <span style="color: #f6a623;font-size: 12px;">{{disctitem.dueDays}}天</span>
            </div>
          </a>
        </li>
      </ul>

    </div>


  </ion-content>
  <ion-footer-bar class="op-footer nobar" ng-if="httpSuccessShow">
    <div class="DZY-is-chose-left" style="width:70%;">
      <div class="HHScheckbox">
        <label class="checkbox">
          <input type="checkbox" ng-checked="allCheck" ng-click="RongZiallCheckBtn()" >
        </label>
      </div>
      <span>全选&nbsp;已选金额:<i>{{TotalIsseAmt}}</i></span></div>
    <!-- ui-sref="tab.baoquanBianJi"-->
    <div class="is-chose-right" style="width: 30%;position: absolute;right: 0;" ng-click="RongZiHasChosenBtn()">
      选好了
    </div>
  </ion-footer-bar>
</ion-view>
