<ion-view  hide-tabs="true">
  <ion-nav-title class="activity-center-tab">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input id="ShaiXuanInsetInput" type="text" placeholder="请输入转让相关信息">
      </label>
    </div>
  </ion-nav-title>

  <ion-content>

  <div class="fix-shaixuan-kinds">
    <div class="shaixuan-biaoti"><i></i><span>按分类筛选</span></div>
    <ul>
      <li ng-click="search('15')">融资已放款</li>
      <li ng-click="search('14')">融资已拒绝</li>
      <li ng-click="search('12')">融资已驳回</li>
      <li ng-click="search('03')">融资已取消</li>
      <li ng-click="search('05')">融资已撤回</li>
    </ul>
  </div>
</ion-content>
</ion-view>
