<ion-view  hide-tabs="true">
  <ion-nav-title class="activity-center-tab">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input id="ShaiXuanInsetInput" type="text" placeholder="请输入转让相关信息">
      </label>
    </div>
  </ion-nav-title>

  <ion-content>

  <div class="fix-shaixuan-kinds">
    <div class="shaixuan-biaoti"><i></i><span>按分类筛选</span></div>
    <ul>
      <li ng-click="search('03')">转让已取消</li>
      <li ng-click="search('05')">转让已撤回</li>
      <li ng-click="search('11')">转让已签收</li>
      <li ng-click="search('12')">转让已驳回</li>
    </ul>
  </div>
</ion-content>
</ion-view>
