<ion-view  hide-tabs="true" title="请按照时间筛选">

  <ion-content class="">

    <div class="shaixuan-time">
      <i></i><span>选择时间</span>
    </div>


    <div class="search-bytime">
      <div ng-click="Startpick()">
        <span>起始时间</span>
        <span>{{(st).join('-')}}</span>
      </div>
      <div ng-click="Endpick()">
        <span>起始时间</span>
        <span>{{(et).join('-')}}</span>
      </div>
    </div>


    <div class="retuen_check" on-tap="GoBack()">
      <button class="button btn-next-step">筛选</button>
    </div>

</ion-content>
</ion-view>
