<ion-view view-title="宝券转让" hide-tabs="true">
  <ion-content>

  <div class="zrang-flow-path">
    <ul>
      <li><i></i><span>选择宝券</span></li>
      <li><b></b></li>
      <li><i></i><span>选择供应商</span></li>
      <li><b></b></li>
      <li><i></i><span>宝券拆分</span></li>
    </ul>
  </div>
  <div class="zrang-keyongbaoquan">
    <p>您的可用宝券总额(元)</p>
    <h4>{{tool.formMoney(sum)}}</h4>
  </div>
  <div class="rank-time-account">
    <a href="javascript:void(0);" ng-click="timeSort()">时间<i ng-class="timeIconIsRotate ? 'rotateIcon': ''"></i></a>
    <a href="javascript:void(0);" ng-click="accountSort()">金额<i ng-class="acountIconIsRotate ? 'rotateIcon': ''"></i><b></b></a>
  </div>
  <div class="keyongbaoquan-detail">
    <ul>
      <li ng-repeat="ZrangCorpBaoQuan in ZrangCorpBaoQuans">
        <a ng-click="ToNextStep(ZrangCorpBaoQuan.id)">
          <div class="keyongbaoquan-detail-left">
            <span>{{tool.initTimer(ZrangCorpBaoQuan.dueDt)}}</span>
            <span>距到期日 <i>{{ZrangCorpBaoQuan.dueDays}}</i> 天</span>
          </div>
          <div class="keyongbaoquan-detail-right">
            <span ng-if="ZrangCorpBaoQuan.isseAmt < 10000 ">0万</span>
            <span ng-if="ZrangCorpBaoQuan.isseAmt < 10000 "><b class="fr">{{tool.formMoney(ZrangCorpBaoQuan.isseAmt)}}</b></span>

            <span ng-if="ZrangCorpBaoQuan.isseAmt >= 10000 ">{{parseInt(ZrangCorpBaoQuan.isseAmt / 10000)}}万</span>
            <span ng-if="ZrangCorpBaoQuan.isseAmt >= 10000 "><b class="fr">{{tool.formMoney((ZrangCorpBaoQuan.isseAmt / 10000 + '').split('.')[1])}}</b></span>
            <i class="jiantou-right"></i>
          </div>
        </a>
      </li>
    </ul>
  </div>

  </ion-content>

</ion-view>>
