<ion-view view-title="交易对手" hide-tabs="true">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="tab.YZYAddJiaoYiDuiShou">
      <i class="ion-plus" ></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
  <span class="zhuanrangzhong">最近交易对手</span>
  <div class="business-of-rival">
    <ul class="company-list-bottom">
      <li ng-repeat="JiaoYiDuiShouMsg  in JiaoYiDuiShouMsgs">
        <a href="javascript:void(0);" ng-click="ChooseGYSBtn(JiaoYiDuiShouMsg.custCnNm,JiaoYiDuiShouMsg.custNo)">
          <span>{{JiaoYiDuiShouMsg.custCnNm}}</span>
          <b>交易{{JiaoYiDuiShouMsg.txnCount ? JiaoYiDuiShouMsg.txnCount : 0}}次</b>
        </a>
      </li>
    </ul>
  </div>


  </ion-content>
</ion-view>

