<ion-view view-title="转让信息" hide-tabs="true">
  <ion-content class="zrang-check-detail">
    <div>
      <ul>
        <li><span>宝券编号</span><span>{{details.srcDrftNo}}</span></li>
        <li><span>申请时间</span><span>{{cmjs.initTimer(details.txnDt)}}</span></li>
        <li><span>转入方</span><span>{{details.rcvCustNm}}</span></li>
        <li><span>经办人</span><span>{{details.appUsrNm}}</span></li>
        <li><span>开立方</span><span>{{details.drwrNm}}</span></li>
        <li><span>距离到期日</span><span>{{details.delayDays}}</span></li>
        <li><span>转让金额</span><span><i>{{cmjs.formMoney(details.txnAmt)}}</i></span></li>
      </ul>
    </div>
  </ion-content>


  <!-- 驳回&确认签收-->
  <div class="bar bar-footer handle_button">
    <span ng-click="reject()">驳回</span>
    <span class="comfirm_ok" ng-click="Cfcheck()" >确认复核</span>
  </div>

</ion-view>
