<ion-view view-title="转让成功" hide-tabs="true" hide-back-button="true">
  <ion-content class="company_reg_success" style="background:#fff;">
    <div class="show_ok">
      <img src="./img/icon2.x/success@2x.png" height="100px" width="100px" alt="">

      <div class="tip_info">您已提交<span>{{tool.formMoney(isseAmt)}}</span>元的宝券转让申请,<br/>
        复核人通过后,即可完成宝券转让!</div>
    </div>
    <div class="login_now" >
      <button ui-sref="tab.zhuanrang" class="button button-block" ng-click="backFrom()">返回转让</button>
    </div>
  </ion-content>

</ion-view>

