<ion-view view-title="宝券转让" hide-tabs="true">
  <ion-content>
    <div class="zrang-flow-path">
      <ul>
        <li><i></i><span>选择宝券</span></li>
        <li><b class="xuanzebaoquan-line2"></b></li>
        <li><i class="xuanzebaoquan-GYS"></i><span style="color: #1093f4">选择供应商</span></li>
        <li><b class="xuanzebaoquan-line2"></b></li>
        <li><i class="xuanzebaoquan-baoquanchaifen"></i><span style="color: #1093f4">宝券拆分</span></li>
      </ul>
    </div>
    <div class="zrang-baoquan-total">
      <p>可转让宝券金额(元)</p>
      <h4>{{tool.formMoney(BQDetails.isseAmt)}}</h4>
    </div>
    <div class="account-detail-list">
      <ul>
        <li><i>宝券余额</i><b class="dif-color" ng-model="rest.isseAmt">{{balance}}</b></li>
        <li><i>到期日</i><b>{{tool.initTimer(BQDetails.dueDt)}}</b></li>
        <li><i>距到期日</i><b>{{BQDetails.dueDays}}天</b></li>
        <li><i>转出单号</i><b>{{BQDetails.drftNo}}</b></li>
      </ul>
    </div>
    <!-- 预计收益-->
    <div class="anticipated-income" ng-repeat="CorpOfGYSList in CorpOfGYSLists">
      <div class="top-owner">
        <span>{{CorpOfGYSList.custCnNm}}</span>
        <i ng-click="reSetGYSBtn($index)"></i>
        <b ng-click="removeGYSBtn($index)"></b>
      </div>
      <div class="bot-income">
        <div class="anticipated">
          <input ng-keyup="keyupJuge($index)" class="input-amount" ng-model="sum[$index]" placeholder="请输入金额" type="number"/><i>元</i>
          <div class="common-style">预计收益 <span>{{((sum[$index] * counts[$index] * acc) / 360).toFixed(2)}}</span> 金币</div>
        </div>
        <div class="comingday">
          <ul>
            <li><i class="minus" ng-click="minusBtn($index)"></i></li>
            <li>
              <input type="number" ng-model="counts[$index]" ng-keyup="InputCountKeyUp($index)"/>
            </li>
            <li><i class="add" ng-click="addBtn($index)"></i></li>
            <li><span>天</span></li>
          </ul>
          <div class="common-style hasmarginTop"> 距到期日 <span>{{BQDetails.dueDays * 1 + counts[$index]}}</span> 天</div>
        </div>
      </div>
    </div>

    <div class="add-GYS">
      <a ui-sref="tab.YZDChoosegys">
      </a>
    </div>

    <button ng-click="YZDyanzhengBtn()"  class="btn-next-step">
      提交
    </button>
  </ion-content>
</ion-view>>

