<ion-view view-title="转让复核历史" hide-tabs="true">

  <div class="mysubheader">
    <span ng-class="{true:'active',flase:''}[isCur]" ng-click="showcheck()">转让待复核</span>
    <i></i>
    <span ng-class="{true:'',false:'active'}[isCur]" ng-click="showrevocation()">转让撤销待复核</span>
  </div>

  <ion-content scroll="false" class="zrang-check">

    <!-- 转让待复核-->
    <ion-content ng-show="isCur">

      <div class="baoquanzrang-list">
        <ul>
          <li ng-click="jumpto('tab.zrangcheckhistorydetail',{id:trfitem.id})" ng-repeat="trfitem in zrtrfHisList">
            <div class="left">
              <div>{{trfitem.drwrNm}}</div>
              <span>{{cjs.initTimer(trfitem.txnDt)}}</span>
            </div>
            <div class="right">
              <div>{{cjs.formMoney(trfitem.txnAmt)}}</div>
              <span ng-if="trfitem.appStat == '1'">已完成</span>
              <span ng-if="trfitem.appStat == '2'">已退回</span>
              <span ng-if="trfitem.appStat == '3'">已拒绝</span>
            </div>
          </li>

        </ul>
      </div>
    </ion-content>
    <!-- 转让撤销待复核-->
    <ion-content ng-hide="isCur">
      <div class="baoquanzrang-list">
        <ul>
          <li ng-click="jumpto('tab.zrangcheckhistorydetail',{id:revitem.id})" ng-repeat="revitem in zrrevHisList">

            <div class="left">
              <div>{{revitem.drwrNm}}</div>
              <span>{{cjs.initTimer(revitem.txnDt)}}</span>
            </div>
            <div class="right">
              <div>{{cjs.formMoney(revitem.txnAmt)}}</div>
              <span ng-if="revitem.appStat == '1'">已完成</span>
              <span ng-if="revitem.appStat == '2'">已退回</span>
              <span ng-if="revitem.appStat == '3'">已拒绝</span>
            </div>
          </li>

        </ul>
      </div>
    </ion-content>
  </ion-content>


