<ion-view view-title="宝券转让" hide-tabs="true">
  <ion-content>
    <div class="zrang-flow-path">
      <ul>
        <li><i class="duozhuanyi-jinbi"></i><span>输入金额</span></li>
        <li><b class="xuanzebaoquan-line2"></b></li>
        <li><i class="xuanzebaoquan-on"></i><span style="color: #1093f4">选择宝券</span></li>
        <li><b></b></li>
        <li><i class="zhuanrangxinxi-off"></i><span>转让信息</span></li>
      </ul>
    </div>
    <div class="rank-time-account">
      <a href="javascript:void(0);" ng-click="timeSort()">时间<i ng-class="timeIconIsRotate ? 'rotateIcon': ''"></i></a>
      <a href="javascript:void(0);" ng-click="acountSort()">金额<i ng-class="acountIconIsRotate ? 'rotateIcon': ''"></i></a>
    </div>
    <div class="keyongbaoquan-detail keyongbaoquan-detail-DZY" >
      <ul>
        <!--timeFlag,acountFlag-->
        <li ng-repeat="DZYdetail in DZYdetails">
          <a href="javascript:void(0);">
            <!-- 点选框-->
            <div class="HHScheckbox">
              <label class="checkbox">
                <input ng-model="ischecked[$index]" type="checkbox" ng-click="ischeckedBtn($index)" >
              </label>
            </div>
            <div class="keyongbaoquan-detail-left">
              <span>{{cjs.initTimer(DZYdetail.dueDt)}}</span>
              <span>距到期日 <i>{{DZYdetail.dueDays}}</i> 天</span>
            </div>
            <!-- 推荐小图标-->
            <i ng-class="DZYdetail.showicon ? 'DZY-tuijian': ''"></i>
            <div class="keyongbaoquan-detail-right">
              <!-- 按需求方式显示金额格式。-->
              <span ng-if="DZYdetail.isseAmt < 10000 ">{{zero}}万</span>
              <span ng-if="DZYdetail.isseAmt < 10000 "><b class="fr">{{cjs.formMoney(DZYdetail.isseAmt)}}</b></span>

              <span ng-if="DZYdetail.isseAmt >= 10000 ">{{parseInt(DZYdetail.isseAmt / 10000)}}万</span>
              <span ng-if="DZYdetail.isseAmt >= 10000 "><b class="fr">{{cjs.formMoney((DZYdetail.isseAmt / 10000 + '').split('.')[1])}}</b></span>
            </div>
          </a>
        </li>


      </ul>
    </div>

  </ion-content>
  <ion-footer-bar class="op-footer nobar">
    <div class="DZY-is-chose-left">
      <div class="HHScheckbox">
        <label class="checkbox">
          <input type="checkbox" ng-checked="allCheck" ng-click="DZYchose()" >
        </label>
      </div>

      <span>全选&nbsp;&nbsp;选中金额:<i>{{TotalIsseAmt || 0}}万</i></span>
    </div>
    <!-- ui-sref="tab.DZYlaststep"-->
    <div class="is-chose-right" ng-click="ChoseGYSBtn()">
      选好了
    </div>
  </ion-footer-bar>
</ion-view>>
