<ion-view view-title="转让历史" hide-tabs="true">
  <ion-nav-buttons side="right">
    <button class="button button-icon" ui-sref="tab.shaixuan" style="font-size: 12px">筛选</button>
  </ion-nav-buttons>

  <ion-content>
    <div class="zrang-total-account">
      <h4>{{tool.formMoney(ZRHistoryMsg.sum) || 0}}</h4>
      <p>至今已累计转让总额(元)</p>
    </div>
    <span class="zhuanrangzhong">转让中</span>
    <div class="zrang-zhuanru-company">
      <ul>
        <li ng-repeat="ZRHistoryMsgs in ZRHistoryMsg.lists.list">
          <a ng-click='ZRHistoryDetailBtn(ZRHistoryMsgs.id)' >
            <div class="company-name">
              <span class="fl">{{ZRHistoryMsgs.rcvCustNm || '未知企业'}}</span>
              <span class="fr">{{tool.formMoney(ZRHistoryMsgs.txnAmt)}}</span>
            </div>
            <div class="zhuanru-time">
              <span class="fl">{{tool.initTimer(ZRHistoryMsgs.txnDt)}}</span>
              <span ng-if='ZRHistoryMsgs.txnStat == "03"' class="fr">已取消</span>
              <span ng-if='ZRHistoryMsgs.txnStat == "05"' class="fr">已撤回</span>
              <span ng-if='ZRHistoryMsgs.txnStat == "10"' class="fr">待签收</span>
              <span ng-if='ZRHistoryMsgs.txnStat == "11"' class="fr">已签收</span>
              <span ng-if='ZRHistoryMsgs.txnStat == "12"' class="fr">已驳回</span>
              <span ng-if='ZRHistoryMsgs.txnStat == "04"' class="fr">撤回待复核</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
