<ion-view view-title="转让信息" hide-tabs="true">
  <ion-content class="zrang-check-detail">
    <div>
      <ul>
        <li><span>宝券编号</span><span>{{details.srcDrftNo}}</span></li>
        <li><span>申请时间</span><span>{{cmjs.initTimer(details.txnDt)}}</span></li>
        <li><span>转入方</span><span>{{details.reqCustNm}}</span></li>
        <li><span>经办人</span><span>{{details.appUsrNm}}</span></li>
        <li><span>开立方</span><span>{{details.drwrNm}}</span></li>
        <li><span>距离到期日</span><span>{{details.delayDays}}</span></li>
        <li><span>转让金额</span><span><i>{{cmjs.formMoney(details.txnAmt)}}</i></span></li>
        <li><span>状态</span>
          <span style="color:#0f90f1" ng-if="details.txnStat == '02'">已复核</span>
          <span style="color:#0f90f1" ng-if="details.txnStat == '03'">已取消</span>
          <span style="color:#0f90f1" ng-if="details.txnStat == '05'">已撤回</span>
          <span style="color:#0f90f1" ng-if="details.txnStat == '11'">已签收</span>
          <span style="color:#0f90f1" ng-if="details.txnStat == '12'">已驳回</span>
        </li>
      </ul>
    </div>
  </ion-content>



</ion-view>
