<!DOCTYPE html>
<html lang="zh-cn">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--其他标签必须紧随其后-->
    <title>蜜蜂金融供应链</title>
    <!--图标-->
    <!--<link rel="shortcut icon" href="../images/common/favicon.ico" />-->

    <!--公用部分-->
    <link href="../../css/common/base.css" rel="stylesheet">
    <link href="../../css/common/bootstrap.min.css" rel="stylesheet">

    <!--页面css-->
    <link rel="stylesheet" href="../../css/register/register-commond.css" />
    <link rel="stylesheet" href="../../css/pwd/pwd.css">

    <!--[if lt IE 9]>
    <script src="../../js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../js/html5shiv.min.js"></script>
    <script src="../../js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!--通用顶部-->
    <div id="commondHeader">
        <img src="../../images/login/img/logo.png" width="150px" height="35px" alt="">
        <span>欢迎使用中兴E秒付供应链金融平台！</span>
    </div>
    <!--content-->
    <div id="commondContent">
        <!--填写注册信息部分-->
        <div class="write-register-info">
            <div class="fl msg-left">
                <span></span>
                <h1>重置密码</h1>
            </div>
        </div>

        <!--页面表单内容部分-->
        <form class="form-horizontal" id="retpwd" onsubmit="return false">

            <div class="form-group">
                <label class="col-sm-4 control-label"><span class="span-star">*&nbsp;</span>手机号码</label>
                <div class="col-sm-8">
                    <input id="mobileNo" type="text" class="form-control input-mobile" placeholder="请输入手机号码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-8">
                    <span class="lxkf">若手机号码丢失或者遗忘，请联系客服400-400-4000</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label"><span class="span-star">*&nbsp;</span>新登录密码</label>
                <div class="col-sm-4">
                    <input id="password" type="password" class="form-control input-mobile" placeholder="请输入密码">
                    <span class="safeLevel">安全程度：
                        <div class="progress safeLevelPro">
                            <div class="progress-bar safeLevelProBar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" role="progressbar">
                            </div>
                        </div>
                    </span>
                </div>
                <div class="col-sm-4">
                    <div id="pwdMsg" class="rule">
                        <span class="ruleTip">
                            <img src="../../images/resetpwd/sanjiao_heng.png">
                        </span> 由数字、字母和特殊字符中的至少两种组成
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label"><span class="span-star">*&nbsp;</span>确认新密码</label>
                <div class="col-sm-4">
                    <input id="passwordC" type="password" class="form-control input-mobile" placeholder="请重新输入密码">
                    <!--<button id="sendValid" class="valid btn ">获取验证码</button>
                    <i class="reload"></i>
                    <label class="messageTip">短信验证码已发送至手机</label>-->
                </div>
                <div class="col-sm-4">
                    <div id="pwdCMsg" class="rule">
                        <span class="ruleTip">
                            <img src="../../images/resetpwd/sanjiao_heng.png">
                        </span> 由数字、字母和特殊字符中的至少两种组成
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label"><span class="span-star">*&nbsp;</span>图片验证码</label>
                <div class="col-sm-8">
                    <input id="validCode" type="text" class="form-control input-valid" placeholder="请输入验证码">
                    <img id="imgCode" alt="">
                    <span class="changeSpan">看不清？<a class="change">换一张</a></span>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label"><span class="span-star">*&nbsp;</span>短信验证码</label>
                <div class="col-sm-8">
                    <input id="mobileValid" type="text" class="form-control input-valid" placeholder="请输入验证码">
                    <input type="button" value="获取验证码" id="sendValid" class="valid btn" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-8 error_hidden" id="errorMsgIcon">
                    <span id="errorMsg"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-8">
                    <button type="button" id="backBtn" class="pre-step btn btn-default">返回</button>
                    <button type="button" id="resetPwdBtn" class="next-step btn btn-primary">修改密码</button>
                </div>

            </div>
        </form>
    </div>

    <!--通用底部-->
    <div id="commondFooter">
        <h1>
            <a href="javascript:;">联系我们</a>
            <span>|</span>
            <a href="javascript:;">友情链接</a>
            <span>|</span>
            <a href="javascript:;">帮助中心</a>
            <span>|</span>
            <a href="javascript:;">免责声明</a>
        </h1>
        <p>版权所有©中兴通讯集团财务有限公司</p>
        <p>深ICP备05008708号&nbsp;深公网安备33010302001081号</p>
    </div>
</body>

</html>

<!--base-js-->
<script src="../../js/jquery-1.12.4.min.js?v=APP_VER"></script>
<script src="../../js/jquery.json-2.4.js?v=APP_VER"></script>
<script src="../../js/bootstrap.min.js?v=APP_VER"></script>
<script src="../../js/bootstrapValidator.min.js?v=APP_VER"></script>

<!--ifs-js-->
<script src="../../js/global.js?v=APP_VER"></script>
<script src="../../js/ifs/ifs-router-config.js?v=APP_VER"></script>
<script src="../../js/ifs/ifs-router.js?v=APP_VER"></script>
<script src="../../js/ifs/ifs-config.js?v=APP_VER"></script>
<script src="../../js/ifs/ifs-regular.js?v=APP_VER"></script>
<script src="../../js/ifs/ifs-ajax.js?v=APP_VER"></script>
<script src="../../js/common.js?v=APP_VER"></script>
<script src="../../js/MD5.js?v=APP_VER"></script>


<!--biz-js--><script src="../../js/biz/resetpwd.js?v=APP_VER"></script>