<ion-view view-title="账户安全" hide-tabs="true">
  <ion-content class="forgetpwd">
    <div>
    <div class="list changepassword  ">
      <label class="change-border item item-input">
        <span >原密码</span>
        <input type="text" class="login-input" placeholder="请输入原密码" ng-model="oldPwd.value" />
      </label>
    </div>
    <div class="list">
          <label class="change-border item item-input">
        <span >新密码</span>
        <input type="text"  class="login-input"  ng-model="newPwd.value"  placeholder="请输入新密码"/>
      </label>
    </div>
    <div class="list">
      <label class="change-border item item-input">
        <span >新密码确认</span>
        <input type="text" class="login-input" ng-model="newPwdMakeSure.value" placeholder="请再次输入新密码"/>
      </label>
      </div>
      <div class="list">
      <label  class="change-border item item-input">
        <span>验证码</span>
        <input type="text" placeholder="请输入验证码"  class="login-input" ng-model="msCode.value"/>
      </label>
        <span   ng-click=" getCodeBtn()"   class="get_code">获取验证码</span>
      </div>
    </div>
      <div id="mybtn" ng-click="MakeSureBtn()">
        确定
      </div>

  <!--   <div id="mybtn" ui-sref="login">
      确定
    </div> -->
    </div>
  </ion-content>

</ion-view>
