<!-- <ion-view view-title="账户安全" hide-tabs="true">

  <ion-content>
    <div class="list changephonenumber">
      <label class="item-list">
        <span class="input-lab">手机号</span>
        <input type="text" placeholder="182****5678"/>
        <span class="float">获取验证码</span>
      </label>
      <label class="item-list">
        <span class="input-lab">验证码</span>
        <input type="text" placeholder="请输入验证码"/>
      </label>
    </div>

    <div id="mybtn" ui-sref="login">
      验证后绑定新手机号
    </div>
  </ion-content>

</ion-view>
 -->

 <ion-view view-title="账户安全">
  <ion-content>
    <div  class="list changephonenumber">
      <ul>
        <li  class="item-list">
            <span class="input-lab">手机号</span>
            <input type="number" ng-model="mobile.value"/>
            <a href="javascript:void(0);" class="float" ng-click="getCodeBtn()">获取验证码</a>
        </li>
        <li  class="item-list">
            <span class="input-lab">验证码</span>
            <input type="text" ng-model="msCode.value" placeholder="请输入验证码"/>
        </li>
      </ul>
    </div>
    <button  id="mybtn"  class="btn-next-step" ng-click="toNextStepBtn()">确定</button>
  </ion-content>
</ion-view>

