<ion-view view-title="历史任务" hide-tabs="true">
  <ion-content>
    <div class="history-task">
      <ul>
        <li ui-sref="tab.history-rzaccept">
          <div class="left"><i></i>融资受理</div>
          <div class="right"></div>
        </li>
        <li ui-sref="tab.history-rzcheck">
          <div class="left"><i></i>融资审核</div>
          <div class="right"></div>
        </li>
        <li ui-sref="tab.history-paycheck">
          <div class="left"><i></i>付款审核</div>
          <div class="right"></div>
        </li>
        <li ui-sref="tab.history-riskreview">
          <div class="left"><i></i>风控审查</div>
          <div class="right"></div>
        </li>
        <li ui-sref="tab.history-riskcheck">
          <div class="left"><i></i>风控审核</div>
          <div class="right"></div>
        </li>
        <li ui-sref="tab.history-rzapprove">
          <div class="left"><i></i>融资审批</div>
          <div class="right"></div>
        </li>
        <li ui-sref="tab.history-fiscalcheck">
          <div class="left"><i></i>计财放款</div>
          <div class="right"></div>
        </li>
        <li ui-sref="tab.history-usercheck">
          <div class="left"><i></i>企业审核</div>
          <div class="right"></div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
