<ion-view view-title="付款审核" hide-tabs="true">

  <div class="othersubheader">
    <span on-tap="oByT()">时间<i ng-class="{true:'up',false:'down'}[byT]"></i></span>
    <span on-tap="oByM()">金额<i ng-class="{true:'up',false:'down'}[byM]"></i></span>
  </div>

  <ion-content class="historytab">
    <div class="list-info">
      <ul>

        <li ng-repeat="item in histList">
          <div><span class="left">{{item.drftNo}}</span><span class="right">{{cjs.formMoney(item.payAmt)}}</span></div>
          <div>
            <span class="left">{{cjs.initTimer(item.acptTs)}}</span>

            <span class="right isreject" ng-if="item.appStat == '2'">已驳回</span>
            <span class="right isok" ng-if="item.appStat == '1'">已完成</span>

          </div>
        </li>

      </ul>
    </div>

    <!--上拉刷新-->
    <ion-infinite-scroll immediate-check="false" on-infinite="loadMore()"></ion-infinite-scroll>


  </ion-content>
</ion-view>



