<!--
<ion-view view-title="融资到期" hide-tabs="true">

  <div class="othersubheader">
    <span>时间<i style='background-image:url("./img/icon/down and Up@2x.png")'></i></span>
    <span>金额<i style='background-image:url("./img/icon/Up and down@2x.png")'></i></span>
  </div>

  <ion-content class="historytab">
    <div class="list-info">
      <ul>
        <li>
          <div><span class="left">供应商AAAAA</span><span class="right">1000,000.00</span></div>
          <div><span class="left">2017-08-12</span><span class="right isreject">已驳回</span></div>
        </li>
        <li>
          <div><span class="left">供应商AAAAA</span><span class="right">1000,000.00</span></div>
          <div><span class="left">2017-08-12</span><span class="right isreject">已驳回</span></div>
        </li>
        <li>
          <div><span class="left">供应商AAAAA</span><span class="right">1000,000.00</span></div>
          <div><span class="left">2017-08-12</span><span class="right isreject">已驳回</span></div>
        </li>
        <li>
          <div><span class="left">供应商AAAAA</span><span class="right">1000,000.00</span></div>
          <div><span class="left">2017-08-12</span><span class="right isok">已完成</span></div>
        </li>
        <li>
          <div><span class="left">供应商AAAAA</span><span class="right">1000,000.00</span></div>
          <div><span class="left">2017-08-12</span><span class="right isok">已完成</span></div>
        </li>
        <li>
          <div><span class="left">供应商AAAAA</span><span class="right">1000,000.00</span></div>
          <div><span class="left">2017-08-12</span><span class="right isreject">已驳回</span></div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
-->
