<ion-view view-title="风控审核" hide-tabs="true">

  <div class="othersubheader">
    <span on-tap="oByT()">时间<i ng-class="{true:'up',false:'down'}[byT]"></i></span>
    <span on-tap="oByM()">金额<i ng-class="{true:'up',false:'down'}[byM]"></i></span>
  </div>

  <ion-content class="historytab">
    <div class="list-info">
      <ul>

        <li ng-repeat="item in histList">
          <div><span class="left">{{item.custNm}}</span><span class="right">{{cjs.formMoney(item.disctAmt)}}</span></div>
          <div>
            <span class="left">{{cjs.initTimer(item.txnDt)}}</span>

            <span class="right isreject" ng-if="item.txnStat == '12'">已驳回</span>
            <span class="right isok" ng-if="item.txnStat == '11'">已完成</span>

          </div>
        </li>

      </ul>
    </div>
  </ion-content>
</ion-view>
