<ion-view view-title="个人中心" hide-tabs="true">
  <ion-content >
    <div class="mycenter">
      <ul>
        <li><div class="left">头像</div><div class="right"><img ng-src="./img/icon/headimg_2.png" alt=""/><i></i></div></li>
        <li><div class="left">姓名</div><div class="right">成真</div></li>
        <li><div class="left">身份证号码</div><div class="right">45273017211050909</div></li>
        <li><div class="left">手机号</div><div class="right">15027835966</div></li>
        <li><div class="left">角色</div><div class="right">客户经理</div></li>
        <li><div class="left">邮箱</div><div class="right">fae.wisoky@hot,ail.com<i></i></div></li>
        <li><div class="left">微信号</div><div class="right">90909090900</div></li>
        <li>

        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
