<ion-view view-title="修改邮箱" hide-tabs="true">

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button  class="back-text-hide">
      <i class="HHS-tab-backicon"></i>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="email">
      <div class="title">请输入新的邮箱</div>
      <div>
        <label class="change-border item item-input">
          <span>邮箱账号</span>
          <input class="email-input" type="text" ng-model="changepwd.email" placeholder="">
        </label>
        <label class="change-border item item-input">
          <span>邮箱账号</span>
          <input class="email-input" type="email" ng-model="changepwd.email" placeholder="">
        </label>
      </div>
    </div>
  </ion-content>

</ion-view>
