<ion-view view-title="付款审核" hide-tabs="true">

  <ion-content class="has-footer">

    <div class="nodata" ng-if="!hasdata">
      <div class="bgimg"></div>
      <div class="txtinfo">暂无数据</div>
    </div>


    <div class="rzaccept">

      <div class="checkAll" ng-if="hasdata">
        <label class="checkbox">
          <input type="checkbox" ng-click="checkAll()" ng-checked="selectedAll">
        </label>
        <span>请勾选您确认付款的宝券</span>
      </div>

      <ul class="check-list">

        <li ng-repeat="item in tasklist">
          <label class="checkbox">
            <input type="checkbox" ng-model="isSelected[$index]" ng-click="selection($index)">
          </label>
          <div class="right-side" ng-click="jumpto('tab.paycheck-danbi',{pid:item.appNo})">
            <div class="up">
              <span>{{item.custNm}}</span>
              <span>{{cjs.formMoney(item.payAmt)}}</span>  <!--?????? 接口字段需要确认-->
            </div>
            <div class="down">
              <span>{{cjs.initTimer(item.txnDt)}}</span>
            </div>
            <i></i>
          </div>
        </li>

      </ul>
    </div>
  </ion-content>

  <!-- 驳回&同意-->
  <div class="bar bar-footer handle_button" ng-if="hasdata">
    <span ng-click="reject()">驳回</span>
    <span class="comfirm_ok" ng-click="agree()">通过</span>
  </div>

</ion-view>
