<ion-view view-title="付款审核" hide-tabs="true">
  <ion-content scroll="false" class="paycheck-danbi">

    <div class="due_detail">
      <ul>
        <li>   <!--接口待确认字段-->
          <div class="left">放款金额</div>
          <div class="right"><i>{{cjs.formMoney(detail.payAmt)}}</i></div>
        </li>
        <li>
          <div class="left">放款时间</div>
          <div class="right">{{cjs.initTimer(detail.txnDt)}}</div>
        </li>
        <li>
          <div class="left">持有方</div>
          <div class="right">{{detail.pyeeCustNm}}</div>
        </li>
        <li>
          <div class="left">宝券编号</div>
          <div class="right">{{detail.drftNo}}</div>
        </li>
      </ul>
    </div>

    <h3 class="headtitle">收款账户信息</h3>

    <div class="due_detail">
      <ul>
        <li>
          <div class="left">开户名称</div>
          <div class="right">{{detail.pyeeAcctNm}}</div>
        </li>
        <li>
          <div class="left">收款账号</div>
          <div class="right">{{detail.pyeeAcct}}</div>
        </li>
        <li>
          <div class="left">开户行</div>
          <div class="right">{{detail.pyeeBankNm}}</div>
        </li>
        <li>
          <div class="left">支行城市</div>
          <div class="right">{{detail.pyeeBankCity}}</div>
        </li>
        <li>
          <div class="left">支行名称</div>
          <div class="right">{{detail.pyeeCustNm}}</div>
        </li>
      </ul>
    </div>

  </ion-content>

  <!-- 驳回&同意-->
  <div class="bar bar-footer handle_button">
    <span ng-click="reject()">驳回</span>
    <span class="comfirm_ok" ng-click="agree()">通过</span>
  </div>

</ion-view>
