<ion-view view-title="宝券信息" hide-tabs="true">
  <ion-content scroll="false" class="rzaccept-danbi">

    <div class="total-head">
      <h2>{{cjs.formMoney(detail.disctAmt)}}</h2>
      <div>融资金额(元)</div>
    </div>

    <div class="info">
      <ul>
        <li>
          <div class="left">资金方</div>
          <div class="right">{{detail.orgNm}}</div>
        </li>
        <li>
          <div class="left">宝券编号</div>
          <div class="right">{{detail.srcDrftNo}}</div>
        </li>
        <li>
          <div class="left">融资类型</div>
          <div class="right">{{detail.finTyp}}</div>
        </li>
        <li>
          <div class="left">申请时间</div>
          <div class="right">{{cjs.initTimer(detail.txnDt)}}</div>
        </li>
      </ul>
    </div>

    <h3>融资详情</h3>
    <div class="detail">
      <ul>
        <li>
          <div class="left">融资天数</div>
          <div class="right">{{detail.intDays}}</div>
        </li>
        <li>
          <div class="left">年化利率</div>
          <div class="right">{{(detail.intRate)*100}}%</div>
        </li>
        <li>
          <div class="left">优惠折扣</div>
          <div class="right">{{(detail.rateDisct)*100}}%</div>
        </li>
        <li>
          <div class="left">金币抵扣</div>
          <div class="right">{{cjs.formMoney(detail.useBouns)}}</div>
        </li>
        <li>
          <div class="left">应收利息</div>
          <div class="right">{{cjs.formMoney(detail.dcInterest)}}1</div>
        </li>
        <li>
          <div class="left">实收利息</div>
          <div class="right">{{cjs.formMoney(detail.rcInterest)}}</div>
        </li>
        <li>
          <div class="left">实付金额</div>
          <div class="right">{{cjs.formMoney(detail.payAmt)}}</div>
        </li>
      </ul>
    </div>

  </ion-content>

  <!-- 驳回&同意-->
  <div class="bar bar-footer handle_button">
    <span ng-click="reject()">驳回</span>
    <span class="comfirm_ok" ng-click="agree()">同意</span>
  </div>

</ion-view>
