<ion-view view-title="融资到期" hide-tabs="true">

  <ion-content class="has-footer">

    <div class="nodata" ng-if="!hasdata">
      <div class="bgimg"></div>
      <div class="txtinfo">暂无数据</div>
    </div>


    <div class="rzaccept">

      <div class="checkAll" ng-if="hasdata">
        <label class="checkbox">
          <input type="checkbox" ng-click="checkAll()" ng-checked="selectedAll">
        </label>
        <span>请勾选您确认兑付的的宝券</span>
      </div>

      <ul class="check-list">

        <li ng-repeat="bqitem in tasklist">
          <label class="checkbox">
            <input type="checkbox" ng-model="isSelected[$index]" ng-click="selection($index)">
          </label>
          <div class="right-side" ng-click="jumpto('tab.rzdue-danbi',{id:bqitem.id})">
            <div class="up">
              <span>{{bqitem.drwrNm}}</span>

              <span ng-if="bqitem.validAmt < 10000 ">0万</span>
              <span ng-if="bqitem.validAmt >= 10000 ">{{parseInt(bqitem.validAmt / 10000)}}万</span>

            </div>
            <div class="down">
              <span>{{cjs.initTimer(bqitem.dueDt)}}</span>

              <span ng-if="bqitem.validAmt < 10000 "><b style="color:#666">零&nbsp;</b>{{cjs.formMoney(bqitem.validAmt)}}</span>
              <span ng-if="bqitem.validAmt >= 10000 "><b style="color:#666">零&nbsp;</b>{{cjs.formMoney((bqitem.validAmt / 10000 + '').split('.')[1])}}</span>

            </div>
            <i></i>
          </div>
        </li>

      </ul>
    </div>
  </ion-content>

  <!-- 驳回&同意-->
  <div class="bar bar-footer handle_btn" ng-if="hasdata">
    <span class="comfirm_ok" ng-click="agree()">申请兑付</span>
  </div>

</ion-view>
