<ion-view view-title="融资到期" hide-tabs="true">
  <ion-content class="rzdue-danbi has-footer">

    <div class="due_detail">
      <ul>
        <li>
          <div class="left">转出方</div>
          <div class="right">{{bqdetail.prevOwnerNm}}</div>
        </li>
        <li>
          <div class="left">转出金额</div>
          <div class="right"><i>{{cjs.formMoney(bqdetail.isseAmt)}}</i></div>
        </li>
        <li>
          <div class="left">到期日</div>
          <div class="right">{{cjs.initTimer(bqdetail.dueDt)}}</div>
        </li>
        <li>
          <div class="left">距到期日</div>
          <div class="right">{{bqdetail.dueDays}}天</div>
        </li>
        <li>
          <div class="left">开单方</div>
          <div class="right">{{bqdetail.drwrNm}}</div>
        </li>
        <li>
          <div class="left">转入方</div>
          <div class="right">{{xxxx}}</div>
        </li>
        <li>
          <div class="left">宝券编号</div>
          <div class="right">{{bqdetail.drftNo}}</div>
        </li>
      </ul>
    </div>

    <div class="cho_card">
      <div ng-click="droplist()">
        <span>收款账号</span>
        <div>
          <span class="account" ng-if="showRo == '1'">默认账户</span>
          <span>{{showCo}}</span>
          <i></i>
        </div>
      </div>
      <ul id="countNoList" ng-class="{true:'show',false:'hide'}[showList]">
        <li ng-repeat="item in acctList" ng-click="chooseNo($index)">
          <span>{{item.openBrhNm}}</span>
          <span>{{item.acctNo}}</span>
          <span ng-if="item.defRecNo == '1'" class="account">默认账户</span>
          <!--<span class="city">{{item.bankCity}}</span>-->
        </li>
      </ul>
    </div>

  </ion-content>

  <!-- 驳回&同意-->
  <div class="bar bar-footer handle_btn" >
    <span class="comfirm_ok" ng-click="agree()">申请兑付</span>
  </div>

</ion-view>
