<ion-view title="批量兑付" hide-tabs="true">

  <ion-content class="duifu-batch has-footer">
    <ul class="sel-list">
      <li ng-repeat="chooseBQ in selectedBqArr">
        <div>  <!-- ui-sref="tab.bquanduihuan-info" -->
          <div class="leftside">
            <div>{{chooseBQ.rcvCustNm}}</div>
            <div>{{cjs.initTimer(chooseBQ.delayDays)}}</div>
          </div>
          <div class="rightside">
            <div ng-if="chooseBQ.isseAmt < 10000 ">0万</div>
            <div ng-if="chooseBQ.isseAmt < 10000 "><b style="color:#666">零&nbsp;</b>{{cjs.formMoney(chooseBQ.isseAmt)}}</div>

            <div ng-if="chooseBQ.isseAmt >= 10000 ">{{parseInt(chooseBQ.isseAmt / 10000)}}万</div>
            <div ng-if="chooseBQ.isseAmt >= 10000 "><b style="color:#666">零&nbsp;</b>{{cjs.formMoney((chooseBQ.isseAmt / 10000 + '').split('.')[1])}}</div>
          </div>
        </div>
      </li>
    </ul>

    <div class="cho_card">
      <div ng-click="droplist()">
        <span>收款账号</span>
        <div>
          <span class="account" ng-if="showRo == '1'">默认账户</span>
          <span>{{showCo}}</span>
          <i></i>
        </div>
      </div>
      <ul id="countNoList" ng-class="{true:'show',false:'hide'}[showList]">
        <li ng-repeat="item in acctList" ng-click="chooseNo($index)">
          <span>{{item.openBrhNm}}</span>
          <span>{{item.acctNo}}</span>
          <span ng-if="item.defRecNo == '1'" class="account">默认账户</span>
          <!--<span class="city">{{item.bankCity}}</span>-->
        </li>
      </ul>
    </div>
  </ion-content>


  <!-- 申请兑付-->
  <div class="bar bar-footer handle_btn">
    <span class="comfirm_ok" ng-click="confirm()">申请兑付</span>
  </div>

</ion-view>
