<ion-view view-title="我的">

  <ion-content class="about-me" scroll="false">

   <div class="mine-info" ui-sref="tab.mycenter">
     <div class="left">
       <img ng-src="./img/icon/headimg.png" alt=""/>
     </div>
     <ul class="left">
       <li><span>{{getUserInfo.tlrno}}</span><i>{{getUserInfo.tlrName}}</i> </li>
       <li>{{getUserInfo.mobile}}</li>
     </ul>
     <i class="right"></i>
   </div>
   <div class="history" ui-sref="tab.history"><i></i>历史任务<b class="right"></b></div>

    <div class="security" ui-sref="tab.accsecurity"><i></i>账户安全<b class="right"></b></div>
    <div class="about" ui-sref="tab.aboutversions"><i></i>关于晨蜂<b class="right"></b></div>

    <div class="exit" ng-click="loginout()">
      退出登录
    </div>
  </ion-content>

</ion-view>
