<ion-view view-title="消息">


  <ion-nav-buttons side="left">
    <button class="button button-icon" style="font-size:14px;color:#fff" ng-click="doSomething()" ng-show="isDel">{{"全选"}}</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon" style="font-size:14px;color:#fff" ng-click="chooseMsg()" ng-if="unreadmsgs.length || readmsgs.length">{{choose}}</button>
  </ion-nav-buttons>

  <div class="mysubheader" ng-if="unreadmsgs.length || readmsgs.length">
    <span ng-class="{true:'active',false:''}[isCur]" ng-click="showUnreadmsg()">未读</span>
    <i></i>
    <span ng-class="{true:'',false:'active'}[isCur]" ng-click="showReadmsg()">已读</span>
  </div>

  <ion-content class="messge" scroll="true">
    <!-- 未读-->
    <ion-content ng-show="isCur">

      <div class="nodata" ng-if="!unreadmsgs.length"> <!-- && !dataerror  -->
        <div class="bgimg"></div>
        <div class="txtinfo">暂无数据</div>
      </div>

      <!--<div class="nodata" ng-if="dataerror">
        <div class="error"></div>
        <div class="txtinfo">加载失败</div>
      </div>-->

      <div class="list">
        <div class="item"  ng-repeat="unreadmsg in unreadmsgs">
          <div>
            <!-- 图片-->
            <img ng-src="{{unreadmsg.imgUrl}}" ng-hide="isDel" alt=""/>
            <!-- 点选框-->
            <label class="checkbox" ng-show="isDel">
              <input type="checkbox" ng-click="Ucheckbtn($index)" ng-model="ischeckedU[$index]">
            </label>
            <h4>{{unreadmsg.imSubject}}</h4> <span>{{cmjs.initTimer(unreadmsg.lstUpdTs)}}</span>
          </div>
          <div>
            <h2>{{unreadmsg.imContent}}</h2>
          </div>
        </div>
      </div>
    </ion-content>
    <!-- 已读-->
    <ion-content ng-hide="isCur">

      <div class="nodata" ng-if="!readmsgs.length">
        <div class="bgimg"></div>
        <div class="txtinfo">暂无数据</div>
      </div>

      <div class="list">
        <div class="item" ng-repeat="readmsg in readmsgs">
          <div>
            <img ng-src="{{readmsg.imgUrl}}" ng-hide="isDel" alt=""/>
            <label class="checkbox" ng-show="isDel">
              <input type="checkbox" ng-click="Rcheckbtn($index)" ng-model="ischeckedR[$index]">
            </label>
            <h4>{{readmsg.imSubject}} </h4>
            <span>{{cmjs.initTimer(readmsg.pubTs)}}</span>
          </div>
          <div>
            <h2>{{readmsg.imContent}}</h2>
          </div>
        </div>
      </div>
    </ion-content>

  </ion-content>

  <!-- -->
  <!--<ion-footer-bar class="op-footer" ng-show="isDel">-->
    <!--<span style="color: #1093f4">标为已读</span>-->
    <!--<span style="color: red">删除</span>-->
  <!--</ion-footer-bar>-->

  <!-- 标为已读&删除-->
  <div class="bar bar-footer op-footer" ng-show="isDel">
    <span style="color: #1093f4" ng-click="MarkerRd()">标为已读</span>
    <span style="color: #e71e1e" ng-click="Updeleted()">删除</span>
  </div>

</ion-view>
