<ion-view  style="z-index: 9999" view-title="工作台">
  <ion-content has-bouncing="false" class="workbench">

    <div>
      <ul>
        <li class="row">
          <div class="col-25" ui-sref="tab.rzaccept"><i></i><span>融资受理</span></div>
          <div class="col-25" ui-sref="tab.rzcheck"><i></i><span>融资审核</span></div>
          <div class="col-25" ui-sref="tab.riskreview"><i></i><span>风控审查</span></div>
          <div class="col-25" ui-sref="tab.riskcheck"><i></i><span>风控审核</span></div>
        </li>
        <li class="row">
          <div class="col-25" ui-sref="tab.rzapprove"><i></i><span>融资审批</span></div>
          <div class="col-25" ui-sref="tab.fiscalcheck"><i></i><span>计财审核</span></div>
          <div class="col-25" ui-sref="tab.rzdue"><i></i><span>融资到期</span></div>
          <div class="col-25" ui-sref="tab.paycheck"><i></i><span>付款审核</span></div>
        </li>
        <li class="row">
          <div class="col-25" ui-sref="tab.usercheck"><i></i><span>企业审核</span></div>
          <div class="col-25" ui-sref="tab.admincheck"><i></i><span>用户审核</span></div>
          <div class="col-25"><i></i><span>更多</span></div>
          <div class="col-25"></div>
        </li>
      </ul>
    </div>

  </ion-content>
</ion-view>


<!-- 受理accept  审核check  审查review  审批approve -->
