<ion-view view-title="企业详情" hide-tabs="true">
  <ion-content class="usercheck-danbi has-footer">

    <h3 class="headtitle">企业基本信息</h3>
    <div class="company_detail">
      <ul>
        <li>
          <div class="left">企业名称</div>
          <div class="right">{{detail.custCnNm}}</div>
        </li>
        <li>
          <div class="left">证件类型</div>
          <div class="right" ng-if="detail.idTyp == '0'">组织机构代码证</div>
          <div class="right" ng-if="detail.idTyp == '1'">营业执照</div>
          <div class="right" ng-if="detail.idTyp == '4'">统一社会信用代码证</div>
        </li>
        <li>
          <div class="left">证件号码</div>
          <div class="right">{{detail.idNo}}</div>
        </li>
        <li>
          <div class="left">所在城市</div>
          <div class="right">{{detail.regCity}}</div>
        </li>
        <li>
          <div class="left">详细地址</div>
          <div class="right">{{detail.regAdr}}</div>
        </li>
        <li>
          <div>营业执照照片</div>
          <ul class="business_license">
            <li>
              <img ng-src="./img/icon/_zhengben.png" alt="企业证件正本"/>
              <!--<img ng-src="detail.attachDivList.QY01" alt="企业证件正本"/>-->
              <div>正本</div>
            </li>
            <li>
              <img ng-src="./img/icon/_fuben.png" alt="企业证件副本"/>
              <!--<img ng-src="detail.attachDivList.QY02" alt="企业证件副本"/>-->
              <div>副本</div>
            </li>
          </ul>
        </li>
      </ul>
    </div>


    <h3 class="headtitle">法人信息</h3>
    <div class="legal_person">
      <ul>
        <li>
          <div class="left">法人姓名</div>
          <div class="right">{{detail.lglPerNm}}</div>
        </li>
        <li>
          <div class="left">证件类型</div>
          <div class="right" ng-if="detail.lglIdType == '0'">身份证</div>
          <div class="right" ng-if="detail.lglIdType == '1'">户口簿</div>
          <div class="right" ng-if="detail.lglIdType == '2'">护照</div>
          <div class="right" ng-if="detail.lglIdType == '5'">港澳居民来往内地通行证</div>
          <div class="right" ng-if="detail.lglIdType == '6'">台湾同胞来往内地通行证</div>
          <div class="right" ng-if="detail.lglIdType == 'X'">其他证件</div>
        </li>
        <li>
          <div class="left">法人证件号码</div>
          <div class="right">{{detail.lglIdNo}}</div>
        </li>
        <li>
          <div>身份证照片</div>
          <ul class="id_card">
            <li>
              <img ng-src="./img/icon/idcard_1.png" alt="法人证件正面"/>
              <!--<img ng-src="detail.attachDivList.QY03" alt="法人证件正面"/>-->
            </li>
            <li>
              <img ng-src="./img/icon/idcard_2.png" alt="法人证件反面"/>
              <!--<img ng-src="detail.attachDivList.QY04" alt="法人证件反面"/>-->
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <h3 class="headtitle">管理员信息</h3>
    <div class="admin">
      <ul>
        <li>
          <div class="left">姓名</div>
          <div class="right">{{detail.usrNm}}</div>
        </li>
        <li>
          <div class="left">证件类型</div>
          <div class="right" ng-if="detail.userIdTyp == '0'">身份证</div>
        </li>
        <li>
          <div class="left">证件号码</div>
          <div class="right">{{detail.userIdNo}}</div>
        </li>
        <li>
          <div>身份证照片</div>
          <ul class="id_card">
            <li>
              <img ng-src="./img/icon/idcard_1.png" alt="管理员证件正面"/>
              <!--<img ng-src="detail.attachDivList.QY05" alt="管理员证件正面"/>-->
            </li>
            <li>
              <img ng-src="./img/icon/idcard_2.png" alt="管理员证件反面"/>
              <!--<img ng-src="detail.attachDivList.QY06" alt="管理员证件反面"/>-->
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <h3 class="headtitle">授权委托书照片</h3>
    <div class="proxy">
      <img ng-src="./img/icon/shouquan.png" alt=""/>
      <!--<img ng-src="detail.attachDivList.QY07" alt="委托授权书"/>-->
    </div>

  </ion-content>

  <!-- 驳回&同意-->
  <div class="bar bar-footer handle_button">
    <span ng-click="reject()">驳回</span>
    <span class="comfirm_ok" ng-click="agree()">通过</span>
  </div>

</ion-view>
