html,body{
      background-color: #f4f5f7;
      font-family:PingFangSC;
}
.header{
  height: 6.25rem/* 100px */;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  line-height: 6.25rem/* 100px */;
}
.content{
      /*margin-top: .625rem/!* 10px *!/;*/
      margin-top:1.25rem;/*20px*/
      background-color: #ffffff;
      width: 100%;
      line-height: 3.8125rem/* 61px */;
}

.content label{
      padding-left: 1.25rem/* 20px */;
      font-size:1.5rem/* 24px */;
      font-weight: normal;
      color:#494949;
      height: .9375rem/* 15px */;
      line-height: .9375rem/* 15px */;

}
.content .mainInfomation{
      position:relative;
      margin-bottom:0;
      height:5.625rem;/*90px*/
      line-height:5.625rem;
      border-bottom: .125rem/* 2px */ solid #eee;
}
/*短信验证码*/
#SMSGroup{
  /*display:none;*/
  position:relative;
}
.SMSCheckTip{
  margin:0;
  display:none;
  color:#e71e1e;
}
.content  .info,
.content .graphicVerCode{
  position:relative;
}

.content .mainInfomation:last-child{
      border-bottom:none;
}
.content .mainInfomation img{
      display: inline-block;
      width: 7.25rem;
      height:3rem;
      position:absolute;
      top:1.2rem;
      right:0.5rem;
}
.content .mainInfomation input{
      border: none;
      font-size:1.5rem;
      outline:0;
      margin-bottom:0.3rem;
      /*height: 1.5625rem/!* 25px *!/;*/
      /*line-height: 1.5625rem/!* 25px *!/;*/
}
.content .btn-phone{
  background:#1094f5;
  color:#fff;
  position:absolute;
  top:1.1rem;
  right:0.5rem;
  padding:0.7rem;
  line-height:2rem;
  /*margin-top:1.5rem;*/
}
.content .mainInfomation:nth-child(3) input,
.content .mainInfomation:last-child input{
      /*width:10rem;*/
}
input::-webkit-input-placeholder {
      color: #999;
}
.content .mainInfomation button{
      background-color: #1094f5;
      /*margin-top:1.3rem;*/
      margin-right: .9375rem/* 15px */;
      color: #fff;
      padding-left:0.3125rem;
      padding-right:0.3125rem;
      outline:0;
      position:absolute;
      top:1.4rem;
      right:0;
}
.p25{
  padding-left: 1.5625rem/* 25px */;
}
.myCheckbox{
  font-size:1.5rem;
  position:relative;
  /*top:2rem;*/
  padding-left:2.8rem;
  color:#494949;
}
.myCheckbox input[type=checkbox]{
  display:none;
}
.checkbox label{
  display:inline-block;
  /*padding:0.6rem;*/
}
.myCheckbox label{
  width:1rem;
  height:1rem;
  position:absolute;
  top:0;
  left:1rem;
  background:#fff;
  border:0.05rem solid #ccc;
  border-radius:0.3rem;
}
.myCheckbox label:after{
  display:inline-block;
  opacity:0;
  content:'';
  width:1.2rem;
  height:0.6rem;
  background:transparent;
  position:absolute;
  top:0.3rem;
  left:0.4rem;
  border:0.05rem solid #999;
  border-top:none;
  border-right:none;
  transform:rotate(-45deg);
}
.myCheckbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.p25 a{
  display:inline-block;
  color: #1093f4;
  font-size:1.5rem;
  /*padding-left:0.7rem;*/
  text-decoration:none;
  padding-top:0.5rem;
  border-bottom:0.12rem solid #1093f4;
  margin-left:0.7rem;
}
.protocol{
  -webkit-appearance: none;
  width:1.25rem;
  height:1.25rem;
  background:#f4f5f7;
  border:0.0625rem solid #ccc;
  appearance: none;
  border-radius: 0.1875rem;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container button{
  outline:0;
  border:none;
  margin-top:1.875rem;
  width: 100%;
  height: 3.75rem/* 60px */;
  font-size: 1.8rem;
  color: #ffffff;
  /*background-color: #1094f5;*/
  border-radius:.375rem/* 6px */;
}

/*模态框-提示框*/
.modal{
  display: table;
  height: 70%;
  width:80%;
  margin:0 auto;
}
.modal-dialog{
  display: table-cell;
  vertical-align: middle;
}
.modal-content{
  background:#000;
  opacity:0.6;
  color:#fff;
  text-align: center;
}
.modal-body{
  font-size: 1.5rem;
  padding:0.8rem 0.1rem;
}

/*安全提示*/
.secrityContent{
  background:#fff;
  padding:1.25rem;
  width:100%;
  height:100%;
}
.secrityContent h3{
  font-size:1.5rem;/*24px*/
  text-align:center;
}
.secrityContent .secrityText{
  text-indent:2rem;
  padding:1rem 0.05rem;
}

button[disabled]{
  background:rgb(153, 153, 153);
}