.contentDetailNew .col-sm-12 {
  text-align: center;
}
.contentDetailNew .col-sm-12 #tx {
  width: 83px;
  height: 83px;
  margin-top: 22px;
  text-align: center;
  border-radius: 50%;
}
.contentDetailNew .col-sm-12 #modifytx {
  color: #1094f5;
  text-align: right;
  font-size: 12px;
  vertical-align: bottom;
  cursor: pointer;
}
.contentDetailNew .pinfoR {
  color: #666666;
  text-align: left;
  border: none;
  -webkit-box-shadow: none;
}
.contentDetailNew .pinfoR span {
  margin-right: 10px;
}
.contentDetailNew .pinfoE {
  color: #666666;
  text-align: left;
  background-color: #ffffff;
  cursor: default;
  width: 300px;
  display: inline-block;
}
.contentDetailNew .editinfo {
  display: inline-block;
  color: #1094f5;
  position: absolute;
  top: 9px;
  right: 26px;
  cursor: pointer;
}
.contentDetailNew .editinfo .glyphicon-pencil {
  line-height: 34px;
}
.contentDetailNew .idcard {
  display: inline-block;
  width: 160px;
  height: 105px;
  background-color: #1094f5;
  margin-right: 60px;
  margin-top: 21px;
}
#usrInfoForm .has-success .help-block,
#usrInfoForm .has-error .help-block {
  top: 30px;
  left: 16px;
}
#usrInfoForm .has-success .form-control-feedback,
#usrInfoForm .has-error .form-control-feedback {
  right: 0;
}
.upload {
  display: inline-block;
  position: relative;
  line-height: 30px;
  top: 8px;
}
.upload .uploadify object {
  left: 0;
}
