#commondContent .procedure span:nth-child(1) {
  width: 46px;
  height: 46px;
  background: url('../../images/registerInfo/jibenxinxi_1.png') no-repeat center;
  top: 10px;
}
#commondContent .procedure span:nth-child(1) > i {
  left: -30%;
  bottom: -35px;
}
#commondContent #companyBaseInfo {
  margin: 0 auto;
  margin-top: 80px;
}
#commondContent #companyBaseInfo input {
  width: 356px;
}
#commondContent #companyBaseInfo .selectN {
  width: 356px;
}
#commondContent #companyBaseInfo .selectS {
  width: 160px;
  display: inline-block;
  margin-right: 5px;
}
#commondContent #companyBaseInfo input[type=file] {
  display: none;
}
#commondContent #companyBaseInfo .uploadImg .zhengbenzhaopian,
#commondContent #companyBaseInfo .uploadImg .fubenzhaopian {
  width: 135px;
  height: 120px;
}
#commondContent #companyBaseInfo .uploadImg .zhengbenzhaopian img {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
#commondContent #companyBaseInfo .uploadImg .fubenzhaopian {
  margin-left: 63px;
}
#commondContent #companyBaseInfo .uploadImg .fubenzhaopian img {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
#commondContent #companyBaseInfo .next-step {
  color: #fff;
  font-size: 18px;
  display: block;
  width: 120px;
  height: 40px;
  background: transparent;
  border-color: transparent;
  background: #157df2;
  margin: 0px 10px 10px 100px;
}
