<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-zhanghao" style="font-size:18px;"></i>
        </div>
        <div class="col-sm-5 pathTitle">
            <span class="spanTitle">企业信息>银行账号><a href="javascript:;" alt="">账号验证</a></span>
            <span class="spanNote">您可在此页面可验证已打款的银行账号</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="infoGroup minSize">
        <div class="infoGroupTitle">
            <h4 class="path">验证银行账号</h4>
        </div>
        <div class="infoGroupContent addAccount">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-4">开户名称</label>
                    <div class="col-sm-5">
                        <input type="text" readonly id="openAcctNm" name="openAcctNm" class="form-control" placeholder="请输入供应商名称">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-4">账号</label>
                    <div class="col-sm-5">
                        <input type="text" readonly id="acctNo" name="acctNo" class="form-control" placeholder="请输入银行账号">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-4">开户行</label>
                    <div class="col-sm-5">
                        <input type="text" readonly id="openBrhNm" name="openBrhNm" class="form-control" placeholder="请输入银行名称">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-4">支行城市</label>
                    <div class="col-sm-2" style="width:200px;">
                        <select id="bankProvince" disabled name="bankProvince" class="form-control">
                            <option value="" disabled selected>请选择</option>
                        </select>
                    </div>
                    <div class="col-sm-2" style="width:200px;">
                        <select id="bankCity" disabled name="bankCity" class="form-control">
                            <option value="" disabled selected>请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-4">支行名称</label>
                    <div class="col-sm-5">
                        <input type="text" readonly id="openBrhCd" name="openBrhCd" class="form-control" placeholder="请输入开户行支行名称">
                    </div>
                </div>
            </div>
            <div class="row accountInfo">
                <div class="col-sm-12">
                    <label class="col-sm-4">默认账户</label>
                    <div class="col-sm-5">
                       <span class="definedRadio">
                            <input type="radio" id="radio0" name="defRecNo" value="1" />
                            <label for="radio0" class="dot"></label>
                        </span>
                        <label>是</label>
                        <span class="definedRadio">
                            <input type="radio" disabled checked id="radio1" name="defRecNo" value="0" />
                            <label for="radio1" class="dot"></label>
                        </span>
                        <label>否</label>
                    </div>
                </div>
            </div>
            <div class="row verifyInfo">
                <div class="col-sm-12">
                    <label class="col-sm-4">状态</label>
                    <div class="col-sm-5">
                        <div class="red">已打款待验证</div>
                    </div>
                </div>
            </div>
            <div class="row btnRow verifyInfo">
                <div class="col-sm-6 verifyInfo">
                    <button type="button" id="bankVerify" class="confirm btn btn-primary">验证账户</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" id="dltAccount" class="back btn btn-primary">删除账户</button>
                </div>
            </div>
        </div>
    </div>
    <div id="verifyAccount" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">验证银行账号</h4>
                </div>
                <div class="modal-body">
                    <form id="verifySbt">
                        <div class="row form-group">
                            <div class="col-md-3 col-md-offset-1">开户名称</div>
                            <div id="openAcctNm1" class="col-md-6"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3 col-md-offset-1">银行账号</div>
                            <div id="accNo" class="col-md-6"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3 col-md-offset-1">金额</div>
                            <div class="col-md-6">
                                <input name="amount" class="form-control" type="text" placeholder="请输入该账户转入的金额"/>
                            </div>
                        </div>
                        <div class="row">
                            <p class="red col-md-offset-1 col-md-11">提示：为确保您的账户安全，请完成身份验证</p>
                        </div>
                        <div class="row form-group">
                            <div class=" col-md-offset-1 col-md-6">
                                <input name="smsCode" class="form-control" id="checkCode" type="text" placeholder="短信验证"/>
                            </div>
                            <div class="col-md-3">
                                <input type="button" value="获取验证码" id="checkCodeGet" class="btn btn-block" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="sbtAmt" class="btn btn-primary">确认</button>
                    <button type="button" id="cancel" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
