<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-zhanghao" style="font-size:18px;"></i>
        </div>
        <div class="col-sm-5">
            <span class="spanTitle">企业信息>银行账号><a href="javascript:;" alt="">验证成功</a></span>
            <span class="spanNote">您可在此页面可获得银行账号验证反馈结果</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="infoGroup minSize" id="verifySuccess">
        <div class="slogo"></div>
        <h3>您的银行账号认证已提交！</h3>
        <p>稍后，我们会转入该账户一笔款项，请关注账户动态，在银行账户验证页面</p>
        <p>中输入收到款项金额，验证成功后，该银行卡绑定成功。</p>
        <div>
            <button id="back" class="btn" type="button">确定</button>
        </div>
    </div>
</div>
