<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-zhanghao" style="font-size:18px;"></i>
        </div>
        <div class="col-sm-5">
            <span class="spanTitle">企业信息>银行账号><a href="javascript:;" alt="">添加银行账号</a></span>
            <span class="spanNote">您可在此页面可添加新的银行账号</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="infoGroup minSize">
        <div class="infoGroupTitle">
            <h4>添加银行账号</h4>
        </div>
        <div class="infoGroupContent addAccount">
            <form id="addAccount">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-4"><span class="span-star">*&nbsp;</span>开户名称</label>
                        <div class="col-sm-5">
                            <input type="text" name="openAcctNm" class="form-control" placeholder="请输入供应商名称">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="acctNo" class="col-sm-4"><span class="span-star">*&nbsp;</span>账号</label>
                        <div class="col-sm-5">
                            <input type="text" id="acctNo" name="acctNo" class="form-control" placeholder="请输入银行账号">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-4"><span class="span-star">*&nbsp;</span>开户行</label>
                        <div class="col-sm-5">
                            <input type="text" name="openBrhNm" class="form-control" placeholder="请输入银行名称">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-4"><span class="span-star">*&nbsp;</span>支行城市</label>
                        <div class="col-sm-2" style="width:200px;">
                            <select name="bankProvince" class="form-control" id="sheng">
                                <option value="" disabled selected>请选择</option>
                            </select>
                        </div>
                        <div class="col-sm-2" style="width:200px;">
                            <select name="bankCity" class="form-control" id="shi">
                                <option value="" disabled selected>请选择</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for class="col-sm-4"><span class="span-star">*&nbsp;</span>支行名称</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="openBrhCd" name="openBrhCd"></select>
                        </div>
                    </div>
                </div>
               <!--  <div class="row defcheck">
                    <div class="col-sm-12 form-group">
                        <label class="col-sm-4"><span class="span-star">*&nbsp;</span>默认账户</label>
                        <div class="col-sm-5">
                            <span class="definedRadio">
                                <input type="radio" id="radio0" name="defRecNo" value="1" />
                                <label for="radio0" class="dot"></label>
                            </span>
                            <label for="">是</label>
                            <span class="definedRadio">
                                <input type="radio" checked id="radio1" name="defRecNo" value="0" />
                                <label for="radio1" class="dot"></label>
                            </span>
                            <label for="">否</label>
                        </div>
                    </div>
                </div> -->
                <div id="errorMsg" style="display:none;" class="row">信息填写不全或有误，请确认后再提交</div>
                <div class="row">
                    <div class="col-sm-12 add">
                        <button type="button" id="addAccountBtn" class="pre-step btn btn-primary">新增</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>