<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-ic_domain_black_px"></i>
        </div>
        <div class="col-sm-5">
            <span class="spanTitle">企业信息>企业资料><a href="javascript:;" alt="">用户协议签约</a></span>
            <span class="spanNote">您可在此页面签约用户协议</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="infoGroup">
        <h4 style="margin: 25px 0;text-align: center;">E秒付平台用户注册与服务协议</h4>
        <div class="infoGroupContent" style="padding-bottom: 20px;">
            <div style="border: 1px solid #ccc;border-radius: 4px;padding:4px;">
                <div class="protocolWrap scrollbar">
                </div>
            </div>
        </div>
        <div>
            <span class="definedRadio">
                <input type="radio" name="isDefault" />
                <span class="dot"></span>
            </span>
            我已阅读并同意<a href="javascript:void(0);">《E秒付平台用户注册与服务协议》</a>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <div class="col-md-4 col-lg-offset-3">
                    <input class="form-control" id="checkCode" type="text" placeholder="短信验证" />
                </div>
                <div class="col-md-2">
                    <input type="button" value="获取验证码" style="color: #ffffff;background: #1094f5; margin-left:-10px;" id="checkCodeGet" class="btn btn-block" />
                </div>
            </div>
        </div>
        <div class="row btnRow">
            <div class="col-sm-6">
                <button id="signBtn" class="confirm btn btn-primary">签约</button>
            </div>
            <div class="col-sm-6">
                <button id="goBack" type="button" class="cancel btn btn-primary">取消</button>
            </div>
        </div>
    </div>
</div>