<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-ic_domain_black_px"></i>
        </div>
        <div class="col-sm-5">
            <span class="spanTitle">企业信息>企业资料><a href="javascript:;" alt="">数字证书申请</a></span>
            <span class="spanNote">您可在此页面签约数字证书</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="infoGroup">
        <div class="infoGroupTitle">
            <h4>企业资料</h4>
        </div>
        <div class="infoGroupContent no-bottom">
            <ul class="eInfo">
                <li>
                    <h5>企业名称:</h5><span id="custCnNm"></span>
                </li>
                <li>
                    <h5>企业证件类型:</h5><span dic-type="900003" id="idTyp"></span>
                </li>
                <li>
                    <h5>所在城市:</h5><span id="regCity"></span>
                </li>
                <li>
                    <h5>法定代表人:</h5><span id="lglPerNm"></span>
                </li>
                <li>
                    <h5>企业证件号码:</h5><span id="idNo"></span>
                </li>
                <li>
                    <h5>详细地址:</h5><span id="regAdr"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="infoGroup">
        <div class="infoGroupTitle">
            <h4>管理员信息</h4>
        </div>
        <div class="infoGroupContent no-bottom">
            <ul class="eInfo">
                <li>
                    <h5>管理员姓名:</h5><span id="manageName"></span>
                </li>
                <li>
                    <h5>身份证号:</h5><span id="manageCertNo"></span>
                </li>
                <li>
                    <h5>手机号码:</h5><span id="manageMobile"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12">
            <div class="col-md-4 col-lg-offset-3">
                <input class="form-control" id="checkCode" type="text" placeholder="短信验证"/>
            </div>
            <div class="col-md-2">
                <input type="button" value="获取验证码" style="color: #ffffff;background: #1094f5; margin-left:-10px;"
                        id="checkCodeGet" class="btn btn-block" />
            </div>
        </div>
    </div>
    <div class="row btnRow">
        <div class="col-sm-6">
            <button type="button" id="apply" class="confirm btn btn-primary">申请数字证书</button>
        </div>
        <div class="col-sm-6">
            <button type="button" id="cancel" class="cancel btn btn-primary">取消</button>
        </div>
    </div>
</div>