<!--主体内容标题导航等-->
<div class="contentHeader" id="zrreviewHis">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-zhuanzhang" style="font-size:22px;"></i>
        </div>
        <div class="col-sm-5">
            <span class="spanTitle">待办任务&gt;宝券转让&gt;<a href="javascript:;" id="zrfhHistory">转让复核历史</a></span>
            <span class="spanNote">您在此页面可查看宝券转让待复核与转让撤销待复核历史任务</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetail2">
    <div class="head">
        <div class="contentListTitle">
            <button id="txnAppr">转让待复核</button>
            <button id="txnRetrAppr">转让撤销待复核</button>
        </div>
        <div class="contentMain">
            <table class="table" rules="cols" style="border:1px solid #efefef;">
                <thead>
                    <tr>
                        <!--<th><span><input  type="checkbox" id="checkAll"><label for="checkAll"></label></span></th>-->
                        <th>宝券编号</th>
                        <th>转让金额</th>
                        <th>转入方</th>
                        <th>到期日</th>
                        <th>距到期日</th>
                        <th dic-type="121">状态</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div id="noDataTip">无可用数据!</div>
            <div id="page">
                <ul>
                    <li><button id="firstPage">首页</button></li>
                    <li><button id="prePage">上一页</button></li>
                    <li><span id="pageInfo"><span id="pageIndex"></span>页/<span id="totalPage"></span>页</span>
                    </li>
                    <li><button id="nextPage">下一页</button></li>
                    <li><button id="lastPage">尾页</button></li>
                </ul>
                <span id="eachPage">每页显示条数
                    <select id="pageSize">
                      <option value=1 selected>10</option>
                      <option value=2>20</option>
                      <option value=3>30</option>
                      <option value=4>40</option>
                      <option value=5>50</option>
                    </select>
                </span>
            </div>
        </div>
    </div>


    <!-- 返回上一级页面-->
    <div class="foots">
        <div class="row ">
            <div class="col-sm-offset-2 col-sm-8">
                <button class="goBack btn btn-primary" id="returnPre">返回上一级页面</button>
            </div>
        </div>
    </div>
</div>