<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-ic_border_color_blac"></i>
        </div>
        <div class="col-sm-5">
            <span class="spanTitle">待办任务&gt;宝券签收&gt;<a href="javascript:;" >签收历史</a></span>
            <span class="spanNote">您在此页面可查所有的宝券签收历史</span>
        </div>
    </div>
</div>
<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="contentListTitle">
        <img src="" alt="">
        <span>签收历史列表</span>
    </div>
    <div class="contentMain">
        <table class="table" id="historyTbl" rules="cols" style="border:1px solid #efefef;">
            <thead>
                <tr>
                    <th>宝券编号</th>
                    <th>转让金额(元)</th>
                    <th>转出方</th>
                    <th>办理日期</th>
                    <th>距到期日(天)</th>
                    <th dic-type="121">状态</th>
                </tr>
            </thead>
            <tbody class="text-center">

            </tbody>
        </table>
        <div id="noDataTip">无可用数据!</div>
    </div>
    <!-- 分页-->
    <div id="page">
        <ul>
            <li><button id="firstPage">首页</button></li>
            <li><button id="prePage">上一页</button></li>
            <li><span id="pageInfo"><span id="pageIndex"></span>页/<span id="totalPage"></span>页</span>
            </li>
            <li><button id="nextPage">下一页</button></li>
            <li><button id="lastPage">尾页</button></li>
        </ul>
        <span id="eachPage">每页显示条数
                    <select id="pageSize">
                      <option value=1 selected>10</option>
                      <option value=2>20</option>
                      <option value=3>30</option>
                      <option value=4>40</option>
                      <option value=5>50</option>
                    </select>
                </span>
    </div>
    <!-- btn-->
    <div class="foots">
        <div class="col-sm-12">
            <button class="goBack  btn btn-primary" id="returnPre">返回上一级页面</button>
        </div>
    </div>
</div>