<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-ic_all_inclusive_bla"></i>
        </div>
        <div class="col-sm-4">
            <span class="spanTitle">业务台账><a href="javascript:;" alt="">宝券融资台账</a></span>
            <span class="spanNote">您在此页面可查询所有的宝券融资台账</span>
        </div>
    </div>
</div>

<!--主体内容查询条件等，不是所有页面都有-->
<form id="query" class="contentQuery">
    <div class="row form-group">
        <label class="col-sm-1">融资金额</label>
        <div class="col-sm-5">
            <input type="text" name="startAmt" class="form-control inputShort" placeholder="请输入起始金额">
            <span>至</span>
            <input type="text" name="endAmt" class="form-control inputShort" placeholder="请输入终止金额">
        </div>
        <label class="col-sm-1">交易状态</label>
        <div class="col-sm-5">
            <select id="txnStat" name="txnStat" class="form-control">
                <option value="" disabled selected style='display:none;'>请选择</option>
            </select>
        </div>
    </div>
    <div class="row form-group">

        <label class="col-sm-1">申请日期</label>
        <div class="col-sm-5">
            <div class="input-group date form-date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" id="sqFrom" value="" placeholder="请输入起始日期" readonly/>
                <span class="input-group-addon removeSpan"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon dateSpan"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <input name="startDate" type="hidden" id="dtp_input1" value="" />
            <span class="fromTo">至</span>
            <div class="input-group date form-date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" id="sqTo" value="" placeholder="请输入终止日期" readonly>
                <span class="input-group-addon removeSpan"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon dateSpan"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <input name="endDate" type="hidden" id="dtp_input2" value="" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 query">
            <button type="button" id="search" class="pre-step btn btn-primary">查询</button>
        </div>
    </div>
</form>

<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="contentListTitle">
        <img src="" alt="">
        <span>融资台账</span>
    </div>
    <div class="contentMain standingBook">
        <table id="financeTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>申请日期</th>
                    <th>宝券编号</th>
                    <th>融资金额</th>
                    <th>应付利息</th>
                    <th>实付利息</th>
                    <th>金币抵扣金额</th>
                    <th>放款金额</th>
                    <th dic-type="160">交易状态</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <!-- <tr>
                    <td>申请日期</td>
                    <td>K201706220-001</td>
                    <td>420.08</td>
                    <td>1.08</td>
                    <td>20.08</td>
                    <td>10.08</td>
                    <td>0.08</td>
                    <td>交易状态</td>
                </tr> -->
            </tbody>
        </table>
        <div id="noDataTip">无可用数据!</div>
        <div id="page">
            <ul>
                <li><button id="firstPage">首页</button></li>
                <li><button id="prePage">上一页</button></li>
                <li><span id="pageInfo"><span id="pageIndex">1</span>页/<span id="totalPage"></span>页</span>
                </li>
                <li><button id="nextPage">下一页</button></li>
                <li><button id="lastPage">尾页</button></li>
            </ul>
            <span id="eachPage">每页显示条数
                <select id="pageSize">
                    <option value=2 selected>10</option>
                    <option value=3>15</option>
                    <option value=4>20</option>
                    <option value=5>25</option>
                </select>
            </span>
            <input id="isQuery" type="hidden" value=0>
        </div>
    </div>
</div>