<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-ic_border_color_blac"></i>
        </div>
        <div class="col-sm-5">
            <span class="spanTitle">待办任务&gt;宝券签收&gt;<a href="javascript:;" >签收信息</a></span>
            <span class="spanNote">您在此页面可查看待签收宝券详细信息</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetailNew" style="margin-bottom:20px;">
    <div class="contentListTitle">
        <img src="" alt="">
        <div class="drftDetail">
            <label>宝券编号</label>
            <span id="srcDrftNo"></span>
        </div>
    </div>

    <div class="contentMain">
        <hr>
        <div class="drftInfo" style="border:none;margin-left:15px;padding:0;">
            <div class="oneItem">
                <label>签收日期</label>
                <span id="txnDt"></span>
            </div>
            <div class="oneItem">
                <label>转出方</label>
                <span id="reqCustNm"></span>
            </div>

            <div class="oneItem">
                <label>距到期日</label>
                <span id="dueDays"></span>

            </div>
            <div class="oneItem kdf">
                <label>开单方</label>
                <span id="drwrNm"></span>

            </div>
            <div class="oneItem">
                <label>状态</label>
                <span id="txnStat" dic-type="124"></span>
            </div>
        </div>
        <hr>
        <div class="form-group drftCommonStyle" style="padding-bottom: 1px;">
            <div class=" col-sm-12">
                <span id="txnAmt" class="fr"></span>
                <label class="control-label fr">转让金额</label>

            </div>
        </div>
    </div>
</div>
<div id="download">
    <div class="download">
        <label class="control-label">晨蜂金融平台宝券应收账款债权转让协议</label>
        <a data-type="0" id="qsxyxz" class="fr">下载</a>
    </div>
    <hr>
    <div class="download">
        <label class="control-label">宝券转让凭证</label>
        <a data-type="1" id="bqzrpz" class="fr">下载</a>
    </div>
    <hr>
    <div class="download">
        <label class="control-label">债权转让通知</label>
        <a data-type="2" id="qszqxz" class="fr">下载</a>
    </div>
    <div class="download" style="display: none;">
        <label class="control-label">宝券开具协议</label>
        <a data-type="3" id="kjxy" class="fr">下载</a>
    </div>
</div>

<div class="foots">
    <div class="row ">
        <div class="col-sm-offset-2 col-sm-8">
            <button class="goBack btn btn-primary" id="returnPre">返回上一级页面</button>
        </div>
    </div>
</div>

<!-- 构造弹窗 协议-->
<div class="modal fade xe PDFModal" id="transferFir">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">委托授权书</h4>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" title="111" src=""></iframe>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- 构造弹窗 债权转让通知-->
<div class="modal fade PDFModal" id="transferSec">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" title="111" src=""></iframe>
                </div>
            </div>

        </div>
    </div>
</div>