<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-ic_border_color_blac"></i>
        </div>
        <div class="col-sm-5">
            <span class="spanTitle">业务台账>宝券签收台账>
                <a href="javascript:;" alt="">签收信息</a></span>
            <span class="spanNote">您在此页面可查看宝券签收台账的详细信息</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="contentMain standingBook">
        <div class="item">
            <div class="item-title">
                <h5>宝券编号<span id="srcDrftNo"></span></h5>
            </div>
            <table id="ticketDetail" class="table item-content">
                <thead>
                    <tr>
                         <th class="limited">申请日期</th>
                        <th>转出方</th>
                        <th class="limited">距到期日(天)</th>
                        <th>开单方</th>
                        <th  dic-type="140" class="limited">交易状态</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="item-amt">
                <h4>签收金额(元)<span id='totalAmt'></span></h4>
            </div>
        </div>
        <ul class="downloadlList">
            <li>
                <span>晨蜂金融平台宝券应收账款债权转让协议</span><a data-type="0" class="qsld" href="javascript:void(0);">下载</a>
            </li>
            <li>
                <span>宝券转让凭证</span><a data-type="1" class="qsld" href="javascript:void(0);">下载</a>
            </li>
            <li>
                <span>债权转让通知</span><a data-type="2" class="qsld" href="javascript:void(0);">下载</a>
            </li>
            <li style="display: none;">
                <span>宝券开具协议</span><a data-type="3" class="qsld" href="javascript:void(0);">下载</a>
            </li>
        </ul>
        <div class="goUp">
            <a class="btn" href="javascript:void(0);">返回上级页面</a>
        </div>
    </div>
</div>
<!-- 构造弹窗 -->
    <div class="modal fade PDFModal" id="qsPDF">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" title="" src=""></iframe>
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>