<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-zhuanzhang" style="font-size:22px;"></i>
        </div>
        <div class="col-sm-10">
            <span class="spanTitle">待办任务>宝券融资><i id="txnType"></i>><a href="javascript:;" alt=""><i id="txnProType"></i></a></span>
            <span class="spanNote"></span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetail" style="margin-bottom:20px;">
    <div class="contentMain bgcolor">
        <div id="protocol">
            <div class="onePro">
                <span hidden class="id"></span>
                <span class="drftNo"></span>
                <span class="proName"></span>
                <span class="time fr"></span>
            </div>
            <hr class="form-hr" />
        </div>

    </div>
</div>

<div id="btn" class="row">
    <div class="col-sm-12" style="text-align:center;">
        <button id="returnPre" class="return btn" style="width:150px;">返回上级页面</button>
    </div>
</div>

<!--通知-->
<div class="modal fade protocolModal" tabindex="-1" role="dialog" id="noticeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">债权转让通知</h4>
            </div>
            <div class="modal-body">
                <div style="border: 1px solid #ccc;border-radius: 4px;padding:4px;">
                    <pre class="protocolContent" style="width:100%;
                                background-color: #fff;border:none;border-radius:0;
                                white-space:pre-wrap;padding: 10px 20px;
                                margin: 0;word-wrap: break-word;">中兴通讯股份有限公司：

&nbsp;&nbsp;贵司（作为开券人）已开具编号为<span id="drftNoNotice"></span>的宝券（金额为人民币<span class="txnAmtCnNotice"></span>万元，小写：<span class="txnAmtNotice"></span>）。我司作为该宝券的合法持有人，根据晨蜂金融平台的业务规则和指引，现将该宝券项下对贵司的债权（金额为人民币<span class="txnAmtCnNotice"></span>万元，小写：<span class="txnAmtNotice"></span>）及其相关权利通过晨蜂金融平台转让予<span class="rcvCustNmNotice"></span>，请贵司向<span class="rcvCustNmNotice"></span>履行该宝券项下的义务。

&nbsp;&nbsp;如无特别说明，本《债权转让通知》中用语与《晨蜂金融平台用户注册与服务协议》中用语含义保持一致。


<span class="fr" id="reqCustNmNotice"></span>
<span class="fr" id="txnDtNotice"></span></pre>
                </div>
            </div>
        </div>
    </div>
</div>

<!--协议-无追索-->
<div class="modal fade protocolModal" tabindex="-1" role="dialog" id="protocolModalNo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">晨蜂金融平台宝券商业保理融资协议</h4>
            </div>
            <div class="modal-body">
                <div style="border: 1px solid #ccc;border-radius: 4px;padding:4px;">
                    <div class="protocolWrap scrollbar">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--协议-有追索-->
<div class="modal fade protocolModal" tabindex="-1" role="dialog" id="protocolModalYes">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">晨蜂金融平台宝券商业保理融资协议</h4>
            </div>
            <div class="modal-body">
                <div style="border: 1px solid #ccc;border-radius: 4px;padding:4px;">
                    <div class="protocolWrap scrollbar">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>