<!--主体内容标题导航等宝券转让复核历史宝券信息-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-zhuanzhang" style="font-size:22px;"></i>
        </div>
        <div class="col-sm-6">
            <span class="spanTitle">待办任务&gt;宝券转让&gt;转让复核历史&gt;<a href="javascript:;">宝券信息</a></span>
            <span class="spanNote">您在此页面可查看宝券转让待复核与转让撤销待复核历史的宝券信息</span>
        </div>
    </div>
</div>
<!--主体内容明细部分-->
<div class="contentDetailNew" style="margin-bottom:20px;">
    <div class="contentListTitle">
        <img src="" alt="">
        <div class="drftDetail">
            <label>宝券编号</label>
            <span id="srcDrftNo"></span>
        </div>
    </div>

    <div class="contentMain">
        <hr>
        <div class="drftInfo" style="border:none;margin-left:15px;padding:0;">
            <div class="oneItem">
                <label>申请日期</label>
                <span id="txnDt"></span>
            </div>
            <div class="oneItem">
                <label>转入方</label>
                <span id="rcvCustNm"></span>
            </div>

            <div class="oneItem">
                <label>距到期日</label>
                <span id="dueDays"></span>

            </div>
            <div class="oneItem kdf">
                <label>开单方</label>
                <span id="drwrNm"></span>

            </div>
            <div class="oneItem">
                <label>状态</label>
                <span dic-type="124" id="txnStat"></span>
            </div>
        </div>
        <hr>
        <div class="form-group drftCommonStyle" style="padding-bottom: 1px;">
            <div class=" col-sm-12">
                <span id="txnAmt" class="fr"></span>
                <label class="control-label fr">转让金额</label>

            </div>
        </div>
    </div>
</div>

<div class="foots">
    <div class="row ">
        <div class="col-sm-offset-2 col-sm-8">
            <button class="goBack btn btn-primary" id="returnPre">返回上一级页面</button>
        </div>
    </div>
</div>