<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-ic_all_inclusive_bla"></i>
        </div>
        <div class="col-sm-6">
            <span class="spanTitle">待办任务&gt;宝券融资&gt;融资复核历史&gt;<a href="javascript:;">宝券信息</a></span>
            <span class="spanNote">您在此页面可查看宝券融资待复核与融资撤销待复核的历史宝券信息</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->

<div id="main" class="contentDetailNew" style="margin-bottom:20px;">
    <div class="contentListTitle">
        <img src="" alt="">
        <div class="drftDetail">
            <label>宝券编号</label>
            <span id="drftNo"></span>
            <span class="fr" id="txnDt"></span>
            <label class="fr">申请日期</label>
        </div>
    </div>
    <div class="contentMain">
        <hr>
        <div class="form-group drftCommonStyle">
            <div class="col-sm-4">
                <label class="control-label">资金方</label>
                <span id="orgNm"></span>
            </div>
            <div class="col-sm-4">
                <label class="control-label">融资类型</label>
                <span id="finTyp" dic-type="200"></span>
            </div>
            <div class="col-sm-4">
                <label class="control-label">当前状态</label>
                <span id="txnStat" dic-type="124"></span>
            </div>
        </div>
        <div class="form-group drftCommonStyle">
            <div class="col-sm-4">
                <label class="control-label">融资天数</label>
                <span id="intDays"></span>
            </div>
            <div class="col-sm-4">
                <label class="control-label">优惠折扣</label>
                <span id="rateDisct"></span>
            </div>
            <div class="col-sm-4">
                <label class="control-label">应付利息</label>
                <span id="dcInterest"></span>
            </div>
        </div>
        <div class="form-group drftCommonStyle">
            <div class="col-sm-4">
                <label class="control-label">年化利率</label>
                <span id="intRate"></span>
            </div>
            <div class="col-sm-4">
                <label class="control-label">金币抵扣</label>
                <span id="useBouns"></span>
            </div>
            <div class="col-sm-4">
                <label class="control-label">实付利息</label>
                <span id="rcInterest"></span>
            </div>
        </div>
        <hr>
        <div class="form-group drftCommonStyle">
            <div class="col-sm-4">
                <label class="control-label">融资金额</label>
                <span id="disctAmt"></span>
            </div>
            <div class="col-sm-4">
                <label class="control-label">放款金额</label>
                <span id="payAmt"></span>
            </div>
        </div>
    </div>
</div>
<!-- btn-->
<div class="foots">
    <div class="row ">
        <div class="col-sm-offset-2 col-sm-8">
            <button class="goBack btn btn-primary" id="returnPre">返回上一级页面</button>
        </div>
    </div>
</div>