<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <img class="col-sm-1" src="../images/index/Modify password.png" alt="">
        <div class="col-sm-3">
            <span class="spanTitle grxx">修改密码</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetailNew">
    <div class="procedure">
        <span id="one"><i>身份验证</i></span>
        <span id="two"><i>修改密码</i></span>
        <span id="three"><i>完成</i></span>
    </div>
    <!--密码重置成功-->
    <div class="resetSuccess">
        <img src="../images/registerInfo/chenggong.png"></img>
        <span>修改成功！</span>
        <button id="fourToIndex" class="btn btn-primary">重新登录</button>
    </div>
</div>