<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <img class="col-sm-1" src="../images/index/rongzi_pingdao.png" alt="">
        <div class="col-sm-3">
            <span class="spanTitle">我的宝券><a href="javascript:;" alt="">宝券融资</a></span>
            <span class="spanNote">您在此页面可查询所有可融资宝券</span>
        </div>
    </div>
</div>

<!--主体内容查询条件等，不是所有页面都有-->
<div class="contentQuery">
    <span class="totalAmtLabel">可融资总额（元）</span>
    <label id="disctAmt" class="totalAmt"></label>
    <a href="javascript:;" id="queryOnDisct" class="queryLink fr">融资中的宝券</a>
    <a href="javascript:;" id="queryDisctHis" class="queryLink fr">查看融资历史</a>
</div>


<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="contentListTitle">
        <img src="" alt="">
        <span>可融资列表</span>
        <div class="conditionQuery fr">
            <i class="icon iconfont icon-sousuo"></i>
            <span>查询</span>
            <i class="icon iconfont icon-xiala"></i>
        </div>

    </div>

    <form id="query" class="contentQuery condQueryContent">
        <div class="row form-group">
            <label class="col-sm-1">宝券金额</label>
            <div class="col-sm-5">
                <input name="startAmt" type="text" class="form-control inputShort" placeholder="请输入起始金额">
                <span>至</span>
                <input name="endAmt" type="text" class="form-control inputShort" placeholder="请输入终止金额">
            </div>

            <label class="col-sm-1">到期日</label>
            <div class="col-sm-5">
                <div class="input-group date form-date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" id="dqrFrom" value="" placeholder="请输入起始日期" readonly/>
                    <span class="input-group-addon removeSpan"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon dateSpan"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" name="startDate" id="dtp_input1" value="" />
                <span class="fromTo">至</span>
                <div class="input-group date form-date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" id="dqrTo" value="" placeholder="请输入终止日期" readonly>
                    <span class="input-group-addon removeSpan"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon dateSpan"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" name="endDate" id="dtp_input2" value="" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 query">
                <button id="queryBtn" type="button" class="pre-step btn btn-primary">查询</button>
            </div>
        </div>
    </form>
    <div class="contentMain">
        <table class="table" rules="cols" style="border:1px solid #eaf0f4;">
            <thead>
                <tr>
                    <th style="width:80px;"><span><input  type="checkbox" id="checkAll"><label for="checkAll"></label></span></th>
                    <th>宝券编号</th>
                    <th>宝券金额
                        <a class="order" id="amt">
                            <i class="glyphicon glyphicon-triangle-top"></i>
                            <i class="glyphicon glyphicon-triangle-bottom"></i>
                        </a>
                    </th>
                    <th>到期日
                        <a class="order" id="date">
                            <i class="glyphicon glyphicon-triangle-top"></i>
                            <i class="glyphicon glyphicon-triangle-bottom"></i>
                        </a>
                    </th>
                    <th>距到期日</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <div id="noDataTip">无可用数据!</div>

        <div id="page">
            <ul>
                <li><button id="firstPage">首页</button></li>
                <li><button id="prePage">上一页</button></li>
                <li><span id="pageInfo"><span id="pageIndex"></span>页/<span id="totalPage"></span>页</span>
                </li>
                <li><button id="nextPage">下一页</button></li>
                <li><button id="lastPage">尾页</button></li>
            </ul>
            <span id="eachPage">每页显示条数
                <select id="pageSize">
                    <option value=1 selected>10</option>
                    <option value=2>20</option>
                    <option value=3>30</option>
                    <option value=4>40</option>
                    <option value=5>50</option>
                </select>
            </span>
        </div>

        <div class="disctCheckedAmt fr">
            <span>已选金额<label id="checkedAmt"></label>元</span>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button id="disctBtn" class="confirm btn btn-primary">我要融资</button>
            </div>
        </div>
    </div>