<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <img class="col-sm-1" src="../images/index/chaxun_pingdao.png" alt="">
        <div class="col-sm-3">
            <span class="spanTitle">我的宝券><a href="javascript:;" >宝券查询</a></span>
            <span class="spanNote">您在此页面可查询企业持有的宝券明细</span>
        </div>
    </div>
</div>

<!--主体内容查询条件等，不是所有页面都有-->
<form id="query" class="contentQuery">
    <div class="row form-group">
        <label class="col-sm-1">宝券状态</label>
        <div class="col-sm-5">
            <div class="status">
                <div class="all">
                    <label for="all">全部</label>
                    <input type="radio" name="drftStatus" id="all">
                    <div class="user-defined">
                        <span class="circle"></span>
                    </div>
                </div>
                <div class="settled">
                    <label for="settled">已结清</label>
                    <input type="radio" name="drftStatus" id="settled">
                    <div class="user-defined">
                        <span class="circle"></span>
                    </div>
                </div>
                <div class="useable">
                    <label for="useable">可用</label>
                    <input type="radio" name="drftStatus" id="useable">
                    <div class="user-defined">
                        <span class="circle"></span>
                    </div>
                </div>
                <div class="freeze">
                    <label for="freeze">冻结</label>
                    <input type="radio" name="drftStatus" id="freeze">
                    <div class="user-defined">
                        <span class="circle"></span>
                    </div>
                </div>
            </div>
        </div>
        <label class="col-sm-1">转出方</label>
        <div class="col-sm-5">
            <input name="prevOwnerNm" type="text" class="form-control inputLong" placeholder="请输入转出方">
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-1">可用金额</label>
        <div class="col-sm-5">
            <input name="startAmt" type="text" class="form-control inputShort" placeholder="请输入起始金额">
            <span>至</span>
            <input name="endAmt" type="text" class="form-control inputShort" placeholder="请输入终止金额">
        </div>

        <label class="col-sm-1">到期日</label>
        <div class="col-sm-5">
            <div class="input-group date form-date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" id="dqrFrom" value="" placeholder="请输入起始日期" readonly/>
                <span class="input-group-addon removeSpan"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon dateSpan"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <input type="hidden" name="startDate" id="dtp_input1" value="" />
            <span class="fromTo">至</span>
            <div class="input-group date form-date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" id="dqrTo" value="" placeholder="请输入终止日期" readonly>
                <span class="input-group-addon removeSpan"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon dateSpan"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <input type="hidden" name="endDate" id="dtp_input2" value="" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 query">
            <button id="queryDrft" type="button" class="pre-step btn btn-primary">查询</button>
        </div>
    </div>
</form>

<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="contentListTitle">
        <img src="" alt="">
        <span>持有宝券</span>
    </div>
    <div class="contentMain">
        <div id="drftInfo">
            <div class="oneDrft">
                <div class="drftTitle">
                    <label>宝券编号</label>
                    <span class="drftId" hidden></span>
                    <span class="drftNo"></span>
                    <span class="badge confirmed"></span>
                    <span class="fr isseDt"></span>
                    <label class="fr">签收日期</label>

                </div>
                <div class="drftContent">
                    <div class="oneItem">
                        <span class="validAmt"></span>
                        <label>可用金额</label>
                    </div>
                    <div class="oneItem">
                        <span class="dueDt"></span>
                        <label>到期日</label>
                    </div>
                    <div class="oneItem">
                        <span class="dueDays"></span>
                        <label>距到期日</label>
                    </div>
                    <div class="oneItem">
                        <span class="prevOwnerNm"></span>
                        <label>转出方</label>
                    </div>
                    <img>
                </div>
            </div>
        </div>
        <div id="noDataTip">无可用数据!</div>
        <div id="page">
            <ul>
                <li><button id="firstPage">首页</button></li>
                <li><button id="prePage">上一页</button></li>
                <li><span id="pageInfo"><span id="pageIndex"></span>页/<span id="totalPage"></span>页</span>
                </li>
                <li><button id="nextPage">下一页</button></li>
                <li><button id="lastPage">尾页</button></li>
            </ul>
            <span id="eachPage">每页显示条数
                <select id="pageSize">
                    <option value=1 selected>5</option>
                    <option value=2>10</option>
                    <option value=3>15</option>
                    <option value=4>20</option>
                    <option value=5>25</option>
                </select>
            </span>
        </div>
    </div>
</div>