<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <img class="col-sm-1" src="../images/index/zhuanrang_pingdao.png" alt="">
        <div class="col-sm-11">
            <span class="spanTitle">我的宝券>宝券转让><a href="javascript:;" alt="">转让中的宝券</a></span>
            <span class="spanNote">您在此页面可查询正在转让中的宝券</span>
        </div>
    </div>
</div>

<!--主体内容查询条件等，不是所有页面都有-->
<div id="query" class="contentQuery">
    <span class="totalAmtLabel">转让中总额（元）</span>
    <label id="totalTxnAmt" class="totalAmt"></label>
</div>


<!--主体内容明细部分-->
<div id="main" class="contentDetail">
    <div class="contentListTitle">
        <img src="" alt="">
        <span>转让中的宝券</span>
        <div class="conditionQuery fr">
            <i class="icon iconfont icon-sousuo"></i>
            <span>查询</span>
            <i class="icon iconfont icon-xiala"></i>
        </div>

    </div>

    <form id="queryData" class="contentQuery condQueryContent">
        <div class="row form-group">
            <label class="col-sm-1">转让金额</label>
            <div class="col-sm-5">
                <input name="startAmt" type="text" class="form-control inputShort" placeholder="请输入起始金额">
                <span>至</span>
                <input name="endAmt" type="text" class="form-control inputShort" placeholder="请输入终止金额">
            </div>

            <label class="col-sm-1">转让日期</label>
            <div class="col-sm-5">
                <div class="input-group date form-date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" id="dqrFrom" value="" placeholder="请输入起始日期" readonly />
                    <span class="input-group-addon removeSpan"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon dateSpan"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" name="startDate" id="dtp_input1" value="" />
                <span class="fromTo">至</span>
                <div class="input-group date form-date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" id="dqrTo" value="" placeholder="请输入终止日期" readonly>
                    <span class="input-group-addon removeSpan"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon dateSpan"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" name="endDate" id="dtp_input2" value="" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 query">
                <button id="queryTxnBtn" type="button" class="pre-step btn btn-primary">查询</button>
            </div>
        </div>
    </form>
    <div class="contentMain" style="position:relative;">
        <span class="cancelSucc">取消成功!</span>
        <table class="table" rules="cols" style="border:1px solid #eaf0f4;">
            <thead>
                <tr>
                    <th hidden></th>
                    <th>转让日期</th>
                    <th>宝券编号</th>
                    <th>转让金额</th>
                    <th>转入方</th>
                    <th dic-type="124">状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div id="noDataTip">无可用数据!</div>
        <div id="page">
            <ul>
                <li><button id="firstPage">首页</button></li>
                <li><button id="prePage">上一页</button></li>
                <li><span id="pageInfo"><span id="pageIndex"></span>页/<span id="totalPage"></span>页</span>
                </li>
                <li><button id="nextPage">下一页</button></li>
                <li><button id="lastPage">尾页</button></li>
            </ul>
            <span id="eachPage">每页显示条数
                <select id="pageSize">
                    <option value=1 selected>10</option>
                    <option value=2>20</option>
                    <option value=3>30</option>
                    <option value=4>40</option>
                    <option value=5>50</option>
                </select>
            </span>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button id="returnBtn" class="return btn btn-primary">返回上级页面</button>
            </div>
        </div>
    </div>
</div>

<!-- 构造弹窗确认签收 -->
<div class="modal fade mytaskModalA" id="txnConfirm">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">宝券转让撤回</h4>
            </div>
            <div class="modal-body">
                <div class="my_signContent">
                    <form class="form-horizontal" id="grxxformFir" onsubmit="return false">
                        <span id="id" hidden></span>
                        <div class="form-group">
                            <span class="col-sm-10 ts">
                            <span>提示：</span>撤回为不可逆操作，请确认是否撤回当前宝券编号为
                            <span id="drftNo"></span>，转让金额为<span id="txnAmt"></span>元的转让申请？
                            </span>
                            <p class="col-sm-10">如您确认宝券融资，请进行身份验证。</p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7">
                                <input id="smsCode" type="text" class="form-control" placeholder="短信验证码">
                            </div>
                            <input type="button" value="获取验证码" id="sendSmsCode" class="col-sm-3 valid btn" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="txnBtn" type="button" class="btn btn-primary confirmFir">确定</button>
                <button type="button" class="btn btn-default cancelFir" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div id="success" class="contentDetailNew">
    <img src="../images/index/chenggong.png">
    <span>撤回成功！</span>
    <span>您已完成宝券编号为<span id="drftNoSucc"></span>， 转让金额为
    <span id="amtSucc"></span>元的撤回申请， 待复核审核后即完成撤回！
    </span>
    <button id="successReturn" class="btn btn-primary">确定</button>
</div>