<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <img class="col-sm-1" src="../images/index/zhuanrang_pingdao.png" alt="">
        <div class="col-sm-11">
            <span class="spanTitle">我的宝券>宝券转让><i id="txnType"></i>><a href="javascript:;" alt="">宝券信息</a></span>
            <span class="spanNote"></span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div id="main" class="contentDetailNew" style="margin-bottom:20px;">
    <div class="contentListTitle">
        <img src="" alt="">
        <div class="drftDetail">
            <label>宝券编号</label>
            <span id="srcDrftNo"></span>
        </div>
    </div>

    <div class="contentMain">
        <span class="cancelSucc">取消成功!</span>
        <hr>
        <div class="drftInfo" style="border:none;margin-left:15px;padding:0;">
            <div class="oneItem">
                <label>申请日期</label>
                <span id="txnDt"></span>
            </div>
            <div class="oneItem">
                <label>转入方</label>
                <span id="rcvCustNm"></span>
            </div>

            <div class="oneItem" style="margin-right:100px;">
                <label>距到期日</label>
                <span id="dueDays"></span>

            </div>
            <div class="oneItem" style="margin-right:100px;">
                <label>到期日</label>
                <span id="srcDueDt"></span>

            </div>
            <div class="oneItem">
                <label>状态</label>
                <span dic-type="124" id="txnStat"></span>
            </div>
        </div>
        <hr>
        <div class="form-group drftCommonStyle" style="padding-bottom: 1px;">
            <div class=" col-sm-12">
                <span id="txnAmt" class="fr"></span>
                <label class="control-label fr">转让金额</label>

            </div>
        </div>
    </div>
</div>

<div id="download">
    <div class="download">
        <label class="control-label">E秒付平台宝券应收账款债权转让协议</label>
        <a data-type="0" class="fr">下载</a>
    </div>
    <hr>
    <div class="download">
        <label class="control-label">宝券转让凭证</label>
        <a data-type="1" class="fr">下载</a>
    </div>
    <hr>
    <div class="download">
        <label class="control-label">债权转让通知</label>
        <a data-type="2" class="fr">下载</a>
    </div>
</div>

<div id="btn" class="row">
    <div class="col-sm-12" style="text-align:center;">
        <button id="returnbtn" class="return btn">返回</button>
        <button id="cancelBtn" class="confirm btn">取消转让</button>
        <button id="retractBtn" class="confirm btn">撤回</button>
        <button id="returnHisBtn" class="return btn" style="width:150px;">返回上级页面</button>
    </div>
</div>

<!-- 构造弹窗确认签收 -->
<div class="modal fade mytaskModalA" id="txnConfirm">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">宝券转让撤回</h4>
            </div>
            <div class="modal-body">
                <div class="my_signContent">
                    <form class="form-horizontal" id="grxxformFir" onsubmit="return false">
                        <div class="form-group">
                            <span class="col-sm-10 ts">
                                <span>提示：</span>撤回为不可逆操作，请确认是否撤回当前宝券编号为
                            <span id="drftNoModal"></span>，转让金额为<span id="txnAmtModal"></span>元的转让申请？
                            </span>
                            <p class="col-sm-10">如您确认宝券融资，请进行身份验证。</p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7">
                                <input id="smsCode" type="text" class="form-control" placeholder="短信验证码">
                            </div>
                            <input type="button" value="获取验证码" id="sendSmsCode" class="col-sm-3 valid btn" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="txnBtn" type="button" class="btn btn-primary confirmFir">确定</button>
                <button type="button" class="btn btn-default cancelFir" data-dismiss="modal">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="success" class="contentDetailNew">
    <img src="../images/index/chenggong.png">
    <span>撤回成功！</span>
    <span>您已完成宝券编号为<span id="drftNoSucc"></span>， 转让金额为
    <span id="amtSucc"></span>元的撤回申请， 待复核审核后即完成撤回！
    </span>
    <button id="successReturn" class="btn btn-primary">确定</button>
</div>

<!-- 构造弹窗 下载-->
<div class="modal fade PDFModal" id="qsPDF">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" title="" src=""></iframe>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>