<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <img class="col-sm-1" src="../images/index/chaxun_pingdao.png" alt="">
        <div class="col-sm-11">
            <span class="spanTitle">我的宝券>宝券查询><a href="javascript:;" alt="">宝券信息</a></span>
            <span class="spanNote">您在此页面可查看企业持有宝券详细信息</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div id="main" class="contentDetailNew" style="margin-bottom:20px;">
    <div class="contentListTitle">
        <img src="" alt="">
        <div class="drftDetail">
            <label>宝券编号</label>
            <span id="drftNo"></span>
            <span class="fr" id="isseDt"></span>
            <label class="fr">签收日期</label>
        </div>
    </div>

    <div class="contentMain">
        <hr>
        <div class="form-group drftCommonStyle">
            <div class="col-sm-4">
                <label class="control-label">开立方</label>
                <span id="drwrNm"></span>
            </div>
            <div class="col-sm-4">
                <label class="control-label">到期日</label>
                <span id="dueDt"></span>
            </div>
            <div class="col-sm-4">
                <label class="control-label">距到期日</label>
                <span id="dueDays"></span>
            </div>
        </div>
        <div class="form-group drftCommonStyle">
            <div class="col-sm-4">
                <label class="control-label">转出方</label>
                <span id="prevOwnerNm"></span>
            </div>
            <div class="col-sm-4">
                <label class="control-label">担保方</label>
                <span id="confirmingCustNm"></span>
                <a id="applyConfirm">申请担保</a>
            </div>
            <div class="col-sm-4">
                <label class="control-label">状态</label>
                <span id="drftStat" dic-type="119"></span>
            </div>
        </div>
        <hr>
        <div class="form-group drftCommonStyle" style="padding-bottom: 1px;">
            <div class=" col-sm-12">
                <span id="validAmt" class="fr"></span>
                <label class="control-label fr">宝券金额</label>
            </div>
        </div>
    </div>
</div>



<div id="download">
    <div class="download">
        <label class="control-label">宝券加保申请人须知</label>
        <a data-toggle="modal" href="javascript:void(0);" data-target="#transferFir" id="download1" class="fr">查看</a>
    </div>
</div>

<div id="btn" class="row">
    <div class="col-sm-12" style="text-align:center;">
        <button id="returnPrePage" class="return btn" style="width:150px;">返回上级页面</button>
    </div>
</div>

<!-- 构造弹窗 债权转让通知-->
<div class="modal fade protocolModal" id="transferFir">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">宝券加保申请人须知</h4>
            </div>
            <div class="modal-body">
                <div style="border: 1px solid #ccc;border-radius: 4px;padding:4px;">
                    <div class="protocolWrap scrollbar">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>