<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <img class="col-sm-1" src="../images/index/zhuanrang_pingdao.png" alt="">
        <div class="col-sm-3">
            <span class="spanTitle">我的宝券><a href="javascript:;" alt="">宝券转让</a></span>
            <span class="spanNote">您在此页面可进行宝券转让</span>
        </div>
    </div>
</div>

<!--主体内容查询条件等，不是所有页面都有-->
<div class="contentQuery">
    <span class="totalAmtLabel">可转让宝券总额（元）</span>
    <label id="totalTxnAmt" class="totalAmt"></label>
    <a href="javascript:;" id="queryOnTxn" class="queryLink fr">转让中的宝券</a>
    <a href="javascript:;" id="queryTxnHis" class="queryLink fr">查看转让历史</a>
</div>


<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="contentListTitle">
        <img src="" alt="">
        <span>宝券转让</span>
    </div>
    <div class="contentMain">
        <div class="oneTxn">
            <img src="../../images/index/yzy.png" alt="">
            <div class="txnTip">
                <label>一转一</label>
                <span>选择一张您需要转让的宝券给一位常用交易对手</span>
                <a id="oneToOneBtn">立即转让</a>
            </div>
        </div>
        <div class="oneTxn">
            <img src="../../images/index/yzd.png" alt="">
            <div class="txnTip">
                <label>一转多</label>
                <span>选择一张您需要转让的宝券给多位常用交易对手</span>
                <a id="oneToMoreBtn">立即转让</a>
            </div>
        </div>
        <div class="oneTxn">
            <img src="../../images/index/dzy.png" alt="">
            <div class="txnTip">
                <label>多转一</label>
                <span>选择一位常用交易对手转多张您需要转让的宝券</span>
                <a id="moreToOneBtn">立即转让</a>
            </div>
        </div>

    </div>
</div>