<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <img class="col-sm-1" src="../images/index/jiabao_pingdao.png" alt="">
        <div class="col-sm-3">
            <span class="spanTitle">我的宝券><a href="javascript:;" alt="">宝券加保</a></span>
            <span class="spanNote">您在此页面可对企业持有宝券加保</span>
        </div>
    </div>
</div>

<!--主体内容查询条件等，不是所有页面都有-->
<!--<div class="contentQuery">

</div>-->

<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="contentListTitle">
        <img src="" alt="">
        <span>可加保宝券</span>
    </div>
    <div class="contentMain">
        <table class="table" rules="cols" style="border:1px solid #eaf0f4;">
            <thead>
                <tr>
                    <th style="width:80px;"><span><input  type="checkbox" id="checkAll"><label for="checkAll"></label></span></th>
                    <th>宝券编号</th>
                    <th>转入时间</th>
                    <th>宝券金额</th>
                    <th>转入方</th>
                    <th>到期日</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div id="noDataTip">无可用数据!</div>
        <div id="page">
            <ul>
                <li><button id="firstPage">首页</button></li>
                <li><button id="prePage">上一页</button></li>
                <li><span id="pageInfo"><span id="pageIndex"></span>页/<span id="totalPage"></span>页</span>
                </li>
                <li><button id="nextPage">下一页</button></li>
                <li><button id="lastPage">尾页</button></li>
            </ul>
            <span id="eachPage">每页显示条数
                <select id="pageSize">
                    <option value=1 selected>10</option>
                    <option value=2>20</option>
                    <option value=3>30</option>
                    <option value=4>40</option>
                    <option value=5>50</option>
                </select>
            </span>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button id="applyConfirm" class="confirm btn btn-primary">申请加保</button>
            </div>
            <!--<div class="col-sm-6">
                <button id="bhjb" class="back btn btn-primary fl">驳回</button>
            </div>-->
        </div>
    </div>
</div>