<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <img class="col-sm-1" src="../images/index/zhuanrang_pingdao.png" alt="">
        <div class="col-sm-11">
            <span class="spanTitle">我的宝券>宝券转让>宝券多转一><a href="javascript:;" alt="">转让信息</a></span>
            <span class="spanNote"></span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div id="main" class="contentDetail" style="background-color:#ffffff;padding:35px 20px;">
    <div class="procedureTxn">
        <span id="one"><i>输入金额</i></span>
        <span id="two"><i>选择宝券</i></span>
        <span id="three"><i>转让信息</i></span>
        <span id="four"><i>转让结果</i></span>
    </div>
    <div class="contentListTitle">
        <img src="" alt="">
        <span>转让信息</span>
    </div>
    <div class="contentMain">
        <div class="txnDrftInfo">
            <div class="oneItem">
                <label>应转让总额（元）</label>
                <span id="txnAmtSum"></span>
            </div>
            <div class="oneItem" style="width:500px;">
                <label>转入方</label>
                <span id="rcvCustNo"></span>
            </div>

        </div>
    </div>

    <div class="contentListTitle">
        <img src="" alt="">
        <span>宝券明细</span>
    </div>
    <div class="contentMain">
        <div id="txnTransInfo">
            <div class="txnInfo">
                <i class="drftId" hidden></i>
                <i class="drftNo" hidden></i>
                <div class="oneItem">
                    <label>可用金额</label>
                    <span class="validAmt"></span>
                </div>
                <div class="oneItem">
                    <label>转让金额（元）</label>
                    <input class="txnAmt">
                </div>
                <div class="oneItem">
                    <label>延期（天）</label>
                    <i class="tip">距到期日<span class="dueDaysNew"></span>天</i>
                    <span><i class="subtract">-</i><span class="isDelay"></span><i class="add">+</i></span>

                </div>
                <div class="oneItem">
                    <label>预计收益（金币）</label>
                    <span class="bouns"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <button id="preStep" class="back btn btn-primary fr" style="background-color:#ffffff;color:#666666;">上一步</button>
        </div>
        <div class="col-sm-6">
            <button id="nextStep" class="confirm btn btn-primary fl">确定</button>
        </div>
    </div>
</div>

<!-- 构造弹窗确认签收 -->
<div class="modal fade mytaskModalA" id="txnMoreConfirm">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">宝券转让</h4>
            </div>
            <div class="modal-body">
                <div class="my_signContent">
                    <form class="form-horizontal" id="grxxformFir" onsubmit="return false">
                        <div class="form-group">
                            <p class="col-sm-10">如您确认转让该宝券，请进行身份验证。</p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7">
                                <input id="smsCode" type="text" class="form-control" placeholder="短信验证码">
                            </div>
                            <input type="button" value="获取验证码" id="sendSmsCode" class="col-sm-3 valid btn" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="txnBtn" type="button" class="btn btn-primary confirmFir">确定</button>
                <button type="button" class="btn btn-default cancelFir" data-dismiss="modal">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="success" class="contentDetail" style="background-color:#ffffff;padding:35px 20px;">
    <img src="../images/index/chenggong.png">
    <span>转让成功！</span>
    <span>您已完成宝券编号为<span id="drftNoSucc"></span>， 转让金额为
    <span id="amtSucc"></span>元的转让申请！
    </span>
    <button id="successReturn" class="btn btn-primary">确定</button>
</div>