<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-ic_widgets_black_p"></i>
        </div>
        <div class="col-sm-3">
            <span class="spanTitle">我的工作台</span>
            <span class="spanNote">您在此页面可快捷处理待办任务</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div id="signAndTask" class="contentDetail clearfix">
    <!-- 宝券签收-->
    <div class="myTask">
        <div class="tip"></div>
        <!-- 小标题-->
        <div class="myTaskTitle">
            <h2>宝券签收</h2>
            <span id="signCount"></span>
        </div>
        <!-- 1-->
        <div id="signList">
        </div>
        <p class="nodata-tip"></p>
        <!-- 查看更多-->
        <div id="title2"></div>
        <div class="myTaskMore"><a href="javascript:void(0);" id="moreBtn">查看更多<span>&gt;</span></a></div>
    </div>
    <!-- 转让复核-->
    <div class="myTask">
        <div class="tip"></div>
        <!-- 小标题-->
        <div class="myTaskTitle">
            <h2>转让复核</h2>
            <span id="txnCount"></span>
        </div>
        <div id="txnList">
            
        </div>
        <p class="nodata-tip"></p>
        <!-- 查看更多-->
        <div class="myTaskMore"><a href="javascript:void(0);" id="moreBtnSec">查看更多<span>&gt;</span></a></div>
    </div>
    <!-- 融资复核-->
    <div class="myTask">
        <div class="tip"></div>
        <!-- 小标题-->
        <div class="myTaskTitle">
            <h2>融资复核</h2>
            <span id="disctCount"></span>
        </div>
        <div id="disctList">
        </div>
        <p class="nodata-tip"></p>
        <!-- 查看更多-->
        <div class="myTaskMore"><a href="javascript:void(0);" id="moreBtnThi">查看更多<span>&gt;</span></a></div>
    </div>
</div>
<!--未签约-->
<div id="unsigned" class="contentDetail signed">
    <img src="../images/index/pic-sign01.png" alt="" />
    <p>欢迎使用中兴晨蜂金融平台</p>
    <span>请先完善用户协议签约再开始办公</span>
</div>