<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row clearfix" style="position:relative;">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-xiaoxi"></i>
        </div>

        <div class="col-sm-3">
            <span class="spanTitle grxx">我的消息</span>
        </div>
        <div class="opera">

            <div class="fr newsSelText">
                <select id="cardType" class="form-control selectN">
                    <option value="2" slected>全部消息</option>
                    <option value="0">未读消息</option>
                    <option value="1">已读消息</option>
                </select>
            </div>
            <div class="fr newsMark">
                <button class="btn" type="button">标记为已读</button>
            </div>

            <div class="fr newsReadSel">
                <button class="btn" type="button">删除</button>
            </div>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetailNew newsContents">
    <div id="newsList">
    </div>
    <div id="noDataTip">无可用数据!</div>
    <div id="page">
        <ul>
            <li><button id="firstPage">首页</button></li>
            <li><button id="prePage">上一页</button></li>
            <li><span id="pageInfo"><span id="pageIndex">1</span>页/<span id="totalPage"></span>页</span>
            </li>
            <li><button id="nextPage">下一页</button></li>
            <li><button id="lastPage">尾页</button></li>
        </ul>
        <span id="eachPage">每页显示条数
                <select id="pageSize">
                    <option value=2 selected>10</option>
                    <option value=3>15</option>
                    <option value=4>20</option>
                    <option value=5>25</option>
                </select>
        </span>
    </div>
</div>