<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <img class="col-sm-1" src="../images/index/help.png" alt="">
        <div class="col-sm-3">
            <span class="spanTitle grxx">使用帮助</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="contentMain bgcolor" id="helpList">
    </div>
    <div id="noDataTip">无可用数据!</div>
    <div id="page">
        <ul>
            <li><button id="firstPage">首页</button></li>
            <li><button id="prePage">上一页</button></li>
            <li><span id="pageInfo"><span id="pageIndex">1</span>页/<span id="totalPage"></span>页</span>
            </li>
            <li><button id="nextPage">下一页</button></li>
            <li><button id="lastPage">尾页</button></li>
        </ul>
        <span id="eachPage">每页显示条数
        <select id="pageSize">
            <option value=2 selected>10</option>
            <option value=3>15</option>
            <option value=4>20</option>
            <option value=5>25</option>
        </select>
    </div>
</div>