<!--主体内容标题导航等-->
<div class="contentHeader">
    <div class="row">
        <div class="col-sm-1 icon-wrap">
            <i class="icon iconfont icon-kehu" style="font-size:22px;"></i>
        </div>
        <div class="col-sm-3">
            <span class="spanTitle">企业信息><a href="javascript:;" alt="">用户管理</a></span>
            <span class="spanNote">您可在此页面进行用户管理</span>
        </div>
    </div>
</div>

<!--主体内容明细部分-->
<div class="contentDetail">
    <div class="infoGroup minSize">
        <div class="infoGroupTitle">
            <h4>用户管理</h4>
        </div>
        <div class="infoGroupContent">
            <table id="userList" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>用户姓名</th>
                        <th>手机号码</th>
                        <th>证件号码</th>
                        <th>岗位</th>
                        <th dic-type="132">状态</th>
                        <th width="228">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <!--<tr>-->
                    <!--<td>王强</td>-->
                    <!--<td>187****0000</td>-->
                    <!--<td>142429000011112222</td>-->
                    <!--<td>管理员</td>-->
                    <!--<td>正常</td>-->
                    <!--&lt;!&ndash;锁定是红色的&ndash;&gt;-->
                    <!--<td>-->
                    <!--<a class="blue modify" href="#">修改</a>-->
                    <!--<a class="red delete" href="#">删除</a>-->
                    <!--<a class="lock" href="#">锁定</a>-->
                    <!--<a class="reset" href="#">密码重置</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                </tbody>
            </table>

            <div id="noDataTip">无可用数据!</div>

            <div id="page">
                <ul>
                    <li><button id="firstPage">首页</button></li>
                    <li><button id="prePage">上一页</button></li>
                    <li><span id="pageInfo"><span id="pageIndex">1</span>页/<span id="totalPage"></span>页</span>
                    </li>
                    <li><button id="nextPage">下一页</button></li>
                    <li><button id="lastPage">尾页</button></li>
                </ul>
                <span id="eachPage">每页显示条数
                    <select id="pageSize">
                        <option value=2 selected>10</option>
                        <option value=3>15</option>
                        <option value=4>20</option>
                        <option value=5>25</option>
                    </select>
                </span>
                <input id="isQuery" type="hidden" value=0>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 add">
                <button id="add" class="pre-step btn btn-primary">新增</button>
            </div>
        </div>
    </div>

</div>