<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>转让待复核</title>
      <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="../css/reset.css">
      <link rel="stylesheet" type="text/css" href="../css/financing.css">
</head>
<body>
<div class=" nav-Speed qianshou">
      <ul class="list ">
            <li class="item clearfix" >
                  <label class="pull-left">转出方</label>
                  <span class="pull-right" id="rollOut"></span>
            </li>
            <li class="item clearfix">
                  <label class="pull-left">转让金额</label>
                  <span class="pull-right text-red" id="transferAmount"></span>
            </li>
            <li class="item clearfix">
                  <label class="pull-left">到期日</label>
                  <span class="pull-right" id="maturityDate"></span>
            </li>
            <li class="item clearfix">
                  <label class="pull-left">距到期日</label>
                  <span class="pull-right" id="dueDates"></span>
            </li>
            <li class="item clearfix">
                  <label class="pull-left">开单方</label>
                  <span class="pull-right " id="openUnilaterally"></span>
            </li>
            <li class="item clearfix">
                  <label class="pull-left">转出日期</label>
                  <span class="pull-right " id="rollOutDate"></span>
            </li>
            <li class="item clearfix">
                  <label class="pull-left">宝券编号</label>
                  <span class="pull-right" id="vouchersNum"></span>
            </li>
      </ul>
</div>
</body>
</html>
<!-- base-js-->
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/jquery.json-2.4.js"></script>
<script src="../js/bootstrapValidator.min.js"></script>
<!--ifs-js-->
<script src="../js/global.js"></script>
<script src="../js/ifs/ifs-router-config.js"></script>
<script src="../js/ifs/ifs-router.js"></script>
<script src="../js/ifs/ifs-config.js"></script>
<script src="../js/ifs/ifs-regular.js"></script>
<script src="../js/ifs/ifs-ajax.js"></script>
<script src="../js/common.js"></script>
<!--biz-js -->

<script type="text/javascript" src="../js/biz/draftSignDtl.js"></script>
