<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
  <title>我的融资</title>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../css/swiper-3.3.1.min.css"/>
  <!--<link rel="stylesheet" href="../css/myTask.css"/>-->
  <link rel="stylesheet" type="text/css" href="../css/financing.css">
</head>
<body>
<div class="headers-bl">
  <h1 class="text-center" id="finAmount"></h1>
  <h3 class="text-center"> 累计融资总额 <span id="finTotal"></span></h3>
</div>
<div class="data-money">
  <div class=" left pull-left">
    <span class="data">交易日期</span>
    <div class=" pull-right">
      <p class="traDate">
        <span data-sort="01" class="sort glyphicon glyphicon-triangle-top active"></span>
        <span data-sort="02" class="sort glyphicon glyphicon-triangle-bottom "></span>
      </p>
    </div>
  </div>
  <div class=" left right pull-right">
    <span class="data">金额区间</span>
    <div class=" pull-right">
      <p class="moneyBe">
        <span data-sort="03" class="sort glyphicon glyphicon-triangle-top active "></span>
        <span data-sort="04" class="sort glyphicon glyphicon-triangle-bottom"></span>
      </p>
    </div>
  </div>
</div>

<!--<div id="wrapper"  class="container list-data" >-->
  <!-- 刷新-->
  <div class="swiper-container">
    <div class="refreshtip">下拉可以刷新</div>
    <div class="swiper-wrapper swiperWdt">
      <div class="swiper-slide d">
        <div class="init-loading list-group-item text-center" style="display:none;">下拉可以刷新</div>
        <div class="swiper-container2">
          <div class="swiper-wrapper" style="margin-top:1rem;">
            <!-- 数据-->
            <ul>
            </ul>

          </div>

        </div>
      </div>

    </div>
    <div class="loadtip">上拉加载更多</div>
    <div class="swiper-scrollbar"></div>
  </div>
<div class="noDataTip" style="display:none;">暂无数据!</div>
<!--</div>-->
</body>
</html>
<!-- base-js-->
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/jquery.json-2.4.js"></script>
<!--ifs-js-->
<script src="../js/global.js"></script>
<script src="../js/ifs/ifs-router-config.js"></script>
<script src="../js/ifs/ifs-router.js"></script>
<script src="../js/ifs/ifs-config.js"></script>
<script src="../js/ifs/ifs-regular.js"></script>
<script src="../js/ifs/ifs-ajax.js"></script>
<script src="../js/common.js"></script>
<script src="../js/MD5.js"></script>
<!--public-->
<script src="../js/biz/public.js"></script>
<!--biz-js -->
<script src="../js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="../js/biz/myFinance.js"></script>