#commondContent #retpwd {
  margin: 0 auto;
  margin-top: 80px;
}
#commondContent #retpwd .input-mobile {
  width: 356px;
}
#commondContent #retpwd .input-valid {
  width: 216px;
  display: inline-block;
}
#commondContent #retpwd #imgCode {
  height: 34px;
  width: 120px;
  margin-left: 15px;
  margin-top: -3px;
}
#commondContent #retpwd .lxkf {
  color: #e71e1e;
  text-align: left;
  font-size: 12px;
  margin-left: 15px;
}
#commondContent #retpwd .changeSpan {
  font-size: 13px;
  width: 84px;
  height: 16px;
  color: #b7b7b7;
  margin-left: 5px;
}
#commondContent #retpwd .changeSpan .change {
  color: #1094f5;
  cursor: pointer;
}
#commondContent #retpwd .valid {
  color: #fff;
  font-size: 12px;
  height: 34px;
  width: 120px;
  background: transparent;
  border-color: transparent;
  background: #157df2;
  margin-left: 15px;
  margin-top: -3px;
  display: inline-block;
}
#commondContent #retpwd .pre-step {
  width: 120px;
  height: 34px;
  border-radius: 2px;
  border-color: #999999;
  background-color: #ffffff;
  color: #666666;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  margin-right: 35px;
}
#commondContent #retpwd .next-step {
  width: 120px;
  height: 34px;
  border-radius: 2px;
  border-color: transparent;
  background-color: #157df2;
  color: #fff;
  text-align: center;
  font-size: 16px;
  display: inline-block;
}
#commondContent #retpwd .safeLevel {
  width: 60px;
  height: 16px;
  color: #b7b7b7;
  text-align: left;
  font-size: 12px;
  margin-left: 13px;
}
#commondContent #retpwd .safeLevel .safeLevelPro {
  width: 100px;
  height: 9px;
  border-radius: 77px;
  background-color: #d8d8d8;
  display: inline-block;
  margin: 10px 0px 0px 0px;
}
#commondContent #retpwd .safeLevel .safeLevelPro .safeLevelProBar {
  border-radius: 66px;
}
